openapi: 3.2.0
info:
  title: SCIM Discovery API
  description: 'Janssen SCIM 2.0 server API. Developers can think of SCIM as a REST API with endpoints exposing CRUD functionality

    (create, update, retrieve and delete) for identity management resources such as users, groups, and fido devices.'
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io/jans-scim/restv1/v2
tags:
- name: Discovery
  description: Endpoints to facilitate discovery of SCIM service provider features
paths:
  /ServiceProviderConfig:
    get:
      tags:
      - Discovery
      operationId: get-service-provider-config
      description: Describes the SCIM specification features available (see section 5 of RFC 7644)
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ServiceProviderConfigResponse'
        500:
          description: There was an unexpected failure executing the operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get service provider config
      x-summary-source: derived
  /ResourceTypes:
    get:
      tags:
      - Discovery
      operationId: get-resource-types
      description: This endpoint is used to discover the types of resources available (see section 4 of RFC 7644)
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ResourceTypeListResponse'
        500:
          description: There was an unexpected failure executing the operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get resource types
      x-summary-source: derived
  /ResourceTypes/{resource}:
    get:
      tags:
      - Discovery
      operationId: get-resource-type-by-id
      description: 'Describes the endpoint, schemas and extensions supported by a specific kind of resource.

        It returns a specific portion of the ouput of the more general /Resources endpoint'
      parameters:
      - name: resource
        in: path
        required: true
        schema:
          type: string
          enum:
          - User
          - Group
          - Fido2Device
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ResourceType'
        500:
          description: There was an unexpected failure executing the operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get resource type by id
      x-summary-source: derived
  /Schemas:
    get:
      tags:
      - Discovery
      operationId: get-schemas
      description: 'Endpoint used to retrieve information about schemas supported (see section

        4 of RFC 7644)'
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SchemaListResponse'
        500:
          description: There was an unexpected failure executing the operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get schemas
      x-summary-source: derived
  /Schemas/{uri}:
    get:
      tags:
      - Discovery
      operationId: get-schema-by-uri
      description: Retrieves information about a specific resource
      parameters:
      - name: uri
        in: path
        description: Schema URI of a particular resource type
        required: true
        schema:
          type: string
          enum:
          - urn:ietf:params:scim:schemas:core:2.0:User
          - urn:ietf:params:scim:schemas:extension:gluu:2.0:User
          - urn:ietf:params:scim:schemas:core:2.0:Group
          - urn:ietf:params:scim:schemas:core:2.0:Fido2Device
      responses:
        200:
          description: Successful operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/SchemaResource'
        500:
          description: There was an unexpected failure executing the operation
          content:
            application/scim+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: Get schema by uri
      x-summary-source: derived
components:
  schemas:
    SchemaListResponse:
      allOf:
      - $ref: '#/components/schemas/BasicListResponse'
      - type: object
        properties:
          Resources:
            type: array
            items:
              $ref: '#/components/schemas/SchemaResource'
    SchemaAttribute:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        subAttributes:
          type: array
          items:
            $ref: '#/components/schemas/SchemaAttribute'
        multiValued:
          type: boolean
        description:
          type: string
        required:
          type: string
        canonicalValues:
          type: array
          items:
            type: string
        caseExact:
          type: boolean
        mutability:
          type: string
        returned:
          type: string
        uniqueness:
          type: string
        referenceTypes:
          type: array
          items:
            type: string
      description: A recursive definition. Note how property subAttributes reuses SchemaAttribute for its definition
    SchemaResource:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:Schema
        id:
          type: string
        meta:
          type: object
          properties:
            resourceType:
              type: string
            location:
              type: string
        name:
          type: string
        description:
          type: string
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/SchemaAttribute'
    BasicListResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:ListResponse
        totalResults:
          type: integer
          description: Total number of results returned by the search. The value may be larger than the number of resources returned due to pagination
        startIndex:
          type: integer
          description: The 1-based index of the first result in the current set of search results
        itemsPerPage:
          type: integer
          description: The number of resources returned in a results page
    ServiceProviderConfigResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig
        meta:
          type: object
          properties:
            resourceType:
              type: string
            location:
              type: string
        documentationUri:
          type: string
        patch:
          type: object
          properties:
            supported:
              type: boolean
        bulk:
          type: object
          properties:
            supported:
              type: boolean
            maxOperations:
              type: integer
            maxPayloadSize:
              type: integer
        filter:
          type: object
          properties:
            supported:
              type: boolean
            maxResults:
              type: integer
        changePassword:
          type: object
          properties:
            supported:
              type: boolean
        sort:
          type: object
          properties:
            supported:
              type: boolean
        etag:
          type: object
          properties:
            supported:
              type: boolean
        authenticationSchemes:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationScheme'
      description: See section 5 of RFC 7643
    AuthenticationScheme:
      required:
      - type
      - name
      - description
      type: object
      properties:
        type:
          type: string
          example: oauth2
        name:
          type: string
        description:
          type: string
        specUri:
          type: string
        documentationUri:
          type: string
        primary:
          type: boolean
      description: See section 5 of RFC 7643
    ResourceType:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:schemas:core:2.0:ResourceType
        id:
          type: string
        meta:
          type: object
          properties:
            resourceType:
              type: string
            location:
              type: string
        name:
          type: string
        description:
          type: string
        endpoint:
          type: string
        schema:
          type: string
        schemaExtensions:
          type: object
          properties:
            schema:
              type: string
            required:
              type: boolean
      description: See section 6 of RFC 7643
    ErrorResponse:
      required:
      - status
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
            example: urn:ietf:params:scim:api:messages:2.0:Error
        status:
          type: string
          description: HTTP status code as string
        scimType:
          type: string
          description: A detail error keyword. See table 9 of RFC 7644
        detail:
          type: string
          description: A detailed human-readable message of the error
      description: See section 3.12 of RFC 7644
    ResourceTypeListResponse:
      allOf:
      - $ref: '#/components/schemas/BasicListResponse'
      - type: object
        properties:
          Resources:
            type: array
            items:
              $ref: '#/components/schemas/ResourceType'
  securitySchemes:
    scim_oauth:
      type: oauth2
      description: Endpoints protected by a bearer token passed in the Authorization header.
      flows:
        clientCredentials:
          tokenUrl: https://localhost/jans-auth/restv1/token
          scopes:
            https://jans.io/scim/users.read: Query user resources
            https://jans.io/scim/users.write: Modify user resources
            https://jans.io/scim/groups.read: Query group resources
            https://jans.io/scim/groups.write: Modify group resources
            https://jans.io/scim/fido.read: Query fido resources
            https://jans.io/scim/fido.write: Modify fido resources
            https://jans.io/scim/fido2.read: Query fido 2 resources
            https://jans.io/scim/fido2.write: Modify fido 2 resources
            https://jans.io/scim/all-resources.search: Access the root .search endpoint
            https://jans.io/scim/bulk: Send requests to the bulk endpoint
            https://jans.io/scim/tokens: List and revoke user tokens
