openapi: 3.2.0
info:
  title: Jans Config API - Admin-UI Admin UI - Configuration API
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Admin UI - Configuration
paths:
  /admin-ui/config:
    get:
      tags:
      - Admin UI - Configuration
      summary: Get Admin UI editable configuration
      operationId: get-adminui-conf
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/properties.write
    put:
      tags:
      - Admin UI - Configuration
      summary: Edit Admin UI editable configuration
      operationId: edit-adminui-conf
      requestBody:
        description: Admin Config object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfigResponse'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/properties.write
components:
  schemas:
    JsonNode:
      type: object
    GenericResponse:
      type: object
      properties:
        success:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: integer
          format: int32
        responseObject:
          $ref: '#/components/schemas/JsonNode'
        responseBytes:
          type: string
          format: byte
    KeyValuePair:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    AppConfigResponse:
      type: object
      properties:
        authServerHost:
          type: string
          description: Auth Server host
          readOnly: true
        authzBaseUrl:
          type: string
          description: Authorization base URL
          readOnly: true
        clientId:
          type: string
          description: OIDC Client ID
          readOnly: true
        responseType:
          type: string
          description: OIDC Client Secret
          readOnly: true
        scope:
          type: string
          description: Scope
          readOnly: true
        redirectUrl:
          type: string
          description: Redirect URL
          readOnly: true
        acrValues:
          type: string
          description: ACR Value
        frontChannelLogoutUrl:
          type: string
          description: Front Channel Logout URL
          readOnly: true
        postLogoutRedirectUri:
          type: string
          description: Post Logout Redirect URL
          readOnly: true
        endSessionEndpoint:
          type: string
          description: End Session Endpoint
          readOnly: true
        sessionTimeoutInMins:
          type: integer
          description: Admin UI Session Timeout
          format: int32
        allowSmtpKeystoreEdit:
          type: boolean
          description: Admin UI allow SMTP Keystore Edit
        additionalParameters:
          type: array
          description: Additional Authentication Parameters
          items:
            $ref: '#/components/schemas/KeyValuePair'
        cedarlingLogType:
          type: string
          description: Cedarling log type
          enum:
          - 'off'
          - std_out
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly: View admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write: Manage admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete: Delete admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly: View admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write: Manage admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete: Delete admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly: View role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write: Manage role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete: Delete role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly: View admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.write: Manage admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.admin: Full administrative access to license related information (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/security.readonly: View Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.write: Edit Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.delete: Delete Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly: View Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.write: Manage Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin: Full administrative access to admin user roles (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin: Full administrative access to admin permissions (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.admin: Full administrative access to role-permission mappings (super-user level)
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
