openapi: 3.2.0
info:
  title: Jans Config Database API
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io
  description: The Jans server
tags:
- name: Database
paths:
  /api/v1/config/database:
    get:
      tags:
      - Database
      summary: Gets schema objects
      description: Gets schema objects.
      operationId: get-schema
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseSchemaMap'
              examples:
                Response example:
                  description: Response example
                  value: "{\n    \"janshealthentry\": {\n        \"jansservice\": {\n            \"name\": \"jansservice\",\n            \"defName\": \"jansService\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansnodename\": {\n            \"name\": \"jansnodename\",\n            \"defName\": \"jansNodeName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"enginestatus\": {\n            \"name\": \"enginestatus\",\n            \"defName\": \"engineStatus\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"eventtime\": {\n            \"name\": \"eventtime\",\n            \"defName\": \"eventTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"auifeatures\": {\n        \"webhookid\": {\n            \"name\": \"webhookid\",\n            \"defName\": \"webhookId\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"auifeatureid\": {\n            \"name\": \"auifeatureid\",\n            \"defName\": \"auiFeatureId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscope\": {\n            \"name\": \"jansscope\",\n            \"defName\": \"jansScope\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        }\n    },\n    \"jansdocument\": {\n        \"jansrevision\": {\n            \"name\": \"jansrevision\",\n            \"defName\": \"jansRevision\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"jansservice\": {\n            \"name\": \"jansservice\",\n            \"defName\": \"jansService\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansenabled\": {\n            \"name\": \"jansenabled\",\n            \"defName\": \"jansEnabled\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"ou\": {\n            \"name\": \"ou\",\n            \"defName\": \"ou\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"document\": {\n            \"name\": \"document\",\n            \"defName\": \"document\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansfilepath\": {\n            \"name\": \"jansfilepath\",\n            \"defName\": \"jansFilePath\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslevel\": {\n            \"name\": \"janslevel\",\n            \"defName\": \"jansLevel\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        }\n    },\n    \"jansnode\": {\n        \"janslastupd\": {\n            \"name\": \"janslastupd\",\n            \"defName\": \"jansLastUpd\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansnum\": {\n            \"name\": \"jansnum\",\n            \"defName\": \"jansNum\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"lockkey\": {\n            \"name\": \"lockkey\",\n            \"defName\": \"lockKey\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janstype\": {\n            \"name\": \"janstype\",\n            \"defName\": \"jansType\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansu2freq\": {\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansreqid\": {\n            \"name\": \"jansreqid\",\n            \"defName\": \"jansReqId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssessstateid\": {\n            \"name\": \"janssessstateid\",\n            \"defName\": \"jansSessStateId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansreq\": {\n            \"name\": \"jansreq\",\n            \"defName\": \"jansReq\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"personinum\": {\n            \"name\": \"personinum\",\n            \"defName\": \"personInum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"janssessid\": {\n        \"janspermissiongranted\": {\n            \"name\": \"janspermissiongranted\",\n            \"defName\": \"jansPermissionGranted\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janssessattr\": {\n            \"name\": \"janssessattr\",\n            \"defName\": \"jansSessAttr\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansinvolvedclnts\": {\n            \"name\": \"jansinvolvedclnts\",\n            \"defName\": \"jansInvolvedClnts\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansasjwt\": {\n            \"name\": \"jansasjwt\",\n            \"defName\": \"jansAsJwt\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansattrs\": {\n            \"name\": \"jansattrs\",\n            \"defName\": \"jansAttrs\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janslastaccesstime\": {\n            \"name\": \"janslastaccesstime\",\n            \"defName\": \"jansLastAccessTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansstate\": {\n            \"name\": \"jansstate\",\n            \"defName\": \"jansState\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"devicesecret\": {\n            \"name\": \"devicesecret\",\n            \"defName\": \"deviceSecret\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"sid\": {\n            \"name\": \"sid\",\n            \"defName\": \"sid\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"authntime\": {\n            \"name\": \"authntime\",\n            \"defName\": \"authnTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansjwt\": {\n            \"name\": \"jansjwt\",\n            \"defName\": \"jansJwt\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansusrdn\": {\n            \"name\": \"jansusrdn\",\n            \"defName\": \"jansUsrDN\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"janspermissiongrantedmap\": {\n            \"name\": \"janspermissiongrantedmap\",\n            \"defName\": \"jansPermissionGrantedMap\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janssessstate\": {\n            \"name\": \"janssessstate\",\n            \"defName\": \"jansSessState\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        }\n    },\n    \"jansumarpt\": {\n        \"dpop\": {\n            \"name\": \"dpop\",\n            \"defName\": \"dpop\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"grttyp\": {\n            \"name\": \"grttyp\",\n            \"defName\": \"grtTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"chlng\": {\n            \"name\": \"chlng\",\n            \"defName\": \"chlng\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"usrid\": {\n            \"name\": \"usrid\",\n            \"defName\": \"usrId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansumapermission\": {\n            \"name\": \"jansumapermission\",\n            \"defName\": \"jansUmaPermission\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"uuid\": {\n            \"name\": \"uuid\",\n            \"defName\": \"uuid\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"acr\": {\n            \"name\": \"acr\",\n            \"defName\": \"acr\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jwtreq\": {\n            \"name\": \"jwtreq\",\n            \"defName\": \"jwtReq\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansusrdn\": {\n            \"name\": \"jansusrdn\",\n            \"defName\": \"jansUsrDN\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"attr\": {\n            \"name\": \"attr\",\n            \"defName\": \"attr\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"iat\": {\n            \"name\": \"iat\",\n            \"defName\": \"iat\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"tkntyp\": {\n            \"name\": \"tkntyp\",\n            \"defName\": \"tknTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jti\": {\n            \"name\": \"jti\",\n            \"defName\": \"jti\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"tknbndcnf\": {\n            \"name\": \"tknbndcnf\",\n            \"defName\": \"tknBndCnf\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"scp\": {\n            \"name\": \"scp\",\n            \"defName\": \"scp\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"clms\": {\n            \"name\": \"clms\",\n            \"defName\": \"clms\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"nnc\": {\n            \"name\": \"nnc\",\n            \"defName\": \"nnc\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"ssnid\": {\n            \"name\": \"ssnid\",\n            \"defName\": \"ssnId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"tkncde\": {\n            \"name\": \"tkncde\",\n            \"defName\": \"tknCde\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"clnid\": {\n            \"name\": \"clnid\",\n            \"defName\": \"clnId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"grtid\": {\n            \"name\": \"grtid\",\n            \"defName\": \"grtId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"chlngmth\": {\n            \"name\": \"chlngmth\",\n            \"defName\": \"chlngMth\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"authntime\": {\n            \"name\": \"authntime\",\n            \"defName\": \"authnTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"authzcode\": {\n            \"name\": \"authzcode\",\n            \"defName\": \"authzCode\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansarchjwk\": {\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansdata\": {\n            \"name\": \"jansdata\",\n            \"defName\": \"jansData\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"attr\": {\n            \"name\": \"attr\",\n            \"defName\": \"attr\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansrp\": {\n        \"dat\": {\n            \"name\": \"dat\",\n            \"defName\": \"dat\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansorganization\": {\n        \"mail\": {\n            \"name\": \"mail\",\n            \"defName\": \"mail\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"telephonenumber\": {\n            \"name\": \"telephonenumber\",\n            \"defName\": \"telephoneNumber\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansthemecolor\": {\n            \"name\": \"jansthemecolor\",\n            \"defName\": \"jansThemeColor\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"title\": {\n            \"name\": \"title\",\n            \"defName\": \"title\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslogoimage\": {\n            \"name\": \"janslogoimage\",\n            \"defName\": \"jansLogoImage\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmanagergrp\": {\n            \"name\": \"jansmanagergrp\",\n            \"defName\": \"jansManagerGrp\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"uid\": {\n            \"name\": \"uid\",\n            \"defName\": \"uid\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"postalcode\": {\n            \"name\": \"postalcode\",\n            \"defName\": \"postalCode\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"street\": {\n            \"name\": \"street\",\n            \"defName\": \"street\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansorgshortname\": {\n            \"name\": \"jansorgshortname\",\n            \"defName\": \"jansOrgShortName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janscustommessage\": {\n            \"name\": \"janscustommessage\",\n            \"defName\": \"jansCustomMessage\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"st\": {\n            \"name\": \"st\",\n            \"defName\": \"st\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"c\": {\n            \"name\": \"c\",\n            \"defName\": \"c\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansregistrationconf\": {\n            \"name\": \"jansregistrationconf\",\n            \"defName\": \"jansRegistrationConf\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslogopath\": {\n            \"name\": \"janslogopath\",\n            \"defName\": \"jansLogoPath\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansfaviconimage\": {\n            \"name\": \"jansfaviconimage\",\n            \"defName\": \"jansFaviconImage\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmanager\": {\n            \"name\": \"jansmanager\",\n            \"defName\": \"jansManager\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"l\": {\n            \"name\": \"l\",\n            \"defName\": \"l\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"o\": {\n            \"name\": \"o\",\n            \"defName\": \"o\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansfaviconpath\": {\n            \"name\": \"jansfaviconpath\",\n            \"defName\": \"jansFaviconPath\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janscreationtimestamp\": {\n            \"name\": \"janscreationtimestamp\",\n            \"defName\": \"jansCreationTimestamp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"memberof\": {\n            \"name\": \"memberof\",\n            \"defName\": \"memberOf\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"agmflow\": {\n        \"jansrevision\": {\n            \"name\": \"jansrevision\",\n            \"defName\": \"jansRevision\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"jansenabled\": {\n            \"name\": \"jansenabled\",\n            \"defName\": \"jansEnabled\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janscustommessage\": {\n            \"name\": \"janscustommessage\",\n            \"defName\": \"jansCustomMessage\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscrerror\": {\n            \"name\": \"jansscrerror\",\n            \"defName\": \"jansScrError\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"agflowmeta\": {\n            \"name\": \"agflowmeta\",\n            \"defName\": \"agFlowMeta\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"agflowtrans\": {\n            \"name\": \"agflowtrans\",\n            \"defName\": \"agFlowTrans\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansscr\": {\n            \"name\": \"jansscr\",\n            \"defName\": \"jansScr\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"agflowqname\": {\n            \"name\": \"agflowqname\",\n            \"defName\": \"agFlowQname\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansclnt\": {\n        \"jansresptyp\": {\n            \"name\": \"jansresptyp\",\n            \"defName\": \"jansRespTyp\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansinclclaimsinidtkn\": {\n            \"name\": \"jansinclclaimsinidtkn\",\n            \"defName\": \"jansInclClaimsInIdTkn\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janspolicyurilocalized\": {\n            \"name\": \"janspolicyurilocalized\",\n            \"defName\": \"jansPolicyURILocalized\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansjwks\": {\n            \"name\": \"jansjwks\",\n            \"defName\": \"jansJwks\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansattrs\": {\n            \"name\": \"jansattrs\",\n            \"defName\": \"jansAttrs\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansjwksuri\": {\n            \"name\": \"jansjwksuri\",\n            \"defName\": \"jansJwksURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janspostlogoutredirecturi\": {\n            \"name\": \"janspostlogoutredirecturi\",\n            \"defName\": \"jansPostLogoutRedirectURI\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"mycustomattr1\": {\n            \"name\": \"mycustomattr1\",\n            \"defName\": \"myCustomAttr1\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansdefacrvalues\": {\n            \"name\": \"jansdefacrvalues\",\n            \"defName\": \"jansDefAcrValues\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansdefmaxage\": {\n            \"name\": \"jansdefmaxage\",\n            \"defName\": \"jansDefMaxAge\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janstosurilocalized\": {\n            \"name\": \"janstosurilocalized\",\n            \"defName\": \"jansTosURILocalized\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"mycustomattr2\": {\n            \"name\": \"mycustomattr2\",\n            \"defName\": \"myCustomAttr2\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssoftid\": {\n            \"name\": \"janssoftid\",\n            \"defName\": \"jansSoftId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansdisabled\": {\n            \"name\": \"jansdisabled\",\n            \"defName\": \"jansDisabled\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janstosuri\": {\n            \"name\": \"janstosuri\",\n            \"defName\": \"jansTosURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansreqobjsigalg\": {\n            \"name\": \"jansreqobjsigalg\",\n            \"defName\": \"jansReqObjSigAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansrequri\": {\n            \"name\": \"jansrequri\",\n            \"defName\": \"jansReqURI\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansaccesstknasjwt\": {\n            \"name\": \"jansaccesstknasjwt\",\n            \"defName\": \"jansAccessTknAsJwt\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansclntidissuedat\": {\n            \"name\": \"jansclntidissuedat\",\n            \"defName\": \"jansClntIdIssuedAt\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansauthorizedorigins\": {\n            \"name\": \"jansauthorizedorigins\",\n            \"defName\": \"jansAuthorizedOrigins\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janssectoridentifieruri\": {\n            \"name\": \"janssectoridentifieruri\",\n            \"defName\": \"jansSectorIdentifierURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansusrinfencrespenc\": {\n            \"name\": \"jansusrinfencrespenc\",\n            \"defName\": \"jansUsrInfEncRespEnc\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslastaccesstime\": {\n            \"name\": \"janslastaccesstime\",\n            \"defName\": \"jansLastAccessTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansrefreshtknlife\": {\n            \"name\": \"jansrefreshtknlife\",\n            \"defName\": \"jansRefreshTknLife\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"jansclnturilocalized\": {\n            \"name\": \"jansclnturilocalized\",\n            \"defName\": \"jansClntURILocalized\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansidtknencrespenc\": {\n            \"name\": \"jansidtknencrespenc\",\n            \"defName\": \"jansIdTknEncRespEnc\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansreqobjencalg\": {\n            \"name\": \"jansreqobjencalg\",\n            \"defName\": \"jansReqObjEncAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janscontact\": {\n            \"name\": \"janscontact\",\n            \"defName\": \"jansContact\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansbackchannelclntnotificationendpoint\": {\n            \"name\": \"jansbackchannelclntnotificationendpoint\",\n            \"defName\": \"jansBackchannelClntNotificationEndpoint\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslastlogontime\": {\n            \"name\": \"janslastlogontime\",\n            \"defName\": \"jansLastLogonTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"janstrustedclnt\": {\n            \"name\": \"janstrustedclnt\",\n            \"defName\": \"jansTrustedClnt\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansgrp\": {\n            \"name\": \"jansgrp\",\n            \"defName\": \"jansGrp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansextraconf\": {\n            \"name\": \"jansextraconf\",\n            \"defName\": \"jansExtraConf\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansredirecturi\": {\n            \"name\": \"jansredirecturi\",\n            \"defName\": \"jansRedirectURI\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janssubjecttyp\": {\n            \"name\": \"janssubjecttyp\",\n            \"defName\": \"jansSubjectTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansregistrationaccesstkn\": {\n            \"name\": \"jansregistrationaccesstkn\",\n            \"defName\": \"jansRegistrationAccessTkn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssoftver\": {\n            \"name\": \"janssoftver\",\n            \"defName\": \"jansSoftVer\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansgranttyp\": {\n            \"name\": \"jansgranttyp\",\n            \"defName\": \"jansGrantTyp\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansclnturi\": {\n            \"name\": \"jansclnturi\",\n            \"defName\": \"jansClntURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansidtknsignedrespalg\": {\n            \"name\": \"jansidtknsignedrespalg\",\n            \"defName\": \"jansIdTknSignedRespAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscope\": {\n            \"name\": \"jansscope\",\n            \"defName\": \"jansScope\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janssoftstatement\": {\n            \"name\": \"janssoftstatement\",\n            \"defName\": \"jansSoftStatement\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janstknendpointauthmethod\": {\n            \"name\": \"janstknendpointauthmethod\",\n            \"defName\": \"jansTknEndpointAuthMethod\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displaynamelocalized\": {\n            \"name\": \"displaynamelocalized\",\n            \"defName\": \"displayNameLocalized\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janslogourilocalized\": {\n            \"name\": \"janslogourilocalized\",\n            \"defName\": \"jansLogoURILocalized\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janssignedrespalg\": {\n            \"name\": \"janssignedrespalg\",\n            \"defName\": \"jansSignedRespAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansclntsecretexpat\": {\n            \"name\": \"jansclntsecretexpat\",\n            \"defName\": \"jansClntSecretExpAt\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"janslogouri\": {\n            \"name\": \"janslogouri\",\n            \"defName\": \"jansLogoURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansrptasjwt\": {\n            \"name\": \"jansrptasjwt\",\n            \"defName\": \"jansRptAsJwt\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansaccesstknsigalg\": {\n            \"name\": \"jansaccesstknsigalg\",\n            \"defName\": \"jansAccessTknSigAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansdid\": {\n            \"name\": \"jansdid\",\n            \"defName\": \"jansdId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"tknbndcnf\": {\n            \"name\": \"tknbndcnf\",\n            \"defName\": \"tknBndCnf\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janspolicyuri\": {\n            \"name\": \"janspolicyuri\",\n            \"defName\": \"jansPolicyURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janslogouturi\": {\n            \"name\": \"janslogouturi\",\n            \"defName\": \"jansLogoutURI\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansusrinfencrespalg\": {\n            \"name\": \"jansusrinfencrespalg\",\n            \"defName\": \"jansUsrInfEncRespAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janstknendpointauthsigalg\": {\n            \"name\": \"janstknendpointauthsigalg\",\n            \"defName\": \"jansTknEndpointAuthSigAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janspersistclntauthzs\": {\n            \"name\": \"janspersistclntauthzs\",\n            \"defName\": \"jansPersistClntAuthzs\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansaccesstknlife\": {\n            \"name\": \"jansaccesstknlife\",\n            \"defName\": \"jansAccessTknLife\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"jansinitiateloginuri\": {\n            \"name\": \"jansinitiateloginuri\",\n            \"defName\": \"jansInitiateLoginURI\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansbackchannelusrcodeparameter\": {\n            \"name\": \"jansbackchannelusrcodeparameter\",\n            \"defName\": \"jansBackchannelUsrCodeParameter\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansidtknencrespalg\": {\n            \"name\": \"jansidtknencrespalg\",\n            \"defName\": \"jansIdTknEncRespAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslogoutsessrequired\": {\n            \"name\": \"janslogoutsessrequired\",\n            \"defName\": \"jansLogoutSessRequired\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansbackchannelauthnreqsigalg\": {\n            \"name\": \"jansbackchannelauthnreqsigalg\",\n            \"defName\": \"jansBackchannelAuthnReqSigAlg\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansreqobjencenc\": {\n            \"name\": \"jansreqobjencenc\",\n            \"defName\": \"jansReqObjEncEnc\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"o\": {\n            \"name\": \"o\",\n            \"defName\": \"o\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansapptyp\": {\n            \"name\": \"jansapptyp\",\n            \"defName\": \"jansAppTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansclaimredirecturi\": {\n            \"name\": \"jansclaimredirecturi\",\n            \"defName\": \"jansClaimRedirectURI\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansclaim\": {\n            \"name\": \"jansclaim\",\n            \"defName\": \"jansClaim\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansclntsecret\": {\n            \"name\": \"jansclntsecret\",\n            \"defName\": \"jansClntSecret\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansbackchanneltkndeliverymode\": {\n            \"name\": \"jansbackchanneltkndeliverymode\",\n            \"defName\": \"jansBackchannelTknDeliveryMode\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansauthchallsess\": {\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"clnid\": {\n            \"name\": \"clnid\",\n            \"defName\": \"clnId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansusrdn\": {\n            \"name\": \"jansusrdn\",\n            \"defName\": \"jansUsrDN\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"attr\": {\n            \"name\": \"attr\",\n            \"defName\": \"attr\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansattr\": {\n        \"jansattrorigin\": {\n            \"name\": \"jansattrorigin\",\n            \"defName\": \"jansAttrOrigin\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janshideondiscovery\": {\n            \"name\": \"janshideondiscovery\",\n            \"defName\": \"jansHideOnDiscovery\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansvalidation\": {\n            \"name\": \"jansvalidation\",\n            \"defName\": \"jansValidation\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansrequired\": {\n            \"name\": \"jansrequired\",\n            \"defName\": \"jansRequired\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansregexp\": {\n            \"name\": \"jansregexp\",\n            \"defName\": \"jansRegExp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansnameidtyp\": {\n            \"name\": \"jansnameidtyp\",\n            \"defName\": \"jansNameIdTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansattrusgtyp\": {\n            \"name\": \"jansattrusgtyp\",\n            \"defName\": \"jansAttrUsgTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssaml2uri\": {\n            \"name\": \"janssaml2uri\",\n            \"defName\": \"jansSAML2URI\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansattredittyp\": {\n            \"name\": \"jansattredittyp\",\n            \"defName\": \"jansAttrEditTyp\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"seealso\": {\n            \"name\": \"seealso\",\n            \"defName\": \"seeAlso\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssourceattr\": {\n            \"name\": \"janssourceattr\",\n            \"defName\": \"jansSourceAttr\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscimcustomattr\": {\n            \"name\": \"jansscimcustomattr\",\n            \"defName\": \"jansScimCustomAttr\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansattrsystemedittyp\": {\n            \"name\": \"jansattrsystemedittyp\",\n            \"defName\": \"jansAttrSystemEditTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansattrtyp\": {\n            \"name\": \"jansattrtyp\",\n            \"defName\": \"jansAttrTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janstooltip\": {\n            \"name\": \"janstooltip\",\n            \"defName\": \"jansTooltip\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansattrname\": {\n            \"name\": \"jansattrname\",\n            \"defName\": \"jansAttrName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansclaimname\": {\n            \"name\": \"jansclaimname\",\n            \"defName\": \"jansClaimName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"urn\": {\n            \"name\": \"urn\",\n            \"defName\": \"urn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansattrviewtyp\": {\n            \"name\": \"jansattrviewtyp\",\n            \"defName\": \"jansAttrViewTyp\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janssaml1uri\": {\n            \"name\": \"janssaml1uri\",\n            \"defName\": \"jansSAML1URI\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmultivaluedattr\": {\n            \"name\": \"jansmultivaluedattr\",\n            \"defName\": \"jansMultivaluedAttr\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        }\n    },\n    \"agmflowrun\": {\n        \"janscustommessage\": {\n            \"name\": \"janscustommessage\",\n            \"defName\": \"jansCustomMessage\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"agflowenccont\": {\n            \"name\": \"agflowenccont\",\n            \"defName\": \"agFlowEncCont\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"agflowst\": {\n            \"name\": \"agflowst\",\n            \"defName\": \"agFlowSt\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        }\n    },\n    \"janspushdevice\": {\n        \"janspushapp\": {\n            \"name\": \"janspushapp\",\n            \"defName\": \"jansPushApp\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janstyp\": {\n            \"name\": \"janstyp\",\n            \"defName\": \"jansTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janspushdeviceconf\": {\n            \"name\": \"janspushdeviceconf\",\n            \"defName\": \"jansPushDeviceConf\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansusrid\": {\n            \"name\": \"jansusrid\",\n            \"defName\": \"jansUsrId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansmetric\": {\n        \"jansmetrictyp\": {\n            \"name\": \"jansmetrictyp\",\n            \"defName\": \"jansMetricTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansenddate\": {\n            \"name\": \"jansenddate\",\n            \"defName\": \"jansEndDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"uniqueidentifier\": {\n            \"name\": \"uniqueidentifier\",\n            \"defName\": \"uniqueIdentifier\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansapptyp\": {\n            \"name\": \"jansapptyp\",\n            \"defName\": \"jansAppTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansdata\": {\n            \"name\": \"jansdata\",\n            \"defName\": \"jansData\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janshost\": {\n            \"name\": \"janshost\",\n            \"defName\": \"jansHost\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstartdate\": {\n            \"name\": \"jansstartdate\",\n            \"defName\": \"jansStartDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        }\n    },\n    \"jansfido2authnentry\": {\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"janscodechallengehash\": {\n            \"name\": \"janscodechallengehash\",\n            \"defName\": \"jansCodeChallengeHash\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"jansauthdata\": {\n            \"name\": \"jansauthdata\",\n            \"defName\": \"jansAuthData\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"personinum\": {\n            \"name\": \"personinum\",\n            \"defName\": \"personInum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssessstateid\": {\n            \"name\": \"janssessstateid\",\n            \"defName\": \"jansSessStateId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janscodechallenge\": {\n            \"name\": \"janscodechallenge\",\n            \"defName\": \"jansCodeChallenge\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansapp\": {\n            \"name\": \"jansapp\",\n            \"defName\": \"jansApp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        }\n    },\n    \"janssessionstatusidxpool\": {\n        \"janslastupd\": {\n            \"name\": \"janslastupd\",\n            \"defName\": \"jansLastUpd\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansnum\": {\n            \"name\": \"jansnum\",\n            \"defName\": \"jansNum\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"lockkey\": {\n            \"name\": \"lockkey\",\n            \"defName\": \"lockKey\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dat\": {\n            \"name\": \"dat\",\n            \"defName\": \"dat\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansnodeid\": {\n            \"name\": \"jansnodeid\",\n            \"defName\": \"jansNodeId\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansclntauthz\": {\n        \"clnid\": {\n            \"name\": \"clnid\",\n            \"defName\": \"clnId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansattrs\": {\n            \"name\": \"jansattrs\",\n            \"defName\": \"jansAttrs\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansusrid\": {\n            \"name\": \"jansusrid\",\n            \"defName\": \"jansUsrId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscope\": {\n            \"name\": \"jansscope\",\n            \"defName\": \"jansScope\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        }\n    },\n    \"janslogentry\": {\n        \"jansservice\": {\n            \"name\": \"jansservice\",\n            \"defName\": \"jansService\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"clientid\": {\n            \"name\": \"clientid\",\n            \"defName\": \"clientId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"eventtime\": {\n            \"name\": \"eventtime\",\n            \"defName\": \"eventTime\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"principalid\": {\n            \"name\": \"principalid\",\n            \"defName\": \"principalId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"actionname\": {\n            \"name\": \"actionname\",\n            \"defName\": \"actionName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"contextinformation\": {\n            \"name\": \"contextinformation\",\n            \"defName\": \"contextInformation\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"requestedresource\": {\n            \"name\": \"requestedresource\",\n            \"defName\": \"requestedResource\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansnodename\": {\n            \"name\": \"jansnodename\",\n            \"defName\": \"jansNodeName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"decisionresult\": {\n            \"name\": \"decisionresult\",\n            \"defName\": \"decisionResult\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"eventtype\": {\n            \"name\": \"eventtype\",\n            \"defName\": \"eventType\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"severetylevel\": {\n            \"name\": \"severetylevel\",\n            \"defName\": \"severetyLevel\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"janscustomscr\": {\n        \"jansrevision\": {\n            \"name\": \"jansrevision\",\n            \"defName\": \"jansRevision\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"jansenabled\": {\n            \"name\": \"jansenabled\",\n            \"defName\": \"jansEnabled\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"jansscrerror\": {\n            \"name\": \"jansscrerror\",\n            \"defName\": \"jansScrError\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansmoduleproperty\": {\n            \"name\": \"jansmoduleproperty\",\n            \"defName\": \"jansModuleProperty\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansalias\": {\n            \"name\": \"jansalias\",\n            \"defName\": \"jansAlias\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansproglng\": {\n            \"name\": \"jansproglng\",\n            \"defName\": \"jansProgLng\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscrtyp\": {\n            \"name\": \"jansscrtyp\",\n            \"defName\": \"jansScrTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscr\": {\n            \"name\": \"jansscr\",\n            \"defName\": \"jansScr\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansconfproperty\": {\n            \"name\": \"jansconfproperty\",\n            \"defName\": \"jansConfProperty\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janslevel\": {\n            \"name\": \"janslevel\",\n            \"defName\": \"jansLevel\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        }\n    },\n    \"janscache\": {\n        \"dat\": {\n            \"name\": \"dat\",\n            \"defName\": \"dat\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"uuid\": {\n            \"name\": \"uuid\",\n            \"defName\": \"uuid\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"iat\": {\n            \"name\": \"iat\",\n            \"defName\": \"iat\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        }\n    },\n    \"jansgrp\": {\n        \"owner\": {\n            \"name\": \"owner\",\n            \"defName\": \"owner\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmetalocation\": {\n            \"name\": \"jansmetalocation\",\n            \"defName\": \"jansMetaLocation\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"c\": {\n            \"name\": \"c\",\n            \"defName\": \"c\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmetaver\": {\n            \"name\": \"jansmetaver\",\n            \"defName\": \"jansMetaVer\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"o\": {\n            \"name\": \"o\",\n            \"defName\": \"o\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmetalastmod\": {\n            \"name\": \"jansmetalastmod\",\n            \"defName\": \"jansMetaLastMod\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"member\": {\n            \"name\": \"member\",\n            \"defName\": \"member\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"seealso\": {\n            \"name\": \"seealso\",\n            \"defName\": \"seeAlso\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmetacreated\": {\n            \"name\": \"jansmetacreated\",\n            \"defName\": \"jansMetaCreated\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"janslockstatentry\": {\n        \"clntdat\": {\n            \"name\": \"clntdat\",\n            \"defName\": \"clntDat\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dat\": {\n            \"name\": \"dat\",\n            \"defName\": \"dat\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansdata\": {\n            \"name\": \"jansdata\",\n            \"defName\": \"jansData\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"attr\": {\n            \"name\": \"attr\",\n            \"defName\": \"attr\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"janscibareq\": {\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"clnid\": {\n            \"name\": \"clnid\",\n            \"defName\": \"clnId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"authreqid\": {\n            \"name\": \"authreqid\",\n            \"defName\": \"authReqId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"usrid\": {\n            \"name\": \"usrid\",\n            \"defName\": \"usrId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansappconf\": {\n        \"janssslexpiry\": {\n            \"name\": \"janssslexpiry\",\n            \"defName\": \"jansSslExpiry\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssoftver\": {\n            \"name\": \"janssoftver\",\n            \"defName\": \"jansSoftVer\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansorgprofilemgt\": {\n            \"name\": \"jansorgprofilemgt\",\n            \"defName\": \"jansOrgProfileMgt\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janslogviewerconfig\": {\n            \"name\": \"janslogviewerconfig\",\n            \"defName\": \"jansLogViewerConfig\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansconfapp\": {\n            \"name\": \"jansconfapp\",\n            \"defName\": \"jansConfApp\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssmtpconf\": {\n            \"name\": \"janssmtpconf\",\n            \"defName\": \"jansSmtpConf\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janshostname\": {\n            \"name\": \"janshostname\",\n            \"defName\": \"jansHostname\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansdocstoreconf\": {\n            \"name\": \"jansdocstoreconf\",\n            \"defName\": \"jansDocStoreConf\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"userpassword\": {\n            \"name\": \"userpassword\",\n            \"defName\": \"userPassword\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janslastupd\": {\n            \"name\": \"janslastupd\",\n            \"defName\": \"jansLastUpd\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansmessageconf\": {\n            \"name\": \"jansmessageconf\",\n            \"defName\": \"jansMessageConf\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansconfdyn\": {\n            \"name\": \"jansconfdyn\",\n            \"defName\": \"jansConfDyn\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansdbauth\": {\n            \"name\": \"jansdbauth\",\n            \"defName\": \"jansDbAuth\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"janswebkeyssettings\": {\n            \"name\": \"janswebkeyssettings\",\n            \"defName\": \"jansWebKeysSettings\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansrevision\": {\n            \"name\": \"jansrevision\",\n            \"defName\": \"jansRevision\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"c\": {\n            \"name\": \"c\",\n            \"defName\": \"c\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"ou\": {\n            \"name\": \"ou\",\n            \"defName\": \"ou\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansconfstatic\": {\n            \"name\": \"jansconfstatic\",\n            \"defName\": \"jansConfStatic\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janslogconfiglocation\": {\n            \"name\": \"janslogconfiglocation\",\n            \"defName\": \"jansLogConfigLocation\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansauthmode\": {\n            \"name\": \"jansauthmode\",\n            \"defName\": \"jansAuthMode\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansmanager\": {\n            \"name\": \"jansmanager\",\n            \"defName\": \"jansManager\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansurl\": {\n            \"name\": \"jansurl\",\n            \"defName\": \"jansUrl\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"o\": {\n            \"name\": \"o\",\n            \"defName\": \"o\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscimenabled\": {\n            \"name\": \"jansscimenabled\",\n            \"defName\": \"jansScimEnabled\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janscacheconf\": {\n            \"name\": \"janscacheconf\",\n            \"defName\": \"jansCacheConf\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansconfwebkeys\": {\n            \"name\": \"jansconfwebkeys\",\n            \"defName\": \"jansConfWebKeys\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansemail\": {\n            \"name\": \"jansemail\",\n            \"defName\": \"jansEmail\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansconferrors\": {\n            \"name\": \"jansconferrors\",\n            \"defName\": \"jansConfErrors\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansfido2registrationentry\": {\n        \"janspublickeyidhash\": {\n            \"name\": \"janspublickeyidhash\",\n            \"defName\": \"jansPublicKeyIdHash\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansregistrationdata\": {\n            \"name\": \"jansregistrationdata\",\n            \"defName\": \"jansRegistrationData\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janscodechallengehash\": {\n            \"name\": \"janscodechallengehash\",\n            \"defName\": \"jansCodeChallengeHash\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janspublickeyid\": {\n            \"name\": \"janspublickeyid\",\n            \"defName\": \"jansPublicKeyId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janscounter\": {\n            \"name\": \"janscounter\",\n            \"defName\": \"jansCounter\",\n            \"type\": \"int4\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"personinum\": {\n            \"name\": \"personinum\",\n            \"defName\": \"personInum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansdevicenotificationconf\": {\n            \"name\": \"jansdevicenotificationconf\",\n            \"defName\": \"jansDeviceNotificationConf\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssessstateid\": {\n            \"name\": \"janssessstateid\",\n            \"defName\": \"jansSessStateId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janscodechallenge\": {\n            \"name\": \"janscodechallenge\",\n            \"defName\": \"jansCodeChallenge\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansid\": {\n            \"name\": \"jansid\",\n            \"defName\": \"jansId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansapp\": {\n            \"name\": \"jansapp\",\n            \"defName\": \"jansApp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"exp\": {\n            \"name\": \"exp\",\n            \"defName\": \"exp\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansdevicedata\": {\n            \"name\": \"jansdevicedata\",\n            \"defName\": \"jansDeviceData\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        }\n    },\n    \"janstrustedidp\": {\n        \"janssamlidpmetadatafn\": {\n            \"name\": \"janssamlidpmetadatafn\",\n            \"defName\": \"jansSAMLidpMetaDataFN\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssamlidpmetalocation\": {\n            \"name\": \"janssamlidpmetalocation\",\n            \"defName\": \"jansSAMLidpMetaLocation\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"entityid\": {\n            \"name\": \"entityid\",\n            \"defName\": \"entityId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"objectClass\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"encryptionpublickey\": {\n            \"name\": \"encryptionpublickey\",\n            \"defName\": \"encryptionPublicKey\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"trustemail\": {\n            \"name\": \"trustemail\",\n            \"defName\": \"trustEmail\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"authenticatebydefault\": {\n            \"name\": \"authenticatebydefault\",\n            \"defName\": \"authenticateByDefault\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janssamlspmetalocation\": {\n            \"name\": \"janssamlspmetalocation\",\n            \"defName\": \"jansSAMLspMetaLocation\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"validatesignature\": {\n            \"name\": \"validatesignature\",\n            \"defName\": \"validateSignature\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"addreadtokenroleoncreate\": {\n            \"name\": \"addreadtokenroleoncreate\",\n            \"defName\": \"addReadTokenRoleOnCreate\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"principalattribute\": {\n            \"name\": \"principalattribute\",\n            \"defName\": \"principalAttribute\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"nameidpolicyformat\": {\n            \"name\": \"nameidpolicyformat\",\n            \"defName\": \"nameIDPolicyFormat\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"linkonly\": {\n            \"name\": \"linkonly\",\n            \"defName\": \"linkOnly\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"postbrokerloginflowalias\": {\n            \"name\": \"postbrokerloginflowalias\",\n            \"defName\": \"postBrokerLoginFlowAlias\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssamlidpconfdyn\": {\n            \"name\": \"janssamlidpconfdyn\",\n            \"defName\": \"jansSAMLidpConfDyn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"singlelogoutserviceurl\": {\n            \"name\": \"singlelogoutserviceurl\",\n            \"defName\": \"singleLogoutServiceUrl\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansvalidationlog\": {\n            \"name\": \"jansvalidationlog\",\n            \"defName\": \"jansValidationLog\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansenabled\": {\n            \"name\": \"jansenabled\",\n            \"defName\": \"jansEnabled\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"storetoken\": {\n            \"name\": \"storetoken\",\n            \"defName\": \"storeToken\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"janssamlspmetadataurl\": {\n            \"name\": \"janssamlspmetadataurl\",\n            \"defName\": \"jansSAMLspMetaDataURL\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansvalidationstatus\": {\n            \"name\": \"jansvalidationstatus\",\n            \"defName\": \"jansValidationStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"creatorid\": {\n            \"name\": \"creatorid\",\n            \"defName\": \"creatorId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"principaltype\": {\n            \"name\": \"principaltype\",\n            \"defName\": \"principalType\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"providerid\": {\n            \"name\": \"providerid\",\n            \"defName\": \"providerId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"displayname\": {\n            \"name\": \"displayname\",\n            \"defName\": \"displayName\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"name\": {\n            \"name\": \"name\",\n            \"defName\": \"name\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"janssamlidpmetadataurl\": {\n            \"name\": \"janssamlidpmetadataurl\",\n            \"defName\": \"jansSAMLidpMetaDataURL\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"realm\": {\n            \"name\": \"realm\",\n            \"defName\": \"realm\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"firstbrokerloginflowalias\": {\n            \"name\": \"firstbrokerloginflowalias\",\n            \"defName\": \"firstBrokerLoginFlowAlias\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"signingcertificate\": {\n            \"name\": \"signingcertificate\",\n            \"defName\": \"signingCertificate\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"janssamlspmetadatafn\": {\n            \"name\": \"janssamlspmetadatafn\",\n            \"defName\": \"jansSAMLspMetaDataFN\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansstatus\": {\n            \"name\": \"jansstatus\",\n            \"defName\": \"jansStatus\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"singlesignonserviceurl\": {\n            \"name\": \"singlesignonserviceurl\",\n            \"defName\": \"singleSignOnServiceUrl\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        }\n    },\n    \"jansscope\": {\n        \"creationdate\": {\n            \"name\": \"creationdate\",\n            \"defName\": \"creationDate\",\n            \"type\": \"timestamp\",\n            \"multiValued\": false\n        },\n        \"jansscopetyp\": {\n            \"name\": \"jansscopetyp\",\n            \"defName\": \"jansScopeTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansscrdn\": {\n            \"name\": \"jansscrdn\",\n            \"defName\": \"jansScrDn\",\n            \"type\": \"jsonb\",\n            \"multiValued\": true\n        },\n        \"jansattrs\": {\n            \"name\": \"jansattrs\",\n            \"defName\": \"jansAttrs\",\n            \"type\": \"text\",\n            \"multiValued\": false\n        },\n        \"creatorid\": {\n            \"name\": \"creatorid\",\n            \"defName\": \"creatorId\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"creatortyp\": {\n            \"name\": \"creatortyp\",\n            \"defName\": \"creatorTyp\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"description\": {\n            \"name\": \"description\",\n            \"defName\": \"description\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"dn\": {\n            \"name\": \"dn\",\n            \"defName\": \"dn\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"jansgrpclaims\": {\n            \"name\": \"jansgrpclaims\",\n            \"defName\": \"jansGrpClaims\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"del\": {\n            \"name\": \"del\",\n            \"defName\": \"del\",\n            \"type\": \"bool\",\n            \"multiValued\": false\n        },\n        \"inum\": {\n            \"name\": \"inum\",\n            \"defName\": \"inum\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"doc_id\": {\n            \"name\": \"doc_id\",\n            \"defName\": \"doc_id\",\n            \"type\": \"varchar\",\n            \"multiValued\": false\n        },\n        \"objectclass\": {\n            \"name\": \"objectclass\",\n            \"defName\": \"
[...]
