openapi: 3.2.0
info:
  title: Jans Lock Lock - Audit Health API
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io
  description: The Jans server
tags:
- name: Lock - Audit Health
paths:
  /api/v1/audit/health/bulk:
    post:
      tags:
      - Lock - Audit Health
      summary: Bulk save health data
      operationId: processBulkHealthRequest
      requestBody:
        description: Bulk health entry
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/HealthEntry'
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
      security:
      - oauth2:
        - https://jans.io/oauth/lock/health.write
  /api/v1/audit/health:
    post:
      tags:
      - Lock - Audit Health
      summary: Save health data
      operationId: processHealthRequest
      requestBody:
        description: Health entry
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthEntry'
      responses:
        '200':
          description: Ok
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
      security:
      - oauth2:
        - https://jans.io/oauth/lock/health.write
components:
  schemas:
    LockApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        description:
          type: string
    HealthEntry:
      type: object
      properties:
        dn:
          type: string
        baseDn:
          type: string
        inum:
          type: string
        creationDate:
          type: string
          description: Creation date of the entry
          format: date-time
          example: 2026-07-24 15:33:06.875000+00:00
        eventTime:
          type: string
          description: Time when the event occurred
          format: date-time
          example: 2026-07-24 15:33:06.875000+00:00
        service:
          type: string
          description: Service name
          example: Lock Server
        nodeName:
          type: string
          description: Node name or identifier
          example: 04bbe9ef-a853-417c-a2b8-5328b62936e2
        status:
          type: string
          description: Health status
          example: running
        engineStatus:
          type: object
          additionalProperties:
            type: string
      description: Health audit entry
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/lock/policy.readonly: View policy related information
            https://jans.io/oauth/lock/health.write: Write audit health entries
            https://jans.io/oauth/lock/log.write: Write audit log entries
            https://jans.io/oauth/lock/telemetry.write: Write telemetry health entries
            https://jans.io/oauth/lock/stat.readonly: View stat related information
