openapi: 3.2.0
info:
  title: Jans Config API - Lock Statistics API
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: support@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Statistics
paths:
  /lock/lockStat:
    get:
      tags:
      - Statistics
      summary: Provides basic statistic
      operationId: get-lock-stat
      parameters:
      - name: Authorization
        in: header
        description: Authorization code
        schema:
          type: string
      - name: month
        in: query
        description: Month for which the stat report is to be fetched. The parameter is mandatory if start_month and end_month parameters are not present.
        schema:
          type: string
      - name: start-month
        in: query
        description: Start-Month for which the stat report is to be fetched
        schema:
          type: string
      - name: end-month
        in: query
        description: End-Month for which the stat report is to be fetched
        schema:
          type: string
      - name: format
        in: query
        description: Report format
        schema:
          type: string
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JsonNode'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/lock/read-all
        - jans_stat
      - oauth2:
        - https://jans.io/oauth/config/lock.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
components:
  schemas:
    JsonNode:
      type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/lock/read-all: View Lock related information
            https://jans.io/oauth/lock/write-all: View Lock related information
            https://jans.io/oauth/lock-config.readonly: View Lock configuration related information
            https://jans.io/oauth/lock-config.write: Manage Lock configuration related information
            https://jans.io/oauth/lock/audit.readonly: View Lock audit related information
            https://jans.io/oauth/lock/audit.write: View Lock audit related information
            https://jans.io/oauth/lock/health.readonly: View Lock health related information
            https://jans.io/oauth/lock/health.write: Manage Lock health related information
            https://jans.io/oauth/lock/log.readonly: View Lock log related information
            https://jans.io/oauth/lock/log.write: Manage Lock log health related information
            https://jans.io/oauth/lock/telemetry.readonly: View Lock telemetry related information
            https://jans.io/oauth/lock/telemetry.write: Manage Lock telemetry related information
            https://jans.io/oauth/config/lock.admin: Lock Admin access to manage all Lock configuration related information
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
            jans_stat: Auth Server Stats Authorization Scope
