openapi: 3.2.0
info:
  title: Janssen Authorization Server Access Evaluation API
  description: Janssen Authorization Server - OAuth 2.0 server; OpenID Connect Provider (OP) & UMA Authorization Server (AS)
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io/jans-auth
tags:
- name: Access Evaluation
paths:
  /restv1/evaluation:
    post:
      tags:
      - Access Evaluation
      summary: Access Evaluation AuthZEN
      description: Evaluates whether a subject is authorized to perform a specific action on a resource.
      operationId: post_access_evaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  $ref: '#/components/schemas/Subject'
                action:
                  $ref: '#/components/schemas/Action'
                resource:
                  $ref: '#/components/schemas/Resource'
                context:
                  $ref: '#/components/schemas/Context'
              required:
              - subject
              - action
              - resource
      responses:
        200:
          description: Access evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResponse'
        400:
          description: Invalid request
        500:
          description: Internal server error
components:
  schemas:
    Action:
      type: object
      properties:
        name:
          type: string
          description: Name of the action (e.g., read, write)
        properties:
          type: object
          additionalProperties: true
          description: Additional attributes of the action
      required:
      - name
    Context:
      type: object
      additionalProperties: true
      description: Environmental or contextual attributes for the request
    Subject:
      type: object
      properties:
        type:
          type: string
          description: Type of the subject (e.g., user, service)
        id:
          type: string
          description: Unique identifier of the subject
        properties:
          type: object
          additionalProperties: true
          description: Additional attributes of the subject
      required:
      - type
      - id
    Resource:
      type: object
      properties:
        type:
          type: string
          description: Type of the resource (e.g., document, database)
        id:
          type: string
          description: Unique identifier of the resource
        properties:
          type: object
          additionalProperties: true
          description: Additional attributes of the resource
      required:
      - type
      - id
    EvaluationResponse:
      type: object
      properties:
        decision:
          type: boolean
          description: Result of the access evaluation (true for allow, false for deny)
        context:
          $ref: '#/components/schemas/Context'
      required:
      - decision
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
