openapi: 3.2.0
info:
  title: Gluu Token API
  version: OAS Version
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  description: 'Operations tagged Token across 2 of this provider''s published API definitions: gluu-jans-auth-server-openapi.yml, gluu-jans-config-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://jans.local.io/jans-auth
- url: https://jans.local.io
  description: The Jans server
tags:
- name: Token
paths:
  /restv1/introspection:
    get:
      tags:
      - Token
      summary: The Introspection OAuth 2 Endpoint
      description: The Introspection OAuth 2 Endpoint.
      operationId: get-introspection
      parameters:
      - name: Authorization
        in: header
        required: true
        description: Client Authorization details that contains the access token along with other details.
        schema:
          type: string
        example: Bearer 23410913-abewfq.123483
      - name: token
        in: query
        required: true
        schema:
          type: string
        example: token=2YotnFZFEjr1zCsicMWpAA
      - name: token_type_hint
        in: query
        description: ID Token previously issued by the Authorization Server being passed as a hint about the End-User.
        schema:
          type: string
      - name: response_as_jwt
        in: query
        description: OPTIONAL. Boolean value with default value false. If true, returns introspection response as JWT (signed based on client configuration used for authentication to Introspection Endpoint).
        schema:
          type: boolean
        example: response_as_jwt=false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: IntrospectionResponse
                description: meta-information about token
                required:
                - active
                type: object
                properties:
                  active:
                    type: boolean
                    description: Boolean indicator of whether or not the presented token is currently active.
                    example: true
                  scope:
                    type: array
                    description: Provide list of scopes to which access was granted for this resource.
                    example:
                    - read write dolphin
                    items:
                      type: string
                  client_id:
                    type: string
                    description: Client identifier for the OAuth 2.0 client that requested this token.
                    example: 1238j323ds-23ij4
                  username:
                    type: string
                    description: Human-readable identifier for the resource owner who authorized this token.
                    example: jdoe
                  token_type:
                    type: string
                    description: Type of the token as defined in Section 5.1 of OAuth 2.0 [RFC6749].
                    example: bearer, mac
                  exp:
                    type: integer
                    description: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission will expire.
                  iat:
                    type: integer
                    example: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission was originally issued.
                  sub:
                    type: string
                    description: Subject of the token, as defined in JWT [RFC7519].
                    example: Z5O3upPC88QrAjx00dis
                  aud:
                    type: string
                    description: Service-specific string identifier or list of string identifiers representing the intended audience for this token, as defined in JWT [RFC7519].
                    example: https://protected.example.net/resource
                  iss:
                    type: string
                    description: String representing the issuer of this token, as defined in JWT [RFC7519].
                    example: https://server.example.com/
                  acr_values:
                    type: string
                    description: Authentication Context Class Reference values.
                  jti:
                    type: string
                    description: String identifier for the token, as defined in JWT.
        400:
          description: Error codes for introspection endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_request
                    - unauthorized_client
                    - disabled_client
                    - access_denied
                    - retry
                    - unsupported_response_type
                    - invalid_scope
                    - server_error
                    - temporarily_unavailable
                    - invalid_request_redirect_uri
                    - invalid_authorization_details
                    - login_required
                    - session_selection_required
                    - consent_required
                    - user_mismatched
                    - invalid_request_uri
                    - invalid_request_object
                    - authentication_session_invalid
                    - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - Token
      summary: The Introspection OAuth 2 Endpoint
      description: The Introspection OAuth 2 Endpoint.
      operationId: post-introspection
      parameters:
      - name: Authorization
        in: header
        required: true
        description: Client Authorization details that contains the access token along with other details.
        schema:
          type: string
        example: Bearer 23410913-abewfq.123483
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: Client access token.
                  example: token=2YotnFZFEjr1zCsicMWpAA
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: IntrospectionResponse
                description: meta-information about token
                required:
                - active
                type: object
                properties:
                  active:
                    type: boolean
                    description: Boolean indicator of whether or not the presented token is currently active.
                    example: true
                  scope:
                    type: array
                    description: Provide list of scopes to which access was granted for this resource.
                    example:
                    - read write dolphin
                    items:
                      type: string
                  client_id:
                    type: string
                    description: Client identifier for the OAuth 2.0 client that requested this token.
                    example: 1238j323ds-23ij4
                  username:
                    type: string
                    description: Human-readable identifier for the resource owner who authorized this token.
                    example: jdoe
                  token_type:
                    type: string
                    description: Type of the token as defined in Section 5.1 of OAuth 2.0 [RFC6749].
                    example: bearer, mac
                  exp:
                    type: integer
                    description: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission will expire.
                  iat:
                    type: integer
                    example: Integer timestamp, measured in the number of seconds since January 1 1970 UTC, indicating when this permission was originally issued.
                  sub:
                    type: string
                    description: Subject of the token, as defined in JWT [RFC7519].
                    example: Z5O3upPC88QrAjx00dis
                  aud:
                    type: string
                    description: Service-specific string identifier or list of string identifiers representing the intended audience for this token, as defined in JWT [RFC7519].
                    example: https://protected.example.net/resource
                  iss:
                    type: string
                    description: String representing the issuer of this token, as defined in JWT [RFC7519].
                    example: https://server.example.com/
                  acr_values:
                    type: string
                    description: Authentication Context Class Reference values.
                  jti:
                    type: string
                    description: String identifier for the token, as defined in JWT.
        400:
          description: Error codes for introspection endpoint.
          content:
            application/json:
              schema:
                title: AuthorizeError
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_request
                    - unauthorized_client
                    - disabled_client
                    - access_denied
                    - retry
                    - unsupported_response_type
                    - invalid_scope
                    - server_error
                    - temporarily_unavailable
                    - invalid_request_redirect_uri
                    - invalid_authorization_details
                    - login_required
                    - session_selection_required
                    - consent_required
                    - user_mismatched
                    - invalid_request_uri
                    - invalid_request_object
                    - authentication_session_invalid
                    - invalid_authentication_method
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://jans.local.io/jans-auth
  /restv1/revoke:
    post:
      tags:
      - Token
      summary: Revoke an Access Token or a Refresh Token, the RP (Client)
      description: Revoke an Access Token or a Refresh Token, the RP (Client).
      operationId: revoke
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - token
              properties:
                token:
                  type: string
                  description: The token that the client wants to get revoked.
                token_type_hint:
                  type: string
                  description: A hint about the type of the token submitted for revocation.
      responses:
        200:
          description: OK
          content:
            content: {}
        400:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - unsupported_token_type
                    - invalid_client
                    - invalid_request
                  error_description:
                    type: string
                  details:
                    type: string
    servers:
    - url: https://jans.local.io/jans-auth
  /restv1/token:
    post:
      tags:
      - Token
      summary: To obtain an Access Token, an ID Token, and optionally a Refresh Token, the RP…
      description: To obtain an Access Token, an ID Token, and optionally a Refresh Token, the RP (Client).
      operationId: post-token
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              properties:
                grant_type:
                  type: array
                  description: Provide a list of the OAuth 2.0 grant types that the Client is declaring that it will restrict itself to using.
                  example:
                  - authorization_code
                  - client_credentials
                  items:
                    type: string
                code:
                  type: string
                  description: Code which is returned by authorization endpoint. (For grant_type=authorization_code)
                redirect_uri:
                  type: string
                  description: Redirection URI to which the response will be sent. This URI MUST exactly match one of the Redirection URI values for the Client pre-registered at the OpenID Provider.
                username:
                  type: string
                  description: End-User username.
                password:
                  type: string
                  description: End-User password.
                scope:
                  type: array
                  description: OpenID Connect requests MUST contain the openid scope value. If the openid scope value is not present, the behavior is entirely unspecified. Other scope values MAY be present. Scope values used that are not understood by an implementation SHOULD be ignored.
                  items:
                    type: string
                assertion:
                  type: string
                  description: Assertion JWT. Used with grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer (e.g. ID-JAG bearer grant).
                refresh_token:
                  type: string
                  description: Refresh token.
                client_id:
                  type: string
                  description: OAuth 2.0 Client Identifier valid at the Authorization Server.
                client_secret:
                  type: string
                  description: The client secret.  The client MAY omit the parameter if the client secret is an empty string.
                code_verifier:
                  type: string
                  description: The client's PKCE code verifier.
                ticket:
                  type: string
                claim_token:
                  type: string
                claim_token_format:
                  type: string
                pct:
                  type: string
                rpt:
                  type: string
                subject_token:
                  type: string
                  description: Security token representing the identity of the party on behalf of whom the request is being made. Used with grant_type=urn:ietf:params:oauth:grant-type:token-exchange.
                subject_token_type:
                  type: string
                  description: Identifier for the type of subject_token. For example urn:ietf:params:oauth:token-type:id_token, urn:ietf:params:oauth:token-type:saml2, or urn:ietf:params:oauth:token-type:refresh_token.
                  example: urn:ietf:params:oauth:token-type:id_token
                requested_token_type:
                  type: string
                  description: Identifier for the type of the requested security token. For example urn:ietf:params:oauth:token-type:id-jag or urn:ietf:params:oauth:token-type:txn-token.
                  example: urn:ietf:params:oauth:token-type:id-jag
                audience:
                  type: string
                  description: The logical name of the target service or resource where the client intends to use the requested security token. Used with grant_type=urn:ietf:params:oauth:grant-type:token-exchange.
                actor_token:
                  type: string
                  description: Security token representing the actor. Used in delegation scenarios with grant_type=urn:ietf:params:oauth:grant-type:token-exchange.
                actor_token_type:
                  type: string
                  description: Identifier for the type of actor_token.
                  example: urn:x-oath:params:oauth:token-type:device-secret
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: AccessTokenResponse.
                required:
                - access_token
                - token_type
                properties:
                  access_token:
                    type: string
                    description: The access token issued by the authorization server.
                  token_type:
                    type: string
                    description: The access token type provides the client with the information required to successfully utilize the access token to make a protected resource request (along with type-specific attributes).
                  expires_in:
                    type: integer
                    description: The lifetime in seconds of the access token. For example, the value \"3600\" denotes that the access token will expire in one hour from the time the response was generated.
                  refresh_token:
                    type: string
                    description: The refresh token, which can be used to obtain new access tokens using the same authorization grant
                  scope:
                    type: array
                    example:
                    - openid
                    - oxd
                    items:
                      type: string
                  id_token:
                    type: string
                  issued_token_type:
                    type: string
                    description: Identifier for the type of the issued token. Present in token exchange responses. For example urn:ietf:params:oauth:token-type:id-jag or urn:ietf:params:oauth:token-type:txn-token.
                    example: urn:ietf:params:oauth:token-type:id-jag
        400:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_client_metadata
                    - invalid_token
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/AccessDenied'
        500:
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://jans.local.io/jans-auth
  /api/v1/token/client/{clientId}:
    get:
      tags:
      - Token
      summary: Get token details by client
      description: Get token details by client.
      operationId: get-token-by-client
      parameters:
      - name: clientId
        in: path
        description: Client identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenEntityPagedResult'
              examples:
                Response example:
                  description: Response example
                  value: "{\n    \"start\": 0,\n    \"totalEntriesCount\": 8,\n    \"entriesCount\": 8,\n    \"entries\": [\n        {\n            \"dn\": \"tknCde=280c8e7055fb51cee1fdd6442fe7fdba98dfd319f0e931ac0756a19936722286,ou=tokens,o=jans\",\n            \"grantId\": \"5e3d27ba-00a2-400e-be6d-b1424d1c1f33\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T15:03:50\",\n            \"expirationDate\": \"2024-10-23T15:03:50\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"280c8e7055fb51cee1fdd6442fe7fdba98dfd319f0e931ac0756a19936722286\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"4zdnUjyjRoWqqLCMtguvDA\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 301\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=3d4e9ea9ff6fe85f25dc4fa98cf672c885d30b58fd2f64f8e7c630113d7e568f,ou=tokens,o=jans\",\n            \"grantId\": \"f8bfb7d5-0dbc-4976-a0ec-ef82e90e4ab8\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T08:23:50\",\n            \"expirationDate\": \"2024-10-23T08:23:50\",\n            \"deletable\": true,\n            \"scope\": \"https://jans.io/oauth/config/jwks.delete https://jans.io/oauth/jans-auth-server/session.readonly https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly https://jans.io/oauth/config/scopes.readonly https://jans.io/oauth/config/saml.write https://jans.io/oauth/lock/health.readonly https://jans.io/oauth/jans-auth-server/config/adminui/webhook.delete https://jans.io/auth/ssa.developer https://jans.io/oauth/config/saml-config.readonly https://jans.io/oauth/config/smtp.delete https://jans.io/oauth/config/cache.readonly https://jans.io/oauth/config/saml-scope.write readonly https://jans.io/oauth/config/user.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly https://jans.io/oauth/lock/audit.readonly https://jans.io/oauth/config/acrs.write https://jans.io/scim/fido2.read https://jans.io/oauth/config/token.readonly https://jans.io/oauth/config/message.readonly https://jans.io/oauth/lock-config.write https://jans.io/oauth/config/uma/resources.readonly https://jans.io/oauth/jans-auth-server/config/properties.write https://jans.io/oauth/config/fido2.write https://jans.io/idp/config.readonly https://jans.io/scim/groups.read https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete https://jans.io/oauth/lock/log.readonly https://jans.io/oauth/config/jwks.write jans_stat https://jans.io/idp/saml.readonly https://jans.io/oauth/jans-auth-server/config/properties.readonly https://jans.io/oauth/config/jans_asset-delete https://jans.io/scim/groups.write https://jans.io/oauth/config/database/couchbase.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/properties.write https://jans.io/oauth/config/fido2.delete https://jans.io/idp/saml.write https://jans.io/oauth/config/saml-scope.readonly https://jans.io/scim/fido2.write https://jans.io/oauth/config/scripts.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/config/session.write https://jans.io/oauth/config/acrs.delete https://jans.io/oauth/client/authorizations.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly https://jans.io/oauth/config/jans_asset-read https://jans.io/oauth/config/logging.readonly https://jans.io/oauth/config/jans_asset-write https://jans.io/oauth/lock/telemetry.write https://jans.io/oauth/config/plugin.readonly https://jans.io/oauth/lock/telemetry.readonly https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/config/user.write https://jans.io/oauth/config/agama.readonly https://jans.io/oauth/config/openid/clients.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write https://jans.io/oauth/jans-auth-server/config/adminui/webhook.write https://jans.io/oauth/config/agama.write https://jans.io/oauth/lock/health.write https://jans.io/oauth/config/logging.write https://jans.io/oauth/config/database/sql.write https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write https://jans.io/oauth/config/scopes.write https://jans.io/oauth/config/openid/clients.write https://jans.io/scim/fido.read https://jans.io/scim/fido.write https://jans.io/oauth/lock-config.readonly https://jans.io/oauth/config/organization.write https://jans.io/oauth/config/database/ldap.delete https://jans.io/oauth/config/jans-link.readonly https://jans.io/oauth/config/database/sql.readonly https://jans.io/oauth/config/session.readonly https://jans.io/oauth/config/openid/clients.delete https://jans.io/idp/saml.delete https://jans.io/idp/realm.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete https://jans.io/auth/ssa.admin https://jans.io/scim/config.readonly https://jans.io/oauth/config/database/couchbase.write https://jans.io/oauth/config/token.write https://jans.io/oauth/config/jans-link.write https://jans.io/oauth/config/session.delete https://jans.io/oauth/config/app-version.readonly https://jans.io/oauth/config/scripts.delete https://jans.io/oauth/config/uma/resources.delete https://jans.io/scim/users.read https://jans.io/oauth/config/message.write https://jans.io/oauth/config/fido2.readonly https://jans.io/auth/ssa.portal https://jans.io/oauth/jans-auth-server/config/adminui/logging.write https://jans.io/oauth/config/user.delete https://jans.io/oauth/config/token.delete https://jans.io/oauth/lock/audit.write https://jans.io/oauth/config/database/ldap.readonly https://jans.io/oauth/jans-auth-server/config/adminui/properties.write https://jans.io/oauth/config/cache.write https://jans.io/scim/all-resources.search https://jans.io/oauth/config/attributes.readonly https://jans.io/oauth/config/smtp.readonly https://jans.io/scim/users.write https://jans.io/oauth/config/agama.delete https://jans.io/idp/config.write https://jans.io/oauth/config/uma/resources.write https://jans.io/oauth/config/saml.readonly https://jans.io/oauth/config/organization.readonly https://jans.io/oauth/lock/log.write https://jans.io/oauth/config/attributes.delete https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write https://jans.io/oauth/config/properties.readonly https://jans.io/oauth/config/jwks.readonly https://jans.io/oauth/config/scopes.delete https://jans.io/oauth/config/scripts.write https://jans.io/oauth/config/database/ldap.write https://jans.io/scim/config.write https://jans.io/oauth/jans-auth-server/session.delete https://jans.io/oauth/client/authorizations.delete https://jans.io/oauth/config/acrs.readonly https://jans.io/scim/bulk https://jans.io/idp/realm.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete https://jans.io/oauth/config/saml-config.write https://jans.io/oauth/config/smtp.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly https://jans.io/oauth/config/attributes.write\",\n            \"tokenCode\": \"3d4e9ea9ff6fe85f25dc4fa98cf672c885d30b58fd2f64f8e7c630113d7e568f\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"JNDJyQfEQTGP6xRllmScXA\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 303\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=4960533184fab18d8932045b70de17f827c916010ab5d5c86f7202ca6cf7c176,ou=tokens,o=jans\",\n            \"grantId\": \"82736426-1a72-46bb-8e76-52f3bca2c614\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-20T12:55:30\",\n            \"expirationDate\": \"2024-10-30T12:55:30\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"4960533184fab18d8932045b70de17f827c916010ab5d5c86f7202ca6cf7c176\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"uIw3N7qeRiKR1pvzE1OmxQ\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 1101\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=5495ac7fedd47f57a10f314896fe88d415dbec067c7cea5d57138e2723b73e84,ou=tokens,o=jans\",\n            \"grantId\": \"2c4123dd-886f-447e-a65d-207bf60c3307\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-20T12:55:37\",\n            \"expirationDate\": \"2024-10-30T12:55:37\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"5495ac7fedd47f57a10f314896fe88d415dbec067c7cea5d57138e2723b73e84\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"bgPvtouST66zHFaH4vrWhA\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 1102\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=82f8a251b94e7191c0708e2651c06c5242f61972cbd37120ab83403ac32ab77d,ou=tokens,o=jans\",\n            \"grantId\": \"6915d12c-b5d3-4f56-a41c-64b3bff0e857\",\n            \"userId\": \"admin\",\n            \"userDn\": \"inum=122ff2df-911d-424b-bbfe-891a43a70e95,ou=people,o=jans\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T08:23:50\",\n            \"expirationDate\": \"2024-10-23T08:23:50\",\n            \"deletable\": true,\n            \"scope\": \"openid profile offline_access email\",\n            \"tokenCode\": \"82f8a251b94e7191c0708e2651c06c5242f61972cbd37120ab83403ac32ab77d\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"urn:ietf:params:oauth:grant-type:device_code\",\n            \"referenceId\": \"uPnrBRVOTv6MKbHZ29oKMw\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 301\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=bef882e1f07bbc718dfa38f19410f5d3452d7effc040052bd7f7751dd3de1599,ou=tokens,o=jans\",\n            \"grantId\": \"c664eb67-9911-40a7-a154-bb4b9b2c90b7\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T08:22:07\",\n            \"expirationDate\": \"2024-10-23T08:22:07\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"bef882e1f07bbc718dfa38f19410f5d3452d7effc040052bd7f7751dd3de1599\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"a9yYFUlxRzSh3MvoYGJJRQ\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 300\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=c3b62d651c9424bed9167a7cd05ea4e6fedc62f20d5fe98b0672fee0a43603ad,ou=tokens,o=jans\",\n            \"grantId\": \"b0b4315b-7cf1-4d63-ab6c-128bfacab9e3\",\n            \"clientId\": \"1800.3d73038f-2298-446a-a5e8-a43a579da9cc\",\n            \"creationDate\": \"2024-09-19T14:32:09\",\n            \"expirationDate\": \"2028-09-19T14:37:09\",\n            \"deletable\": true,\n            \"scope\": \"https://jans.io/oauth/config/jwks.delete https://jans.io/oauth/jans-auth-server/session.readonly https://jans.io/oauth/config/scopes.readonly https://jans.io/oauth/config/saml.write https://jans.io/oauth/lock/health.readonly https://jans.io/oauth/config/saml-config.readonly https://jans.io/oauth/config/cache.readonly https://jans.io/oauth/config/smtp.delete https://jans.io/oauth/config/user.readonly https://jans.io/oauth/lock/read-all https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly https://jans.io/oauth/lock/audit.readonly https://jans.io/oauth/config/acrs.write https://jans.io/oauth/lock-config.write https://jans.io/oauth/config/uma/resources.readonly https://jans.io/oauth/jans-auth-server/config/properties.write https://jans.io/oauth/config/fido2.write https://jans.io/idp/config.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete https://jans.io/oauth/lock/log.readonly https://jans.io/oauth/config/jwks.write jans_stat https://jans.io/idp/saml.readonly https://jans.io/oauth/jans-auth-server/config/properties.readonly https://jans.io/oauth/config/jans_asset-delete https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/fido2.delete https://jans.io/idp/saml.write https://jans.io/oauth/config/scripts.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly https://jans.io/oauth/config/openid-read https://jans.io/oauth/config/uma-write https://jans.io/oauth/client/authorizations.readonly https://jans.io/oauth/config/uma-read https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly https://jans.io/oauth/config/logging.readonly https://jans.io/oauth/config/jans_asset-write https://jans.io/oauth/lock/telemetry.write https://jans.io/oauth/config/plugin.readonly https://jans.io/oauth/lock/telemetry.readonly https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/config/uma-delete https://jans.io/oauth/config/user.write https://jans.io/oauth/config/agama.readonly https://jans.io/oauth/config/openid/clients.readonly https://jans.io/oauth/config/openid-write https://jans.io/oauth/config/agama.write https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write https://jans.io/oauth/lock/health.write https://jans.io/oauth/config/logging.write https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write https://jans.io/oauth/config/scopes.write https://jans.io/oauth/config/read-all https://jans.io/oauth/lock/write-all https://jans.io/oauth/config/write-all https://jans.io/oauth/config/openid/clients.write https://jans.io/oauth/jans-auth-server/config/adminui/write-all https://jans.io/oauth/lock-config.readonly https://jans.io/oauth/config/organization.write https://jans.io/oauth/config/database/ldap.delete https://jans.io/oauth/config/delete-all https://jans.io/oauth/config/openid/clients.delete https://jans.io/oauth/jans-auth-server/config/adminui/delete-all https://jans.io/idp/realm.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete https://jans.io/scim/config.readonly https://jans.io/oauth/config/app-version.readonly https://jans.io/oauth/config/scripts.delete https://jans.io/oauth/config/uma/resources.delete https://jans.io/scim/users.read https://jans.io/oauth/config/fido2.readonly https://jans.io/oauth/config/user.delete https://jans.io/oauth/lock/audit.write https://jans.io/oauth/config/database/ldap.readonly https://jans.io/oauth/config/cache.write https://jans.io/oauth/config/attributes.readonly https://jans.io/oauth/config/smtp.readonly https://jans.io/scim/users.write https://jans.io/oauth/config/agama.delete https://jans.io/oauth/jans-auth-server/config/adminui/read-all https://jans.io/idp/config.write https://jans.io/oauth/config/uma/resources.write https://jans.io/oauth/config/saml.readonly https://jans.io/oauth/config/organization.readonly https://jans.io/oauth/lock/log.write https://jans.io/oauth/config/openid-delete https://jans.io/oauth/config/attributes.delete https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write https://jans.io/oauth/config/jwks.readonly https://jans.io/oauth/config/scopes.delete https://jans.io/oauth/config/scripts.write https://jans.io/oauth/config/database/ldap.write https://jans.io/scim/config.write https://jans.io/oauth/jans-auth-server/session.delete https://jans.io/oauth/client/authorizations.delete https://jans.io/oauth/config/acrs.readonly https://jans.io/idp/realm.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete https://jans.io/oauth/config/saml-config.write https://jans.io/oauth/config/smtp.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly https://jans.io/oauth/config/attributes.write\",\n            \"tokenCode\": \"c3b62d651c9424bed9167a7cd05ea4e6fedc62f20d5fe98b0672fee0a43603ad\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"NXBmV1WjSU28EH8KNTghJw\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 201\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=f0977b8c359446ff7a5aa157a930c89506485b266d988507478e367f53fd5445,ou=tokens,o=jans\",\n            \"grantId\": \"d0c427ec-0c6e-4fdf-83eb-43a19e633eec\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-20T12:55:37\",\n            \"expirationDate\": \"2024-10-20T12:55:37\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"f0977b8c359446ff7a5aa157a930c89506485b266d988507478e367f53fd5445\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"1DnmKY6pS1S6XeKSHAj2Ag\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 1103\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        }\n    ]\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/token.readonly
      - oauth2:
        - https://jans.io/oauth/config/token.write
      - oauth2:
        - https://jans.io/oauth/config/token.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    servers:
    - url: https://jans.local.io
      description: The Jans server
  /api/v1/token/tknCde/{tknCde}:
    get:
      tags:
      - Token
      summary: Get token details by Id
      description: Get token details by Id.
      operationId: get-token-by-id
      parameters:
      - name: tknCde
        in: path
        description: Token identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenEntity'
              examples:
                Response example:
                  description: Response example
                  value: "{\n    \"dn\": \"tknCde=280c8e7055fb51cee1fdd6442fe7fdba98dfd319f0e931ac0756a19936722286,ou=tokens,o=jans\",\n    \"grantId\": \"5e3d27ba-00a2-400e-be6d-b1424d1c1f33\",\n    \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n    \"creationDate\": \"2024-09-23T15:03:50\",\n    \"expirationDate\": \"2024-10-23T15:03:50\",\n    \"deletable\": true,\n    \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n    \"tokenCode\": \"280c8e7055fb51cee1fdd6442fe7fdba98dfd319f0e931ac0756a19936722286\",\n    \"tokenType\": \"access_token\",\n    \"grantType\": \"client_credentials\",\n    \"referenceId\": \"4zdnUjyjRoWqqLCMtguvDA\",\n    \"attributes\": {\n        \"online_access\": false,\n        \"statusListIndex\": 301\n    },\n    \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/token.readonly
      - oauth2:
        - https://jans.io/oauth/config/token.write
      - oauth2:
        - https://jans.io/oauth/config/token.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    servers:
    - url: https://jans.local.io
      description: The Jans server
  /api/v1/token/revoke/{tknCde}:
    delete:
      tags:
      - Token
      summary: Revoke client token
      description: Revoke client token.
      operationId: revoke-token
      parameters:
      - name: tknCde
        in: path
        description: Token Code
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/token.delete
      - oauth2:
        - https://jans.io/oauth/config/openid/openid.delete
      - oauth2:
        - https://jans.io/oauth/config/token.admin
      - oauth2:
        - https://jans.io/oauth/config/delete-all
    servers:
    - url: https://jans.local.io
      description: The Jans server
  /api/v1/token/search:
    get:
      tags:
      - Token
      summary: Search tokens
      operationId: search-token
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ''
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: tknCde
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending"
        schema:
          type: string
          default: ascending
      - name: fieldValuePair
        in: query
        description: Field and value pair for seraching
        schema:
          type: string
          default: ''
        examples:
          Field value example:
            description: Field value example
            value: grtTyp=client_credentials,tknTyp=access_token
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenEntityPagedResult'
              examples:
                Response example:
                  description: Response example
                  value: "{\n    \"start\": 0,\n    \"totalEntriesCount\": 8,\n    \"entriesCount\": 8,\n    \"entries\": [\n        {\n            \"dn\": \"tknCde=280c8e7055fb51cee1fdd6442fe7fdba98dfd319f0e931ac0756a19936722286,ou=tokens,o=jans\",\n            \"grantId\": \"5e3d27ba-00a2-400e-be6d-b1424d1c1f33\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T15:03:50\",\n            \"expirationDate\": \"2024-10-23T15:03:50\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"280c8e7055fb51cee1fdd6442fe7fdba98dfd319f0e931ac0756a19936722286\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"4zdnUjyjRoWqqLCMtguvDA\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 301\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=3d4e9ea9ff6fe85f25dc4fa98cf672c885d30b58fd2f64f8e7c630113d7e568f,ou=tokens,o=jans\",\n            \"grantId\": \"f8bfb7d5-0dbc-4976-a0ec-ef82e90e4ab8\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T08:23:50\",\n            \"expirationDate\": \"2024-10-23T08:23:50\",\n            \"deletable\": true,\n            \"scope\": \"https://jans.io/oauth/config/jwks.delete https://jans.io/oauth/jans-auth-server/session.readonly https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly https://jans.io/oauth/config/scopes.readonly https://jans.io/oauth/config/saml.write https://jans.io/oauth/lock/health.readonly https://jans.io/oauth/jans-auth-server/config/adminui/webhook.delete https://jans.io/auth/ssa.developer https://jans.io/oauth/config/saml-config.readonly https://jans.io/oauth/config/smtp.delete https://jans.io/oauth/config/cache.readonly https://jans.io/oauth/config/saml-scope.write readonly https://jans.io/oauth/config/user.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly https://jans.io/oauth/lock/audit.readonly https://jans.io/oauth/config/acrs.write https://jans.io/scim/fido2.read https://jans.io/oauth/config/token.readonly https://jans.io/oauth/config/message.readonly https://jans.io/oauth/lock-config.write https://jans.io/oauth/config/uma/resources.readonly https://jans.io/oauth/jans-auth-server/config/properties.write https://jans.io/oauth/config/fido2.write https://jans.io/idp/config.readonly https://jans.io/scim/groups.read https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete https://jans.io/oauth/lock/log.readonly https://jans.io/oauth/config/jwks.write jans_stat https://jans.io/idp/saml.readonly https://jans.io/oauth/jans-auth-server/config/properties.readonly https://jans.io/oauth/config/jans_asset-delete https://jans.io/scim/groups.write https://jans.io/oauth/config/database/couchbase.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/properties.write https://jans.io/oauth/config/fido2.delete https://jans.io/idp/saml.write https://jans.io/oauth/config/saml-scope.readonly https://jans.io/scim/fido2.write https://jans.io/oauth/config/scripts.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/config/session.write https://jans.io/oauth/config/acrs.delete https://jans.io/oauth/client/authorizations.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly https://jans.io/oauth/config/jans_asset-read https://jans.io/oauth/config/logging.readonly https://jans.io/oauth/config/jans_asset-write https://jans.io/oauth/lock/telemetry.write https://jans.io/oauth/config/plugin.readonly https://jans.io/oauth/lock/telemetry.readonly https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/config/user.write https://jans.io/oauth/config/agama.readonly https://jans.io/oauth/config/openid/clients.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write https://jans.io/oauth/jans-auth-server/config/adminui/webhook.write https://jans.io/oauth/config/agama.write https://jans.io/oauth/lock/health.write https://jans.io/oauth/config/logging.write https://jans.io/oauth/config/database/sql.write https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write https://jans.io/oauth/config/scopes.write https://jans.io/oauth/config/openid/clients.write https://jans.io/scim/fido.read https://jans.io/scim/fido.write https://jans.io/oauth/lock-config.readonly https://jans.io/oauth/config/organization.write https://jans.io/oauth/config/database/ldap.delete https://jans.io/oauth/config/jans-link.readonly https://jans.io/oauth/config/database/sql.readonly https://jans.io/oauth/config/session.readonly https://jans.io/oauth/config/openid/clients.delete https://jans.io/idp/saml.delete https://jans.io/idp/realm.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete https://jans.io/auth/ssa.admin https://jans.io/scim/config.readonly https://jans.io/oauth/config/database/couchbase.write https://jans.io/oauth/config/token.write https://jans.io/oauth/config/jans-link.write https://jans.io/oauth/config/session.delete https://jans.io/oauth/config/app-version.readonly https://jans.io/oauth/config/scripts.delete https://jans.io/oauth/config/uma/resources.delete https://jans.io/scim/users.read https://jans.io/oauth/config/message.write https://jans.io/oauth/config/fido2.readonly https://jans.io/auth/ssa.portal https://jans.io/oauth/jans-auth-server/config/adminui/logging.write https://jans.io/oauth/config/user.delete https://jans.io/oauth/config/token.delete https://jans.io/oauth/lock/audit.write https://jans.io/oauth/config/database/ldap.readonly https://jans.io/oauth/jans-auth-server/config/adminui/properties.write https://jans.io/oauth/config/cache.write https://jans.io/scim/all-resources.search https://jans.io/oauth/config/attributes.readonly https://jans.io/oauth/config/smtp.readonly https://jans.io/scim/users.write https://jans.io/oauth/config/agama.delete https://jans.io/idp/config.write https://jans.io/oauth/config/uma/resources.write https://jans.io/oauth/config/saml.readonly https://jans.io/oauth/config/organization.readonly https://jans.io/oauth/lock/log.write https://jans.io/oauth/config/attributes.delete https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write https://jans.io/oauth/config/properties.readonly https://jans.io/oauth/config/jwks.readonly https://jans.io/oauth/config/scopes.delete https://jans.io/oauth/config/scripts.write https://jans.io/oauth/config/database/ldap.write https://jans.io/scim/config.write https://jans.io/oauth/jans-auth-server/session.delete https://jans.io/oauth/client/authorizations.delete https://jans.io/oauth/config/acrs.readonly https://jans.io/scim/bulk https://jans.io/idp/realm.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete https://jans.io/oauth/config/saml-config.write https://jans.io/oauth/config/smtp.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly https://jans.io/oauth/config/attributes.write\",\n            \"tokenCode\": \"3d4e9ea9ff6fe85f25dc4fa98cf672c885d30b58fd2f64f8e7c630113d7e568f\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"JNDJyQfEQTGP6xRllmScXA\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 303\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=4960533184fab18d8932045b70de17f827c916010ab5d5c86f7202ca6cf7c176,ou=tokens,o=jans\",\n            \"grantId\": \"82736426-1a72-46bb-8e76-52f3bca2c614\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-20T12:55:30\",\n            \"expirationDate\": \"2024-10-30T12:55:30\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"4960533184fab18d8932045b70de17f827c916010ab5d5c86f7202ca6cf7c176\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"uIw3N7qeRiKR1pvzE1OmxQ\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 1101\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=5495ac7fedd47f57a10f314896fe88d415dbec067c7cea5d57138e2723b73e84,ou=tokens,o=jans\",\n            \"grantId\": \"2c4123dd-886f-447e-a65d-207bf60c3307\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-20T12:55:37\",\n            \"expirationDate\": \"2024-10-30T12:55:37\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"5495ac7fedd47f57a10f314896fe88d415dbec067c7cea5d57138e2723b73e84\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"bgPvtouST66zHFaH4vrWhA\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 1102\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=82f8a251b94e7191c0708e2651c06c5242f61972cbd37120ab83403ac32ab77d,ou=tokens,o=jans\",\n            \"grantId\": \"6915d12c-b5d3-4f56-a41c-64b3bff0e857\",\n            \"userId\": \"admin\",\n            \"userDn\": \"inum=122ff2df-911d-424b-bbfe-891a43a70e95,ou=people,o=jans\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T08:23:50\",\n            \"expirationDate\": \"2024-10-23T08:23:50\",\n            \"deletable\": true,\n            \"scope\": \"openid profile offline_access email\",\n            \"tokenCode\": \"82f8a251b94e7191c0708e2651c06c5242f61972cbd37120ab83403ac32ab77d\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"urn:ietf:params:oauth:grant-type:device_code\",\n            \"referenceId\": \"uPnrBRVOTv6MKbHZ29oKMw\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 301\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=bef882e1f07bbc718dfa38f19410f5d3452d7effc040052bd7f7751dd3de1599,ou=tokens,o=jans\",\n            \"grantId\": \"c664eb67-9911-40a7-a154-bb4b9b2c90b7\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-23T08:22:07\",\n            \"expirationDate\": \"2024-10-23T08:22:07\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"bef882e1f07bbc718dfa38f19410f5d3452d7effc040052bd7f7751dd3de1599\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"a9yYFUlxRzSh3MvoYGJJRQ\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 300\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=c3b62d651c9424bed9167a7cd05ea4e6fedc62f20d5fe98b0672fee0a43603ad,ou=tokens,o=jans\",\n            \"grantId\": \"b0b4315b-7cf1-4d63-ab6c-128bfacab9e3\",\n            \"clientId\": \"1800.3d73038f-2298-446a-a5e8-a43a579da9cc\",\n            \"creationDate\": \"2024-09-19T14:32:09\",\n            \"expirationDate\": \"2028-09-19T14:37:09\",\n            \"deletable\": true,\n            \"scope\": \"https://jans.io/oauth/config/jwks.delete https://jans.io/oauth/jans-auth-server/session.readonly https://jans.io/oauth/config/scopes.readonly https://jans.io/oauth/config/saml.write https://jans.io/oauth/lock/health.readonly https://jans.io/oauth/config/saml-config.readonly https://jans.io/oauth/config/cache.readonly https://jans.io/oauth/config/smtp.delete https://jans.io/oauth/config/user.readonly https://jans.io/oauth/lock/read-all https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly https://jans.io/oauth/lock/audit.readonly https://jans.io/oauth/config/acrs.write https://jans.io/oauth/lock-config.write https://jans.io/oauth/config/uma/resources.readonly https://jans.io/oauth/jans-auth-server/config/properties.write https://jans.io/oauth/config/fido2.write https://jans.io/idp/config.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete https://jans.io/oauth/lock/log.readonly https://jans.io/oauth/config/jwks.write jans_stat https://jans.io/idp/saml.readonly https://jans.io/oauth/jans-auth-server/config/properties.readonly https://jans.io/oauth/config/jans_asset-delete https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/fido2.delete https://jans.io/idp/saml.write https://jans.io/oauth/config/scripts.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly https://jans.io/oauth/config/openid-read https://jans.io/oauth/config/uma-write https://jans.io/oauth/client/authorizations.readonly https://jans.io/oauth/config/uma-read https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly https://jans.io/oauth/config/logging.readonly https://jans.io/oauth/config/jans_asset-write https://jans.io/oauth/lock/telemetry.write https://jans.io/oauth/config/plugin.readonly https://jans.io/oauth/lock/telemetry.readonly https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/config/uma-delete https://jans.io/oauth/config/user.write https://jans.io/oauth/config/agama.readonly https://jans.io/oauth/config/openid/clients.readonly https://jans.io/oauth/config/openid-write https://jans.io/oauth/config/agama.write https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write https://jans.io/oauth/lock/health.write https://jans.io/oauth/config/logging.write https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write https://jans.io/oauth/config/scopes.write https://jans.io/oauth/config/read-all https://jans.io/oauth/lock/write-all https://jans.io/oauth/config/write-all https://jans.io/oauth/config/openid/clients.write https://jans.io/oauth/jans-auth-server/config/adminui/write-all https://jans.io/oauth/lock-config.readonly https://jans.io/oauth/config/organization.write https://jans.io/oauth/config/database/ldap.delete https://jans.io/oauth/config/delete-all https://jans.io/oauth/config/openid/clients.delete https://jans.io/oauth/jans-auth-server/config/adminui/delete-all https://jans.io/idp/realm.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete https://jans.io/scim/config.readonly https://jans.io/oauth/config/app-version.readonly https://jans.io/oauth/config/scripts.delete https://jans.io/oauth/config/uma/resources.delete https://jans.io/scim/users.read https://jans.io/oauth/config/fido2.readonly https://jans.io/oauth/config/user.delete https://jans.io/oauth/lock/audit.write https://jans.io/oauth/config/database/ldap.readonly https://jans.io/oauth/config/cache.write https://jans.io/oauth/config/attributes.readonly https://jans.io/oauth/config/smtp.readonly https://jans.io/scim/users.write https://jans.io/oauth/config/agama.delete https://jans.io/oauth/jans-auth-server/config/adminui/read-all https://jans.io/idp/config.write https://jans.io/oauth/config/uma/resources.write https://jans.io/oauth/config/saml.readonly https://jans.io/oauth/config/organization.readonly https://jans.io/oauth/lock/log.write https://jans.io/oauth/config/openid-delete https://jans.io/oauth/config/attributes.delete https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write https://jans.io/oauth/config/jwks.readonly https://jans.io/oauth/config/scopes.delete https://jans.io/oauth/config/scripts.write https://jans.io/oauth/config/database/ldap.write https://jans.io/scim/config.write https://jans.io/oauth/jans-auth-server/session.delete https://jans.io/oauth/client/authorizations.delete https://jans.io/oauth/config/acrs.readonly https://jans.io/idp/realm.readonly https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete https://jans.io/oauth/config/saml-config.write https://jans.io/oauth/config/smtp.write https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly https://jans.io/oauth/config/attributes.write\",\n            \"tokenCode\": \"c3b62d651c9424bed9167a7cd05ea4e6fedc62f20d5fe98b0672fee0a43603ad\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"NXBmV1WjSU28EH8KNTghJw\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 201\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        },\n        {\n            \"dn\": \"tknCde=f0977b8c359446ff7a5aa157a930c89506485b266d988507478e367f53fd5445,ou=tokens,o=jans\",\n            \"grantId\": \"d0c427ec-0c6e-4fdf-83eb-43a19e633eec\",\n            \"clientId\": \"2000.cc8b29ae-cb4a-49ea-b176-8695e53919d9\",\n            \"creationDate\": \"2024-09-20T12:55:37\",\n            \"expirationDate\": \"2024-10-20T12:55:37\",\n            \"deletable\": true,\n            \"scope\": \"jans_stat openid https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.write https://jans.io/oauth/config/stats.readonly https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly\",\n            \"tokenCode\": \"f0977b8c359446ff7a5aa157a930c89506485b266d988507478e367f53fd5445\",\n            \"tokenType\": \"access_token\",\n            \"grantType\": \"client_credentials\",\n            \"referenceId\": \"1DnmKY6pS1S6XeKSHAj2Ag\",\n            \"attributes\": {\n                \"online_access\": false,\n                \"statusListIndex\": 1103\n            },\n            \"tokenTypeEnum\": \"ACCESS_TOKEN\"\n        }\n    ]\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/token.readonly
      - oauth2:
        - https://jans.io/oauth/config/token.write
      - oauth2:
        - https://jans.io/oauth/config/token.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    servers:
    - url: https://jans.local.io
      description: The Jans server
components:
  responses:
    AccessDenied:
      description: Invalid details provided hence access denied.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal error occured. Please check log file for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized access request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      required:
      - error
      - error_description
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        details:
          type: string
    TokenEntityPagedResult:
      type: object
      properties:
        start:
          type: integer
          format: int32
        totalEntriesCount:
          type: integer
          format: int32
        entriesCount:
          type: integer
          format: int32
        entries:
          type: array
          items:
            $ref: '#/components/schemas/TokenEntity'
    TokenAttributes:
      type: object
      properties:
        x5cs256:
          type: string
        online_access:
          type: boolean
        authorization_challenge:
          type: boolean
        attributes:
          type: object
          additionalProperties:
            type: string
        dpopJkt:
          type: string
        authorizationDetails:
          type: string
        statusListIndex:
          type: integer
          format: int32
    TokenEntity:
      type: object
      properties:
        dn:
          type: string
        grantId:
          type: string
        userId:
          type: string
        userDn:
          type: string
        clientId:
          type: string
        creationDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        deletable:
          type: boolean
        authenticationTime:
          type: string
          format: date-time
        scope:
          type: string
        tokenCode:
          type: string
        tokenType:
          type: string
        grantType:
          type: string
        jwtRequest:
          type: string
        authorizationCode:
          type: string
        jti:
          type: string
        nonce:
          type: string
        codeChallenge:
          type: string
        codeChallengeMethod:
          type: string
        claims:
          type: string
        tokenBindingHash:
          type: string
        referenceId:
          type: string
        authMode:
          type: string
        sessionDn:
          type: string
        ttl:
          type: integer
          format: int32
        attributes:
          $ref: '#/components/schemas/TokenAttributes'
        dpop:
          type: string
        tokenTypeEnum:
          type: string
          enum:
          - ID_TOKEN
          - ACCESS_TOKEN
          - LONG_LIVED_ACCESS_TOKEN
          - REFRESH_TOKEN
          - AUTHORIZATION_CODE
          - LOGOUT_STATUS_JWT
          - TX_TOKEN
        accessToken:
          type: boolean
        logoutStatusJwt:
          type: boolean
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/properties.readonly: View Auth Server properties related information
            https://jans.io/oauth/jans-auth-server/config/properties.write: Manage Auth Server properties related information
            https://jans.io/oauth/config/attributes.readonly: View attribute related information
            https://jans.io/oauth/config/attributes.write: Manage attribute related information
            https://jans.io/oauth/config/attributes.delete: Delete attribute related information
            https://jans.io/oauth/config/acrs.readonly: View ACRS related information
            https://jans.io/oauth/config/acrs.write: Manage ACRS related information
            https://jans.io/oauth/config/database/ldap.readonly: View LDAP database related information
            https://jans.io/oauth/config/database/ldap.write: Manage LDAP database related information
            https://jans.io/oauth/config/database/ldap.delete: Delete LDAP database related information
            https://jans.io/oauth/config/scripts.readonly: View cache scripts information
            https://jans.io/oauth/config/scripts.write: Manage scripts related information
            https://jans.io/oauth/config/scripts.delete: Delete scripts related information
            https://jans.io/oauth/config/cache.readonly: View cache related information
            https://jans.io/oauth/config/cache.write: Manage cache related information
            https://jans.io/oauth/config/smtp.readonly: View SMTP related information
            https://jans.io/oauth/config/smtp.write: Manage SMTP related information
            https://jans.io/oauth/config/smtp.delete: Delete SMTP related information
            https://jans.io/oauth/config/logging.readonly: View logging related information
            https://jans.io/oauth/config/logging.write: Manage logging related information
            https://jans.io/oauth/config/jwks.readonly: View JWKS related information
            https://jans.io/oauth/config/jwks.write: Manage JWKS related information
            https://jans.io/oauth/config/jwks.delete: Delete JWKS related information
            https://jans.io/oauth/config/openid/clients.readonly: View clients related information
            https://jans.io/oauth/config/openid/clients.write: Manage clients related information
            https://jans.io/oauth/config/openid/clients.delete: Delete clients related information
            https://jans.io/oauth/config/scopes.readonly: View scope related information
            https://jans.io/oauth/config/scopes.write: Manage scope related information
            https://jans.io/oauth/config/scopes.delete: Delete scope related information
            https://jans.io/oauth/config/stats.readonly: View server with basic statistic
            https://jans.io/oauth/config/organization.readonly: View organization configuration information
            https://jans.io/oauth/config/organization.write: Manage organization configuration information
            https://jans.io/oauth/config/agama.readonly: View Agama Flow related information
            https://jans.io/oauth/config/agama.write: Manage Agama Flow related information
            https://jans.io/oauth/config/agama.delete: Delete Agama Flow related information
            https://jans.io/oauth/jans-auth-server/session.readonly: View Session related information
            https://jans.io/oauth/jans-auth-server/session.delete: Delete Session information
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
            https://jans.io/oauth/config/openid/openid.readonly: View OpenID functionality
            https://jans.io/oauth/config/openid/openid.write: Manage OpenID functionality
            https://jans.io/oauth/config/openid/openid.delete: Delete OpenID functionality
            https://jans.io/oauth/config/uma.readonly: View UMA functionality
            https://jans.io/oauth/config/uma.write: Manage UMA functionality
            https://jans.io/oauth/config/uma.delete: Delete UMA functionality
            https://jans.io/oauth/config/plugin.readonly: View Plugin information
            https://jans.io/oauth/config/properties.readonly: View Config-API related configuration properties
            https://jans.io/oauth/config/properties.write: Manage Config-API related configuration properties
            https://jans.io/oauth/client/authorizations.readonly: View ClientAuthorizations
            https://jans.io/oauth/client/authorizations.delete: Revoke ClientAuthorizations
            https://jans.io/oauth/config/asset.readonly: View Jans Assets
            https://jans.io/oauth/config/asset.write: Manage Jans Assets
            https://jans.io/oauth/config/asset.delete: Delete Jans Assets
            https://jans.io/oauth/config/token.readonly: View Token details
            https://jans.io/oauth/config/token.write: Manage Token details
            https://jans.io/oauth/config/token.delete: Delete Token details
            https://jans.io/oauth/config/data.readonly: View Config-API related data
            https://jans.io/oauth/config/ssa.readonly: View SSA details
            https://jans.io/oauth/config/ssa.write: Manage SSA details
            https://jans.io/oauth/config/ssa.delete: Delete SSA details
            https://jans.io/oauth/jans-auth-server/config/properties.admin: Admin scope for Auth Server properties
            https://jans.io/oauth/config/attributes.admin: Admin for Attribute management
            https://jans.io/oauth/config/acrs.admin: Admin for ACRS management
            https://jans.io/oauth/config/database.admin: Admin for Database config management
            https://jans.io/oauth/config/scripts.admin: Admin for Scripts management
            https://jans.io/oauth/config/cache.admin: Admin for Cache management
            https://jans.io/oauth/config/message.admin: Admin for Message management
            https://jans.io/oauth/config/smtp.admin: Admin for SMTP management
            https://jans.io/oauth/config/logging.admin: Admin for Logging management
            https://jans.io/oauth/config/jwks.admin: Admin for JWKS management
            https://jans.io/oauth/config/openid/clients.admin: Admin for clients management
            https://jans.io/oauth/config/token.admin: Admin for Token management
            https://jans.io/oauth/config/scopes.admin: Admin for scope management
            https://jans.io/oauth/config/stats.admin: Admin for statistic management
            https://jans.io/oauth/config/organization.admin: Admin for organization configuration management
            https://jans.io/oauth/config/agama.admin: Admin for Agama flow management
            https://jans.io/oauth/jans-auth-server/session.admin: Admin for Session management
            https://jans.io/oauth/config/uma.admin: Admin for UMA management
            https://jans.io/oauth/config/plugin.admin: Admin for Plugin management
            https://jans.io/oauth/config/properties.admin: Admin for Config-API management
            https://jans.io/oauth/client/authorizations.admin: Admin for Client Authorizations management
            https://jans.io/oauth/config/asset.admin: Admin for Jans Assets management
            https://jans.io/auth/ssa.admin: Admin for SSA management
            https://jans.io/oauth/config/health.admin: Admin for Health API management
x-refined-from:
- gluu-jans-auth-server-openapi.yml
- gluu-jans-config-api-openapi.yml
