openapi: 3.2.0
info:
  title: Jans Config API - Admin-UI Admin UI - Role-Permissions…
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Admin UI - Role-Permissions Mapping
paths:
  /admin-ui/adminUIRolePermissionsMapping:
    get:
      tags:
      - Admin UI - Role-Permissions Mapping
      summary: Get all admin ui role-permissions mapping
      operationId: get-all-adminui-role-permissions
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolePermissionMapping'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/read-all
    put:
      tags:
      - Admin UI - Role-Permissions Mapping
      summary: Map permissions to role
      operationId: map-permissions-to-role
      requestBody:
        description: RolePermissionMapping object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePermissionMapping'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolePermissionMapping'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/write-all
    post:
      tags:
      - Admin UI - Role-Permissions Mapping
      summary: Add role-permissions mapping
      operationId: add-role-permissions-mapping
      requestBody:
        description: RolePermissionMapping object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePermissionMapping'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolePermissionMapping'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/write-all
  /admin-ui/adminUIRolePermissionsMapping/{adminUIRole}:
    get:
      tags:
      - Admin UI - Role-Permissions Mapping
      summary: Get admin ui role-permissions mapping by role-name
      operationId: get-adminui-role-permissions
      parameters:
      - name: adminUIRole
        in: path
        description: Admin UI Role
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolePermissionMapping'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/read-all
    delete:
      tags:
      - Admin UI - Role-Permissions Mapping
      summary: Remove role-permissions mapping by role-name
      operationId: remove-role-permissions-permission
      parameters:
      - name: adminUIRole
        in: path
        description: role
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolePermissionMapping'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/delete-all
components:
  schemas:
    JsonNode:
      type: object
    GenericResponse:
      type: object
      properties:
        success:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: integer
          format: int32
        responseObject:
          $ref: '#/components/schemas/JsonNode'
        responseBytes:
          type: string
          format: byte
    RolePermissionMapping:
      type: object
      properties:
        role:
          type: string
        permissions:
          type: array
          items:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly: View admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write: Manage admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete: Delete admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly: View admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write: Manage admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete: Delete admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly: View role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write: Manage role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete: Delete role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly: View admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.write: Manage admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.admin: Full administrative access to license related information (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/security.readonly: View Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.write: Edit Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.delete: Delete Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly: View Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.write: Manage Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin: Full administrative access to admin user roles (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin: Full administrative access to admin permissions (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.admin: Full administrative access to role-permission mappings (super-user level)
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
