openapi: 3.2.0
info:
  title: Jans Config API - Admin-UI Admin UI - Webhooks API
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Admin UI - Webhooks
paths:
  /admin-ui/webhook:
    get:
      tags:
      - Admin UI - Webhooks
      summary: Gets list of webhooks
      operationId: get-all-webhooks
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ''
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: inum
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending"
        schema:
          type: string
          default: ascending
      - name: fieldValuePair
        in: query
        description: Field and value pair for seraching
        schema:
          type: string
          default: ''
        examples:
          Field value example:
            description: Field value example
            value: scopeType=spontaneous,defaultScope=true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n  \"start\": 0,\n  \"totalEntriesCount\": 2,\n  \"entriesCount\": 2,\n  \"entries\": [{\n    \"dn\": \"inum=aad9e1dd-87f3-357f-a2fa-93ae8eb94998,ou=auiWebhooks,ou=admin-ui,o=jans\",\n    \"inum\": \"aad9e1dd-87f3-357f-a2fa-93ae8eb94998\",\n    \"displayName\": \"test-5\",\n    \"description\": \"test1\",\n    \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n    \"httpRequestBody\": \"{\\\"userId\\\": 11,\\\"id\\\": 11,\\\"title\\\": \\\"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\\\",\\\"body\\\": \\\"quia et suscipitsutem sunt rem eveniet architecto\\\"}\",\n    \"httpMethod\": \"POST\",\n    \"jansEnabled\": true,\n    \"httpHeaders\": [{\n      \"key\": \"Content-Type\",\n      \"value\": \"application/json\"\n    }],\n    \"baseDn\": \"inum=aad9e1dd-87f3-357f-a2fa-93ae8eb94998,ou=auiWebhooks,ou=admin-ui,o=jans\"\n  }, {\n    \"dn\": \"inum=d23d60e8-0187-3878-94d9-30d594c4c986,ou=auiWebhooks,ou=admin-ui,o=jans\",\n    \"inum\": \"d23d60e8-0187-3878-94d9-30d594c4c986\",\n    \"displayName\": \"test-6\",\n    \"description\": \"test1\",\n    \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n    \"httpRequestBody\": \"{\\\"userId\\\": 11,\\\"id\\\": 11,\\\"title\\\": \\\"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\\\",\\\"body\\\": \\\"quia et suscipitsutem sunt rem eveniet architecto\\\"}\",\n    \"httpMethod\": \"POST\",\n    \"jansEnabled\": true,\n    \"httpHeaders\": [{\n      \"key\": \"Content-Type\",\n      \"value\": \"application/json\"\n    }],\n    \"baseDn\": \"inum=d23d60e8-0187-3878-94d9-30d594c4c986,ou=auiWebhooks,ou=admin-ui,o=jans\"\n  }]\n}\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly
    put:
      tags:
      - Admin UI - Webhooks
      summary: Update Webhook
      operationId: put-webhook
      requestBody:
        description: Webhook object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEntry'
            examples:
              Request json example:
                description: Request json example
                value: "{\n  \"dn\": \"inum=2d3fe60f-db3f-3ab8-a285-e71e935ff282,ou=auiWebhooks,ou=admin-ui,o=jans\",\n  \"inum\": \"2d3fe60f-db3f-3ab8-a285-e71e935ff282\",\n  \"displayName\": \"posts-webhook-1\",\n  \"description\": \"posts-webhook description\",\n  \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n  \"httpRequestBody\": \"{\\\"userId\\\": 11,\\\"id\\\": 11,\\\"title\\\": \\\"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\\\",\\\"body\\\": \\\"quia et suscipitsuscipit recusandae consequuntur expedita et cumreprehenderit molestiae ut ut quas otamnostrum rerum est autem sunt rem eveniet architecto\\\"}\",\n  \"httpMethod\": \"POST\",\n  \"jansEnabled\": true,\n  \"httpHeaders\": [{\n    \"key\": \"Content-Type\",\n    \"value\": \"application/json\"\n  }],\n  \"auiFeatureIds\": [\"jans_link_write\"],\n  \"baseDn\": \"inum=2d3fe60f-db3f-3ab8-a285-e71e935ff282,ou=auiWebhooks,ou=admin-ui,o=jans\"\n}\n"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEntry'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n  \"dn\": \"inum=2d3fe60f-db3f-3ab8-a285-e71e935ff282,ou=auiWebhooks,ou=admin-ui,o=jans\",\n  \"inum\": \"2d3fe60f-db3f-3ab8-a285-e71e935ff282\",\n  \"displayName\": \"posts-webhook-1\",\n  \"description\": \"posts-webhook description\",\n  \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n  \"httpRequestBody\": \"{\\\"userId\\\": 11,\\\"id\\\": 11,\\\"title\\\": \\\"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\\\",\\\"body\\\": \\\"quia et suscipitsuscipit recusandae consequuntur expedita et cumreprehenderit molestiae ut ut quas otamnostrum rerum est autem sunt rem eveniet architecto\\\"}\",\n  \"httpMethod\": \"POST\",\n  \"jansEnabled\": true,\n  \"httpHeaders\": [{\n    \"key\": \"Content-Type\",\n    \"value\": \"application/json\"\n  }],\n  \"auiFeatureIds\": [\"jans_link_write\"],\n  \"baseDn\": \"inum=2d3fe60f-db3f-3ab8-a285-e71e935ff282,ou=auiWebhooks,ou=admin-ui,o=jans\"\n}\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.write
    post:
      tags:
      - Admin UI - Webhooks
      summary: Create Webhook
      operationId: post-webhook
      requestBody:
        description: Webhook object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEntry'
            examples:
              Request json example:
                description: Request json example
                value: "{\n  \"displayName\": \"posts-webhook-1\",\n  \"description\": \"posts-webhook description\",\n  \"url\": \"https://reqres.in/api/users\",\n  \"httpRequestBody\": {\n    \"name\": \"morpheus\",\n    \"job\": \"leader\"\n  },\n  \"httpMethod\": \"POST\",\n  \"jansEnabled\": true,\n  \"httpHeaders\":[{\"key\":\"Content-Type\", \"value\":\"application/json\"}],\n  \"auiFeatureIds\":[\"jans_link_write\"]\n}\n"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scope'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n  \"dn\": \"inum=f704922d-e97f-3097-a06a-4a90ddedb87a,ou=auiWebhooks,ou=admin-ui,o=jans\",\n  \"inum\": \"f704922d-e97f-3097-a06a-4a90ddedb87a\",\n  \"displayName\": \"posts-webhook-1\",\n  \"description\": \"posts-webhook description\",\n  \"url\": \"https://reqres.in/api/users\",\n  \"httpRequestBody\": {\n    \"name\": \"morpheus\",\n    \"job\": \"leader\"\n  },\n  \"httpMethod\": \"POST\",\n  \"jansEnabled\": true,\n  \"httpHeaders\": [{\n    \"key\": \"Content-Type\",\n    \"value\": \"application/json\"\n  }],\n  \"auiFeatureIds\": [\"jans_link_write\"],\n  \"baseDn\": \"inum=f704922d-e97f-3097-a06a-4a90ddedb87a,ou=auiWebhooks,ou=admin-ui,o=jans\"\n}\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.write
  /admin-ui/webhook/{webhookId}:
    delete:
      tags:
      - Admin UI - Webhooks
      summary: Delete Webhook
      operationId: delete-Webhook-by-inum
      parameters:
      - name: webhookId
        in: path
        description: Webhook identifier
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.delete
  /admin-ui/webhook/features:
    get:
      tags:
      - Admin UI - Webhooks
      summary: Gets list of Admin UI features
      operationId: get-all-features
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuiFeature'
              examples:
                Response json example:
                  description: Response json example
                  value: "[{\n  \"dn\": \"auiFeatureId=attributes_delete,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"attributes_delete\",\n  \"displayName\": \"Schema:Person - Delete\",\n  \"jansScope\": \"https://jans.io/oauth/config/attributes.delete\"\n}, {\n  \"dn\": \"auiFeatureId=attributes_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"attributes_write\",\n  \"displayName\": \"Schema:Person - Add/Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/attributes.write\"\n}, {\n  \"dn\": \"auiFeatureId=custom_script_delete,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"custom_script_delete\",\n  \"displayName\": \"Custom Script - Delete\",\n  \"jansScope\": \"https://jans.io/oauth/config/scripts.delete\"\n}, {\n  \"dn\": \"auiFeatureId=custom_script_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"custom_script_write\",\n  \"displayName\": \"Custom Script - Add/Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/scripts.write\"\n}, {\n  \"dn\": \"auiFeatureId=fido_configuration_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"fido_configuration_write\",\n  \"displayName\": \"FIDO Configuration - Edit\",\n  \"jansScope\": \"https://jans.io/oauth/jans-auth-server/config/properties.write\"\n}, {\n  \"dn\": \"auiFeatureId=jans_link_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"jans_link_write\",\n  \"displayName\": \"Jans Link - Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/jans-link.write\",\n  \"webhookIdsMapped\": [\"dd6e0e18-231e-3a47-8cbf-d7dc07018158\", \"5ea5829b-322f-33ec-acc7-17a89165d4fb\", \"57ebb7bc-ebb6-3f0c-8633-63a4f453cc11\", \"7d5295d2-0b88-3fa1-8ea1-f4ec93dea2fb\"]\n}, {\n  \"dn\": \"auiFeatureId=oidc_clients_delete,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"oidc_clients_delete\",\n  \"displayName\": \"OIDC Clients - Delete\",\n  \"jansScope\": \"https://jans.io/oauth/config/openid/clients.delete\"\n}, {\n  \"dn\": \"auiFeatureId=oidc_clients_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"oidc_clients_write\",\n  \"displayName\": \"OIDC Clients - Add/Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/openid/clients.write\"\n}, {\n  \"dn\": \"auiFeatureId=scim_configuration_edit,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"scim_configuration_edit\",\n  \"displayName\": \"SCIM Configuration - Edit\",\n  \"jansScope\": \"https://jans.io/scim/config.write\"\n}, {\n  \"dn\": \"auiFeatureId=scopes_delete,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"scopes_delete\",\n  \"displayName\": \"Scopes - Delete\",\n  \"jansScope\": \"https://jans.io/oauth/config/scopes.delete\"\n}, {\n  \"dn\": \"auiFeatureId=scopes_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"scopes_write\",\n  \"displayName\": \"Scopes - Add/Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/scopes.write\"\n}, {\n  \"dn\": \"auiFeatureId=smtp_configuration_edit,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"smtp_configuration_edit\",\n  \"displayName\": \"SMTP Configuration - Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/smtp.write\"\n}, {\n  \"dn\": \"auiFeatureId=users_delete,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"users_delete\",\n  \"displayName\": \"Users - Delete\",\n  \"jansScope\": \"https://jans.io/oauth/config/user.delete\"\n}, {\n  \"dn\": \"auiFeatureId=users_edit,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"users_edit\",\n  \"displayName\": \"Users - Add/Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/user.write\"\n}]\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly
  /admin-ui/webhook/features/{webhookId}:
    get:
      tags:
      - Admin UI - Webhooks
      summary: Gets list of Admin UI features mapped to webhookId
      operationId: get-features-by-webhook-id
      parameters:
      - name: webhookId
        in: path
        description: Webhook identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuiFeature'
              examples:
                Response json example:
                  description: Response json example
                  value: "[{\n  \"dn\": \"auiFeatureId=jans_link_write,ou=auiFeatures,ou=admin-ui,o=jans\",\n  \"auiFeatureId\": \"jans_link_write\",\n  \"displayName\": \"Jans Link - Edit\",\n  \"jansScope\": \"https://jans.io/oauth/config/jans-link.write\",\n  \"webhookIdsMapped\": [\"dd6e0e18-231e-3a47-8cbf-d7dc07018158\", \"5ea5829b-322f-33ec-acc7-17a89165d4fb\", \"57ebb7bc-ebb6-3f0c-8633-63a4f453cc11\", \"7d5295d2-0b88-3fa1-8ea1-f4ec93dea2fb\"]\n}]\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly
  /admin-ui/webhook/{featureId}:
    get:
      tags:
      - Admin UI - Webhooks
      summary: Gets list of Admin UI Webhooks mapped to featureId
      operationId: get-webhooks-by-feature-id
      parameters:
      - name: featureId
        in: path
        description: Feature identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEntry'
              examples:
                Response json example:
                  description: Response json example
                  value: "[{\n  \"dn\": \"inum=aad9e1dd-87f3-357f-a2fa-93ae8eb94998,ou=auiWebhooks,ou=admin-ui,o=jans\",\n  \"inum\": \"aad9e1dd-87f3-357f-a2fa-93ae8eb94998\",\n  \"displayName\": \"test-5\",\n  \"description\": \"test1\",\n  \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n  \"httpRequestBody\": \"{\\\"userId\\\": 11,\\\"id\\\": 11,\\\"title\\\": \\\"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\\\",\\\"body\\\": \\\"quia et suscipitsutem sunt rem eveniet architecto\\\"}\",\n  \"httpMethod\": \"POST\",\n  \"jansEnabled\": true,\n  \"httpHeaders\": [{\n    \"key\": \"Content-Type\",\n    \"value\": \"application/json\"\n  }],\n  \"baseDn\": \"inum=aad9e1dd-87f3-357f-a2fa-93ae8eb94998,ou=auiWebhooks,ou=admin-ui,o=jans\"\n}, {\n  \"dn\": \"inum=d23d60e8-0187-3878-94d9-30d594c4c986,ou=auiWebhooks,ou=admin-ui,o=jans\",\n  \"inum\": \"d23d60e8-0187-3878-94d9-30d594c4c986\",\n  \"displayName\": \"test-6\",\n  \"description\": \"test1\",\n  \"url\": \"https://jsonplaceholder.typicode.com/posts\",\n  \"httpRequestBody\": \"{\\\"userId\\\": 11,\\\"id\\\": 11,\\\"title\\\": \\\"sunt aut facere repellat provident occaecati excepturi optio reprehenderit\\\",\\\"body\\\": \\\"quia et suscipitsutem sunt rem eveniet architecto\\\"}\",\n  \"httpMethod\": \"POST\",\n  \"jansEnabled\": true,\n  \"httpHeaders\": [{\n    \"key\": \"Content-Type\",\n    \"value\": \"application/json\"\n  }],\n  \"baseDn\": \"inum=d23d60e8-0187-3878-94d9-30d594c4c986,ou=auiWebhooks,ou=admin-ui,o=jans\"\n}]\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly
  /admin-ui/webhook/trigger/{featureId}:
    post:
      tags:
      - Admin UI - Webhooks
      summary: Trigger webhooks mapped to featureId
      operationId: trigger-webhook
      parameters:
      - name: featureId
        in: path
        description: Admin UI feature identifier
        required: true
        schema:
          type: string
      requestBody:
        description: Webhook object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShortCodeRequest'
            examples:
              Request json example:
                description: Request json example
                value: "[{\n  \"webhookId\": \"0a8e784b-2394-3a34-89d3-4a09d245aa32\",\n  \"shortcodeValueMap\": {\"price\": 100}\n}]\n"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuiFeature'
              examples:
                Response json example:
                  description: Response json example
                  value: "[{\n  \"success\": true,\n  \"responseMessage\": \"{\\\"id\\\":101,\\\"title\\\":\\\"iPhone 9\\\",\\\"price\\\":\\\"100\\\",\\\"description\\\":\\\"An apple mobile which is nothing like apple\\\"}\",\n  \"responseCode\": 200,\n  \"responseObject\": {\n    \"webhookId\": \"0a8e784b-2394-3a34-89d3-4a09d245aa32\",\n    \"webhookName\": \"Webhook1\",\n    \"webhookMethod\": \"POST\",\n    \"webhookRequestBody\": \"{dummy={a=b}, price=100, description=An apple mobile which is nothing like apple, id=1, title=iPhone 9}\"\n  }\n}, {\n  \"success\": true,\n  \"responseMessage\": \"{\\\"users\\\":[{\\\"id\\\":1,\\\"firstName\\\":\\\"Terry\\\",\\\"lastName\\\":\\\"Medhurst\\\",\\\"maidenName\\\":\\\"Smitham\\\",\\\"age\\\":50,\\\"gender\\\":\\\"male\\\",\\\"email\\\":\\\"atuny0@sohu.com\\\",\\\"phone\\\":\\\"+63 791 675 8914\\\",\\\"username\\\":\\\"atuny0\\\",\\\"password\\\":\\\"9uQFF1Lh\\\",\\\"birthDate\\\":\\\"2000-12-25\\\",\\\"image\\\":\\\"https://robohash.org/Terry.png?set=set4\\\",\\\"bloodGroup\\\":\\\"A-\\\",\\\"height\\\":189,\\\"weight\\\":75.4,\\\"eyeColor\\\":\\\"Green\\\",\\\"hair\\\":{\\\"color\\\":\\\"Black\\\",\\\"type\\\":\\\"Strands\\\"},\\\"domain\\\":\\\"slashdot.org\\\",\\\"ip\\\":\\\"117.29.86.254\\\",\\\"address\\\":{\\\"address\\\":\\\"1745 T Street Southeast\\\",\\\"city\\\":\\\"Washington\\\",\\\"coordinates\\\":{\\\"lat\\\":38.867033,\\\"lng\\\":-76.979235},\\\"postalCode\\\":\\\"20020\\\",\\\"state\\\":\\\"DC\\\"},\\\"macAddress\\\":\\\"13:69:BA:56:A3:74\\\",\\\"university\\\":\\\"Capitol University\\\",\\\"bank\\\":{\\\"cardExpire\\\":\\\"06/22\\\",\\\"cardNumber\\\":\\\"50380955204220685\\\",\\\"cardType\\\":\\\"maestro\\\",\\\"currency\\\":\\\"Peso\\\",\\\"iban\\\":\\\"NO17 0695 2754 967\\\"},\\\"company\\\":{\\\"address\\\":{\\\"address\\\":\\\"629 Debbie Drive\\\",\\\"city\\\":\\\"Nashville\\\",\\\"coordinates\\\":{\\\"lat\\\":36.208114,\\\"lng\\\":-86.58621199999999},\\\"postalCode\\\":\\\"37076\\\",\\\"state\\\":\\\"TN\\\"},\\\"department\\\":\\\"Marketing\\\",\\\"name\\\":\\\"Blanda-O'Keefe\\\",\\\"title\\\":\\\"Help Desk Operator\\\"},\\\"ein\\\":\\\"20-9487066\\\",\\\"ssn\\\":\\\"661-64-2976\\\",\\\"userAgent\\\":\\\"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/534.24 (KHTML, like Gecko) Chrome/12.0.702.0 Safari/534.24\\\",\\\"crypto\\\":{\\\"coin\\\":\\\"Bitcoin\\\",\\\"wallet\\\":\\\"0xb9fc2fe63b2a6c003f1c324c3bfa53259162181a\\\",\\\"network\\\":\\\"Ethereum (ERC20)\\\"}},{\\\"id\\\":2,\\\"firstName\\\":\\\"Sheldon\\\",\\\"lastName\\\":\\\"Quigley\\\",\\\"maidenName\\\":\\\"Cole\\\",\\\"age\\\":28,\\\"gender\\\":\\\"male\\\",\\\"email\\\":\\\"hbingley1@plala.or.jp\\\",\\\"phone\\\":\\\"+7 813 117 7139\\\",\\\"username\\\":\\\"hbingley1\\\",\\\"password\\\":\\\"CQutx25i8r\\\",\\\"birthDate\\\":\\\"2003-08-02\\\",\\\"image\\\":\\\"https://robohash.org/Sheldon.png?set=set4\\\",\\\"bloodGroup\\\":\\\"O+\\\",\\\"height\\\":187,\\\"weight\\\":74,\\\"eyeColor\\\":\\\"Brown\\\",\\\"hair\\\":{\\\"color\\\":\\\"Blond\\\",\\\"type\\\":\\\"Curly\\\"},\\\"domain\\\":\\\"51.la\\\",\\\"ip\\\":\\\"253.240.20.181\\\",\\\"address\\\":{\\\"address\\\":\\\"6007 Applegate Lane\\\",\\\"city\\\":\\\"Louisville\\\",\\\"coordinates\\\":{\\\"lat\\\":38.1343013,\\\"lng\\\":-85.6498512},\\\"postalCode\\\":\\\"40219\\\",\\\"state\\\":\\\"KY\\\"}\",\n  \"responseCode\": 200,\n  \"responseObject\": {\n    \"webhookId\": \"bf21de5b-adb9-3581-82f5-76bb335f1cbd\",\n    \"webhookName\": \"Dummyuser-test\",\n    \"webhookMethod\": \"GET\"\n  }\n}]\n"
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/webhook.readonly
components:
  schemas:
    Scope:
      type: object
      properties:
        dn:
          type: string
        expirationDate:
          type: string
          format: date-time
        deletable:
          type: boolean
        inum:
          type: string
        displayName:
          type: string
        id:
          type: string
        iconUrl:
          type: string
        description:
          type: string
        scopeType:
          type: string
          enum:
          - openid
          - dynamic
          - uma
          - spontaneous
          - oauth
        claims:
          type: array
          items:
            type: string
        defaultScope:
          type: boolean
        groupClaims:
          type: boolean
        dynamicScopeScripts:
          type: array
          items:
            type: string
        umaAuthorizationPolicies:
          type: array
          items:
            type: string
        attributes:
          $ref: '#/components/schemas/ScopeAttributes'
        creatorId:
          type: string
        creatorType:
          type: string
          enum:
          - none
          - client
          - user
          - auto
        creationDate:
          type: string
          format: date-time
        creatorAttributes:
          type: object
          additionalProperties:
            type: string
        umaType:
          type: boolean
        baseDn:
          type: string
    WebhookEntry:
      required:
      - displayName
      - url
      type: object
      properties:
        dn:
          type: string
        inum:
          type: string
        displayName:
          maxLength: 60
          minLength: 2
          pattern: ^[a-zA-Z0-9_\-\:\/\.]+$
          type: string
        description:
          type: string
        url:
          type: string
        httpRequestBodyString:
          type: string
        httpMethod:
          type: string
        jansEnabled:
          type: boolean
        httpHeaders:
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair'
        auiFeatureIds:
          uniqueItems: true
          type: array
          items:
            type: string
        httpRequestBody:
          type: object
          additionalProperties:
            type: object
        baseDn:
          type: string
    KeyValuePair:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    PagedResult:
      type: object
      properties:
        start:
          type: integer
          format: int32
        totalEntriesCount:
          type: integer
          format: int32
        entriesCount:
          type: integer
          format: int32
        entries:
          type: array
          items:
            type: object
    JsonNode:
      type: object
    ShortCodeRequest:
      required:
      - webhookId
      type: object
      properties:
        webhookId:
          type: string
        shortcodeValueMap:
          type: object
          additionalProperties:
            type: object
    GenericResponse:
      type: object
      properties:
        success:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: integer
          format: int32
        responseObject:
          $ref: '#/components/schemas/JsonNode'
        responseBytes:
          type: string
          format: byte
    ScopeAttributes:
      type: object
      properties:
        spontaneousClientScopes:
          type: array
          items:
            type: string
        showInConfigurationEndpoint:
          type: boolean
    AuiFeature:
      type: object
      properties:
        dn:
          type: string
        auiFeatureId:
          type: string
        displayName:
          type: string
        jansScope:
          type: string
        webhookIdsMapped:
          type: array
          items:
            type: string
        baseDn:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly: View admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write: Manage admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete: Delete admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly: View admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write: Manage admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete: Delete admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly: View role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write: Manage role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete: Delete role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly: View admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.write: Manage admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.admin: Full administrative access to license related information (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/security.readonly: View Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.write: Edit Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.delete: Delete Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly: View Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.write: Manage Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin: Full administrative access to admin user roles (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin: Full administrative access to admin permissions (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.admin: Full administrative access to role-permission mappings (super-user level)
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
