openapi: 3.2.0
info:
  title: Jans Lock Lock - Stat API
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io
  description: The Jans server
tags:
- name: Lock - Stat
paths:
  /api/v1/internal/stat:
    get:
      tags:
      - Lock - Stat
      summary: Request stat data
      operationId: statGet
      parameters:
      - name: month
        in: query
        schema:
          type: string
      - name: start-month
        in: query
        schema:
          type: string
      - name: end-month
        in: query
        schema:
          type: string
      - name: format
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatStatResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '401':
          description: Unauthorized
        '403':
          description: Future stat is disabled on server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
      security:
      - oauth2:
        - https://jans.io/oauth/lock/stat.readonly
    post:
      tags:
      - Lock - Stat
      summary: Request stat data
      operationId: statPost
      requestBody:
        content:
          '*/*':
            schema:
              type: object
              properties:
                month:
                  type: string
                start-month:
                  type: string
                end-month:
                  type: string
                format:
                  type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlatStatResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '401':
          description: Unauthorized
        '403':
          description: Future stat is disabled on server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockApiError'
      security:
      - oauth2:
        - https://jans.io/oauth/lock/stat.readonly
components:
  schemas:
    StatResponseItem:
      type: object
      properties:
        month:
          type: string
        monthly_active_users:
          type: integer
          format: int64
        monthly_active_clients:
          type: integer
          format: int64
        operations_by_type:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: integer
              format: int64
    LockApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        description:
          type: string
    FlatStatResponse:
      type: object
      properties:
        response:
          type: array
          items:
            $ref: '#/components/schemas/StatResponseItem'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/lock/policy.readonly: View policy related information
            https://jans.io/oauth/lock/health.write: Write audit health entries
            https://jans.io/oauth/lock/log.write: Write audit log entries
            https://jans.io/oauth/lock/telemetry.write: Write telemetry health entries
            https://jans.io/oauth/lock/stat.readonly: View stat related information
