openapi: 3.2.0
info:
  title: Jans Config OAuth - OpenID Connect - Clients API
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io
  description: The Jans server
tags:
- name: OAuth - OpenID Connect - Clients
paths:
  /api/v1/openid/clients:
    get:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Gets list of OpenID Connect clients
      operationId: get-oauth-openid-clients
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ''
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: inum
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending"
        schema:
          type: string
          default: ascending
      - name: fieldValuePair
        in: query
        description: Field and value pair for searching
        schema:
          type: string
          default: ''
        examples:
          Field value example:
            description: Field value example
            value: applicationType=web,persistClientAuthorizations=true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"start\": 0,\n    \"totalEntriesCount\": 8,\n    \"entriesCount\": 8,\n    \"entries\": [\n        {\n            \"dn\": \"inum=1201.c091b1aa-4429-454e-8c80-bc11ed9bac0d,ou=clients,o=jans\",\n            \"clientSecret\": \"hm7fKhoxVfsR\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/.well-known/scim-configuration\"\n            ],\n            \"grantTypes\": [\n                \"client_credentials\"\n            ],\n            \"applicationType\": \"native\",\n            \"clientName\": \"SCIM client\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"scopes\": [\n                \"inum=1200.485475,ou=scopes,o=jans\",\n                \"inum=1200.EE9755,ou=scopes,o=jans\",\n                \"inum=1200.57CC3F,ou=scopes,o=jans\",\n                \"inum=1200.57EA2A,ou=scopes,o=jans\",\n                \"inum=1200.C5C2EF,ou=scopes,o=jans\",\n                \"inum=1200.369E7D,ou=scopes,o=jans\",\n                \"inum=1200.472E10,ou=scopes,o=jans\",\n                \"inum=1200.D8FE2A,ou=scopes,o=jans\",\n                \"inum=1200.0F2F42,ou=scopes,o=jans\",\n                \"inum=1200.A9B43A,ou=scopes,o=jans\"\n            ],\n            \"trustedClient\": false,\n            \"persistClientAuthorizations\": false,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"displayName\": \"SCIM client\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=1201.c091b1aa-4429-454e-8c80-bc11ed9bac0d,ou=clients,o=jans\",\n            \"inum\": \"1201.c091b1aa-4429-454e-8c80-bc11ed9bac0d\"\n        },\n        {\n            \"dn\": \"inum=1800.bc140317-7ee2-42a1-8b9e-c653c9a68927,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"d2U1A5Es6uuE\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/admin-ui\",\n                \"http://localhost:4100\"\n            ],\n            \"responseTypes\": [\n                \"code\"\n            ],\n            \"grantTypes\": [\n                \"authorization_code\",\n                \"refresh_token\",\n                \"client_credentials\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"Jans Config Api Client\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"scopes\": [\n                \"inum=C4F7,ou=scopes,o=jans\",\n                \"inum=1200.485475,ou=scopes,o=jans\",\n                \"inum=1200.EE9755,ou=scopes,o=jans\",\n                \"inum=1800.01.1,ou=scopes,o=jans\",\n                \"inum=1800.01.2,ou=scopes,o=jans\",\n                \"inum=1800.03.1,ou=scopes,o=jans\",\n                \"inum=1800.03.2,ou=scopes,o=jans\",\n                \"inum=1800.01.3,ou=scopes,o=jans\",\n                \"inum=1800.01.4,ou=scopes,o=jans\",\n                \"inum=1800.01.5,ou=scopes,o=jans\",\n                \"inum=1800.03.3,ou=scopes,o=jans\",\n                \"inum=1800.01.6,ou=scopes,o=jans\",\n                \"inum=1800.01.7,ou=scopes,o=jans\",\n                \"inum=1800.01.8,ou=scopes,o=jans\",\n                \"inum=1800.02.1,ou=scopes,o=jans\",\n                \"inum=1800.01.9,ou=scopes,o=jans\",\n                \"inum=1800.02.2,ou=scopes,o=jans\",\n                \"inum=1800.01.10,ou=scopes,o=jans\",\n                \"inum=1800.02.3,ou=scopes,o=jans\",\n                \"inum=1800.01.11,ou=scopes,o=jans\",\n                \"inum=1800.01.12,ou=scopes,o=jans\",\n                \"inum=1800.01.13,ou=scopes,o=jans\",\n                \"inum=1800.01.14,ou=scopes,o=jans\",\n                \"inum=1800.01.15,ou=scopes,o=jans\",\n                \"inum=1800.01.16,ou=scopes,o=jans\",\n                \"inum=1800.01.17,ou=scopes,o=jans\",\n                \"inum=1800.01.18,ou=scopes,o=jans\",\n                \"inum=1800.01.19,ou=scopes,o=jans\",\n                \"inum=1800.01.20,ou=scopes,o=jans\",\n                \"inum=1800.01.21,ou=scopes,o=jans\",\n                \"inum=1800.01.22,ou=scopes,o=jans\",\n                \"inum=1800.01.23,ou=scopes,o=jans\",\n                \"inum=1800.01.24,ou=scopes,o=jans\",\n                \"inum=1800.01.25,ou=scopes,o=jans\",\n                \"inum=1800.01.26,ou=scopes,o=jans\",\n                \"inum=1800.01.27,ou=scopes,o=jans\",\n                \"inum=1800.01.28,ou=scopes,o=jans\",\n                \"inum=1800.01.29,ou=scopes,o=jans\",\n                \"inum=1800.01.30,ou=scopes,o=jans\",\n                \"inum=1800.01.31,ou=scopes,o=jans\",\n                \"inum=1800.01.32,ou=scopes,o=jans\",\n                \"inum=1800.01.33,ou=scopes,o=jans\",\n                \"inum=1800.02.4,ou=scopes,o=jans\",\n                \"inum=1800.02.5,ou=scopes,o=jans\",\n                \"inum=1800.01.34,ou=scopes,o=jans\",\n                \"inum=1800.02.6,ou=scopes,o=jans\",\n                \"inum=1800.01.35,ou=scopes,o=jans\",\n                \"inum=1800.01.36,ou=scopes,o=jans\",\n                \"inum=1800.01.37,ou=scopes,o=jans\",\n                \"inum=1800.01.38,ou=scopes,o=jans\",\n                \"inum=1800.01.39,ou=scopes,o=jans\",\n                \"inum=1800.01.40,ou=scopes,o=jans\",\n                \"inum=1800.01.41,ou=scopes,o=jans\",\n                \"inum=1800.01.42,ou=scopes,o=jans\",\n                \"inum=1800.01.43,ou=scopes,o=jans\",\n                \"inum=1800.01.44,ou=scopes,o=jans\",\n                \"inum=1800.01.45,ou=scopes,o=jans\",\n                \"inum=1800.01.46,ou=scopes,o=jans\",\n                \"inum=1800.01.47,ou=scopes,o=jans\",\n                \"inum=1800.04.1,ou=scopes,o=jans\",\n                \"inum=1800.04.2,ou=scopes,o=jans\",\n                \"inum=1800.04.12,ou=scopes,o=jans\",\n                \"inum=1800.04.13,ou=scopes,o=jans\",\n                \"inum=1800.04.3,ou=scopes,o=jans\",\n                \"inum=1800.04.14,ou=scopes,o=jans\",\n                \"inum=1800.04.4,ou=scopes,o=jans\",\n                \"inum=1800.04.5,ou=scopes,o=jans\",\n                \"inum=1800.04.6,ou=scopes,o=jans\",\n                \"inum=1800.04.7,ou=scopes,o=jans\",\n                \"inum=1800.04.8,ou=scopes,o=jans\",\n                \"inum=1800.04.9,ou=scopes,o=jans\",\n                \"inum=1800.04.10,ou=scopes,o=jans\",\n                \"inum=1800.04.11,ou=scopes,o=jans\",\n                \"inum=1800.01.49,ou=scopes,o=jans\",\n                \"inum=1800.01.50,ou=scopes,o=jans\",\n                \"inum=1800.01.51,ou=scopes,o=jans\",\n                \"inum=1800.01.52,ou=scopes,o=jans\",\n                \"inum=1800.01.53,ou=scopes,o=jans\",\n                \"inum=1800.01.54,ou=scopes,o=jans\",\n                \"inum=1800.01.55,ou=scopes,o=jans\",\n                \"inum=1800.01.56,ou=scopes,o=jans\",\n                \"inum=1800.01.57,ou=scopes,o=jans\",\n                \"inum=1800.01.58,ou=scopes,o=jans\",\n                \"inum=1800.01.59,ou=scopes,o=jans\",\n                \"inum=1800.01.60,ou=scopes,o=jans\",\n                \"inum=1800.01.61,ou=scopes,o=jans\",\n                \"inum=1800.01.62,ou=scopes,o=jans\",\n                \"inum=1800.01.63,ou=scopes,o=jans\",\n                \"inum=1800.01.64,ou=scopes,o=jans\",\n                \"inum=1800.01.65,ou=scopes,o=jans\",\n                \"inum=1800.01.66,ou=scopes,o=jans\",\n                \"inum=1800.01.67,ou=scopes,o=jans\",\n                \"inum=1800.01.067,ou=scopes,o=jans\",\n                \"inum=1800.01.68,ou=scopes,o=jans\",\n                \"inum=1800.01.69,ou=scopes,o=jans\",\n                \"inum=1800.01.70,ou=scopes,o=jans\",\n                \"inum=1800.01.71,ou=scopes,o=jans\",\n                \"inum=1800.01.72,ou=scopes,o=jans\",\n                \"inum=1800.01.73,ou=scopes,o=jans\",\n                \"inum=1800.01.74,ou=scopes,o=jans\",\n                \"inum=1800.01.75,ou=scopes,o=jans\",\n                \"inum=1800.01.76,ou=scopes,o=jans\",\n                \"inum=1800.01.77,ou=scopes,o=jans\"\n            ],\n            \"trustedClient\": false,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"displayName\": \"Jans Config Api Client\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=1800.bc140317-7ee2-42a1-8b9e-c653c9a68927,ou=clients,o=jans\",\n            \"inum\": \"1800.bc140317-7ee2-42a1-8b9e-c653c9a68927\"\n        },\n        {\n            \"dn\": \"inum=2000.6b0541e3-acc7-4fb1-96c2-b704c3e65f9f,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"RyF17ubsbdTb\",\n            \"frontChannelLogoutUri\": \"http://localhost:4100/logout\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/admin\",\n                \"http://localhost:4100\"\n            ],\n            \"responseTypes\": [\n                \"code\"\n            ],\n            \"grantTypes\": [\n                \"authorization_code\",\n                \"refresh_token\",\n                \"client_credentials\",\n                \"urn:ietf:params:oauth:grant-type:device_code\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"Jans TUI Client\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"userInfoSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"postLogoutRedirectUris\": [\n                \"http://localhost:4100\",\n                \"https://pujavs-definite-dory.gluu.info/admin\"\n            ],\n            \"scopes\": [\n                \"inum=C4F7,ou=scopes,o=jans\",\n                \"inum=C4F6,ou=scopes,o=jans\",\n                \"inum=43F1,ou=scopes,o=jans\",\n                \"inum=764C,ou=scopes,o=jans\",\n                \"inum=F0C4,ou=scopes,o=jans\",\n                \"inum=B9D2-D6E5,ou=scopes,o=jans\"\n            ],\n            \"trustedClient\": true,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"accessTokenLifetime\": 2592000,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"updateTokenScriptDns\": [\n                    \"inum=2D3E.5A04,ou=scripts,o=jans\"\n                ],\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"displayName\": \"Jans TUI Client\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=2000.6b0541e3-acc7-4fb1-96c2-b704c3e65f9f,ou=clients,o=jans\",\n            \"inum\": \"2000.6b0541e3-acc7-4fb1-96c2-b704c3e65f9f\"\n        },\n        {\n            \"dn\": \"inum=2100.45b8d476-f4a7-4351-a936-d49623aedf85,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"oruB9zGAzlEs\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/admin-ui\",\n                \"http://localhost:4100\"\n            ],\n            \"grantTypes\": [\n                \"authorization_code\",\n                \"client_credentials\",\n                \"password\",\n                \"refresh_token\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"Jans SCIM Client for SAML\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"scopes\": [\n                \"inum=F0C4,ou=scopes,o=jans\"\n            ],\n            \"trustedClient\": false,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"description\": \"Jans SCIM Client for SAML\",\n            \"displayName\": \"Jans SCIM Client for SAML\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=2100.45b8d476-f4a7-4351-a936-d49623aedf85,ou=clients,o=jans\",\n            \"inum\": \"2100.45b8d476-f4a7-4351-a936-d49623aedf85\"\n        },\n        {\n            \"dn\": \"inum=2101.90177254-fdc7-44bb-a2e2-56ad4c8b71f7,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"0m3XirLDM4u4\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/kc/realms/jans/kc-jans-authn-rest-bridge/auth-complete\"\n            ],\n            \"responseTypes\": [\n                \"code\",\n                \"token\"\n            ],\n            \"grantTypes\": [\n                \"authorization_code\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"saml_openid\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"trustedClient\": false,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"description\": \"OpenID client used for SAML authentication\",\n            \"displayName\": \"saml_openid\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=2101.90177254-fdc7-44bb-a2e2-56ad4c8b71f7,ou=clients,o=jans\",\n            \"inum\": \"2101.90177254-fdc7-44bb-a2e2-56ad4c8b71f7\"\n        },\n        {\n            \"dn\": \"inum=2102.bc5b8f1b-fa8b-405e-9063-9efb69d80146,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"hFZN4udFr6am\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/kc/realms/jans/dev/null\"\n            ],\n            \"responseTypes\": [\n                \"token\"\n            ],\n            \"grantTypes\": [\n                \"client_credentials\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"scheduler_api\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"trustedClient\": false,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"description\": \"scheduler openid client used to obtain API keys to invoke the config-api\",\n            \"displayName\": \"scheduler_api\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=2102.bc5b8f1b-fa8b-405e-9063-9efb69d80146,ou=clients,o=jans\",\n            \"inum\": \"2102.bc5b8f1b-fa8b-405e-9063-9efb69d80146\"\n        },\n        {\n            \"dn\": \"inum=2103.6eecd736-a1b0-4411-bfc1-c93e40fa328f,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"A4bnhfJ6qynt\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/kc/realms/master/kc-jans-authn-rest-bridge/auth-complete\"\n            ],\n            \"responseTypes\": [\n                \"code\",\n                \"token\"\n            ],\n            \"grantTypes\": [\n                \"authorization_code\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"master_auth\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"trustedClient\": false,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"description\": \"master realm client used to authenticate administrators\",\n            \"displayName\": \"master_auth\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=2103.6eecd736-a1b0-4411-bfc1-c93e40fa328f,ou=clients,o=jans\",\n            \"inum\": \"2103.6eecd736-a1b0-4411-bfc1-c93e40fa328f\"\n        },\n        {\n            \"dn\": \"inum=3000.6a724dcb-2dd1-47be-9fcd-981b83556965,ou=clients,o=jans\",\n            \"deletable\": false,\n            \"clientSecret\": \"4MfT17z8Bt1O\",\n            \"frontChannelLogoutUri\": \"https://pujavs-definite-dory.gluu.info/jans-casa/autologout\",\n            \"frontChannelLogoutSessionRequired\": false,\n            \"redirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/jans-casa\"\n            ],\n            \"responseTypes\": [\n                \"code\"\n            ],\n            \"grantTypes\": [\n                \"authorization_code\",\n                \"refresh_token\",\n                \"client_credentials\"\n            ],\n            \"applicationType\": \"web\",\n            \"clientName\": \"Client for Casa\",\n            \"clientNameLocalized\": {},\n            \"logoUriLocalized\": {},\n            \"clientUriLocalized\": {},\n            \"policyUriLocalized\": {},\n            \"tosUriLocalized\": {},\n            \"subjectType\": \"pairwise\",\n            \"idTokenSignedResponseAlg\": \"RS256\",\n            \"userInfoSignedResponseAlg\": \"RS256\",\n            \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n            \"postLogoutRedirectUris\": [\n                \"https://pujavs-definite-dory.gluu.info/jans-casa/bye.zul\"\n            ],\n            \"scopes\": [\n                \"inum=F0C4,ou=scopes,o=jans\",\n                \"inum=43F1,ou=scopes,o=jans\",\n                \"inum=10B2,ou=scopes,o=jans\",\n                \"inum=341A,ou=scopes,o=jans\",\n                \"inum=3000.01.1,ou=scopes,o=jans\",\n                \"inum=3000.01.2,ou=scopes,o=jans\",\n                \"inum=3000.01.3,ou=scopes,o=jans\"\n            ],\n            \"trustedClient\": true,\n            \"persistClientAuthorizations\": true,\n            \"includeClaimsInIdToken\": false,\n            \"customAttributes\": [],\n            \"customObjectClasses\": [\n                \"top\"\n            ],\n            \"rptAsJwt\": false,\n            \"accessTokenAsJwt\": false,\n            \"accessTokenSigningAlg\": \"RS256\",\n            \"disabled\": false,\n            \"attributes\": {\n                \"runIntrospectionScriptBeforeJwtCreation\": false,\n                \"keepClientAuthorizationAfterExpiration\": false,\n                \"allowSpontaneousScopes\": false,\n                \"backchannelLogoutSessionRequired\": false,\n                \"parLifetime\": 600,\n                \"requirePar\": false,\n                \"dpopBoundAccessToken\": false,\n                \"jansDefaultPromptLogin\": false,\n                \"minimumAcrLevel\": -1\n            },\n            \"displayName\": \"Client for Casa\",\n            \"allAuthenticationMethods\": [\n                \"client_secret_basic\"\n            ],\n            \"authenticationMethod\": \"client_secret_basic\",\n            \"baseDn\": \"inum=3000.6a724dcb-2dd1-47be-9fcd-981b83556965,ou=clients,o=jans\",\n            \"inum\": \"3000.6a724dcb-2dd1-47be-9fcd-981b83556965\"\n        }\n    ]\n}\n"
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.readonly
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.write
      - oauth2:
        - https://jans.io/oauth/config/openid/openid.readonly
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    put:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Update OpenId Connect client
      operationId: put-oauth-openid-client
      requestBody:
        description: OpenID Connect Client object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
            examples:
              Request json example:
                description: Request json example
                value: "{\n    \"dn\": \"inum=f8c1a111-0919-47e8-a4d4-f7c18f73a644,ou=clients,o=jans\",\n    \"baseDn\": \"inum=f8c1a111-0919-47e8-a4d4-f7c18f73a644,ou=clients,o=jans\",\n    \"inum\": \"f8c1a111-0919-47e8-a4d4-f7c18f73a644\",\n    \"deletable\": false,\n    \"clientSecret\": \"test1234\",\n    \"frontChannelLogoutSessionRequired\": false,\n    \"redirectUris\": [\n        \"https://jans.server2/admin-ui\",\n        \"http://localhost:4100\"\n    ],\n    \"responseTypes\": [\n        \"code\"\n    ],\n    \"grantTypes\": [\n        \"authorization_code\",\n        \"refresh_token\",\n        \"client_credentials\"\n    ],\n    \"applicationType\": \"web\",\n    \"clientName\": \"\",\n    \"logoUri\": \"\",\n    \"clientUri\": \"\",\n    \"policyUri\":\"\",\n    \"tosUri\": \"\",\n    \"subjectType\": \"pairwise\",\n    \"idTokenSignedResponseAlg\": \"RS256\",\n    \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n    \"scopes\": [\n        \"inum=C4F7,ou=scopes,o=jans\"\n    ],\n    \"trustedClient\": false,\n    \"persistClientAuthorizations\": true,\n    \"includeClaimsInIdToken\": false,\n    \"customAttributes\": [\n        {\n            \"name\": \"displayName\",\n            \"multiValued\": false,\n            \"values\": [\n                \"Api Client\"\n            ],\n            \"value\": \"Api Client\",\n            \"displayValue\": \"Api Client\"\n        }\n    ],\n    \"customObjectClasses\": [\n        \"top\"\n    ],\n    \"rptAsJwt\": false,\n    \"accessTokenAsJwt\": false,\n    \"accessTokenSigningAlg\": \"RS256\",\n    \"disabled\": false,\n    \"attributes\": {\n        \"runIntrospectionScriptBeforeJwtCreation\": false,\n        \"keepClientAuthorizationAfterExpiration\": false,\n        \"allowSpontaneousScopes\": false,\n        \"backchannelLogoutSessionRequired\": false,\n        \"parLifetime\": 600,\n        \"requirePar\": false,\n        \"jansDefaultPromptLogin\": false\n    },\n    \"tokenBindingSupported\": false,\n    \"authenticationMethod\": \"client_secret_basic\",\n    \"displayName\": \"Api Client\"\n}\n"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"deletable\": false,\n    \"clientSecret\": \"WZMK8thDpvw1xtE0N+SbXA==\",\n    \"frontChannelLogoutSessionRequired\": false,\n    \"redirectUris\": [\n        \"https://jans.server2/admin-ui\",\n        \"http://localhost:4100\"\n    ],\n    \"responseTypes\": [\n        \"code\"\n    ],\n    \"grantTypes\": [\n        \"authorization_code\",\n        \"refresh_token\",\n        \"client_credentials\"\n    ],\n    \"applicationType\": \"web\",\n    \"clientName\": \"Jans Config Api Client\",\n    \"logoUri\": \"\",\n    \"clientUri\": \"\",\n    \"policyUri\": \"\",\n    \"tosUri\": \"\",\n    \"subjectType\": \"pairwise\",\n    \"idTokenSignedResponseAlg\": \"RS256\",\n    \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n    \"scopes\": [\n        \"inum=C4F7,ou=scopes,o=jans\",\n        \"inum=1200.487800,ou=scopes,o=jans\",\n        \"inum=1200.9CEE5C,ou=scopes,o=jans\",\n        \"inum=1800.FFE5C0,ou=scopes,o=jans\",\n        \"inum=1800.472951,ou=scopes,o=jans\",\n        \"inum=1800.556F45,ou=scopes,o=jans\",\n        \"inum=1800.77FB4F,ou=scopes,o=jans\",\n        \"inum=1800.AA8DFE,ou=scopes,o=jans\",\n        \"inum=1800.CD5B72,ou=scopes,o=jans\",\n        \"inum=1800.CBCF52,ou=scopes,o=jans\",\n        \"inum=1800.12284F,ou=scopes,o=jans\",\n        \"inum=1800.141B26,ou=scopes,o=jans\",\n        \"inum=1800.A018AC,ou=scopes,o=jans\",\n        \"inum=1800.6E4456,ou=scopes,o=jans\",\n        \"inum=1800.55499D,ou=scopes,o=jans\",\n        \"inum=1800.E730AA,ou=scopes,o=jans\",\n        \"inum=1800.097318,ou=scopes,o=jans\",\n        \"inum=1800.04CF24,ou=scopes,o=jans\",\n        \"inum=1800.F963F9,ou=scopes,o=jans\",\n        \"inum=1800.31F580,ou=scopes,o=jans\",\n        \"inum=1800.E512E3,ou=scopes,o=jans\",\n        \"inum=1800.E65DC6,ou=scopes,o=jans\",\n        \"inum=1800.3C1F46,ou=scopes,o=jans\",\n        \"inum=1800.20D48C,ou=scopes,o=jans\",\n        \"inum=1800.4601AA,ou=scopes,o=jans\",\n        \"inum=1800.A9B842,ou=scopes,o=jans\",\n        \"inum=1800.864485,ou=scopes,o=jans\",\n        \"inum=1800.F0B654,ou=scopes,o=jans\",\n        \"inum=1800.45F1D7,ou=scopes,o=jans\",\n        \"inum=1800.B78FA5,ou=scopes,o=jans\",\n        \"inum=1800.E3D7E0,ou=scopes,o=jans\",\n        \"inum=1800.E212DC,ou=scopes,o=jans\",\n        \"inum=1800.94F80F,ou=scopes,o=jans\",\n        \"inum=1800.9F96F3,ou=scopes,o=jans\",\n        \"inum=1800.CB50EC,ou=scopes,o=jans\",\n        \"inum=1800.1CA946,ou=scopes,o=jans\",\n        \"inum=1800.18231E,ou=scopes,o=jans\",\n        \"inum=1800.C25D78,ou=scopes,o=jans\",\n        \"inum=1800.12B340,ou=scopes,o=jans\",\n        \"inum=1800.7A78C3,ou=scopes,o=jans\",\n        \"inum=1800.ECB839,ou=scopes,o=jans\",\n        \"inum=1800.62579C,ou=scopes,o=jans\",\n        \"inum=1800.29B156,ou=scopes,o=jans\",\n        \"inum=1800.9DC774,ou=scopes,o=jans\",\n        \"inum=1800.71BA21,ou=scopes,o=jans\",\n        \"inum=1800.FC35D2,ou=scopes,o=jans\",\n        \"inum=1800.F8CA5F,ou=scopes,o=jans\",\n        \"inum=1800.D92553,ou=scopes,o=jans\",\n        \"inum=1800.08CB80,ou=scopes,o=jans\",\n        \"inum=1800.DF434B,ou=scopes,o=jans\",\n        \"inum=1800.127954,ou=scopes,o=jans\",\n        \"inum=1800.E7CB8C,ou=scopes,o=jans\"\n    ],\n    \"trustedClient\": false,\n    \"persistClientAuthorizations\": true,\n    \"includeClaimsInIdToken\": false,\n    \"customAttributes\": [\n        {\n            \"name\": \"displayName\",\n            \"multiValued\": false,\n            \"values\": [\n                \"Jans Config Api Client\"\n            ],\n            \"value\": \"Jans Config Api Client\",\n            \"displayValue\": \"Jans Config Api Client\"\n        }\n    ],\n    \"customObjectClasses\": [\n        \"top\"\n    ],\n    \"rptAsJwt\": false,\n    \"accessTokenAsJwt\": false,\n    \"accessTokenSigningAlg\": \"RS256\",\n    \"disabled\": false,\n    \"attributes\": {\n        \"runIntrospectionScriptBeforeJwtCreation\": false,\n        \"keepClientAuthorizationAfterExpiration\": false,\n        \"allowSpontaneousScopes\": false,\n        \"backchannelLogoutSessionRequired\": false,\n        \"parLifetime\": 600,\n        \"requirePar\": false,\n        \"jansDefaultPromptLogin\": false\n    },\n    \"tokenBindingSupported\": false,\n    \"authenticationMethod\": \"client_secret_basic\",\n    \"displayName\": \"Jans Config Api Client\",\n    \"baseDn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"inum\": \"1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6\"\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.write
      - oauth2:
        - https://jans.io/oauth/config/openid/openid.write
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.admin
      - oauth2:
        - https://jans.io/oauth/config/write-all
    post:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Create new OpenId Connect client
      operationId: post-oauth-openid-client
      requestBody:
        description: OpenID Connect Client object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
            examples:
              Request json example:
                description: Request json example
                value: "{\n    \"deletable\": false,\n    \"clientSecret\": \"test1234\",\n    \"frontChannelLogoutSessionRequired\": false,\n    \"redirectUris\": [\n        \"https://jans.server2/admin-ui\",\n        \"http://localhost:4100\"\n    ],\n    \"responseTypes\": [\n        \"code\"\n    ],\n    \"grantTypes\": [\n        \"authorization_code\",\n        \"refresh_token\",\n        \"client_credentials\"\n    ],\n    \"applicationType\": \"web\",\n    \"clientName\": \"\",\n    \"logoUri\": \"\",\n    \"clientUri\": \"\",\n    \"policyUri\":\"\",\n    \"tosUri\": \"\",\n    \"subjectType\": \"pairwise\",\n    \"idTokenSignedResponseAlg\": \"RS256\",\n    \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n    \"scopes\": [\n        \"inum=C4F7,ou=scopes,o=jans\"\n    ],\n    \"trustedClient\": false,\n    \"persistClientAuthorizations\": true,\n    \"includeClaimsInIdToken\": false,\n    \"customAttributes\": [\n        {\n            \"name\": \"displayName\",\n            \"multiValued\": false,\n            \"values\": [\n                \"Api Client\"\n            ],\n            \"value\": \"Api Client\",\n            \"displayValue\": \"Api Client\"\n        }\n    ],\n    \"customObjectClasses\": [\n        \"top\"\n    ],\n    \"rptAsJwt\": false,\n    \"accessTokenAsJwt\": false,\n    \"accessTokenSigningAlg\": \"RS256\",\n    \"disabled\": false,\n    \"attributes\": {\n        \"runIntrospectionScriptBeforeJwtCreation\": false,\n        \"keepClientAuthorizationAfterExpiration\": false,\n        \"allowSpontaneousScopes\": false,\n        \"backchannelLogoutSessionRequired\": false,\n        \"parLifetime\": 600,\n        \"requirePar\": false,\n        \"jansDefaultPromptLogin\": false\n    },\n    \"tokenBindingSupported\": false,\n    \"authenticationMethod\": \"client_secret_basic\",\n    \"displayName\": \"Api Client\"\n}\n"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"deletable\": false,\n    \"clientSecret\": \"WZMK8thDpvw1xtE0N+SbXA==\",\n    \"frontChannelLogoutSessionRequired\": false,\n    \"redirectUris\": [\n        \"https://jans.server2/admin-ui\",\n        \"http://localhost:4100\"\n    ],\n    \"responseTypes\": [\n        \"code\"\n    ],\n    \"grantTypes\": [\n        \"authorization_code\",\n        \"refresh_token\",\n        \"client_credentials\"\n    ],\n    \"applicationType\": \"web\",\n    \"clientName\": \"Jans Config Api Client\",\n    \"logoUri\": \"\",\n    \"clientUri\": \"\",\n    \"policyUri\": \"\",\n    \"tosUri\": \"\",\n    \"subjectType\": \"pairwise\",\n    \"idTokenSignedResponseAlg\": \"RS256\",\n    \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n    \"scopes\": [\n        \"inum=C4F7,ou=scopes,o=jans\",\n        \"inum=1200.487800,ou=scopes,o=jans\",\n        \"inum=1200.9CEE5C,ou=scopes,o=jans\",\n        \"inum=1800.FFE5C0,ou=scopes,o=jans\",\n        \"inum=1800.472951,ou=scopes,o=jans\",\n        \"inum=1800.556F45,ou=scopes,o=jans\",\n        \"inum=1800.77FB4F,ou=scopes,o=jans\",\n        \"inum=1800.AA8DFE,ou=scopes,o=jans\",\n        \"inum=1800.CD5B72,ou=scopes,o=jans\",\n        \"inum=1800.CBCF52,ou=scopes,o=jans\",\n        \"inum=1800.12284F,ou=scopes,o=jans\",\n        \"inum=1800.141B26,ou=scopes,o=jans\",\n        \"inum=1800.A018AC,ou=scopes,o=jans\",\n        \"inum=1800.6E4456,ou=scopes,o=jans\",\n        \"inum=1800.55499D,ou=scopes,o=jans\",\n        \"inum=1800.E730AA,ou=scopes,o=jans\",\n        \"inum=1800.097318,ou=scopes,o=jans\",\n        \"inum=1800.04CF24,ou=scopes,o=jans\",\n        \"inum=1800.F963F9,ou=scopes,o=jans\",\n        \"inum=1800.31F580,ou=scopes,o=jans\",\n        \"inum=1800.E512E3,ou=scopes,o=jans\",\n        \"inum=1800.E65DC6,ou=scopes,o=jans\",\n        \"inum=1800.3C1F46,ou=scopes,o=jans\",\n        \"inum=1800.20D48C,ou=scopes,o=jans\",\n        \"inum=1800.4601AA,ou=scopes,o=jans\",\n        \"inum=1800.A9B842,ou=scopes,o=jans\",\n        \"inum=1800.864485,ou=scopes,o=jans\",\n        \"inum=1800.F0B654,ou=scopes,o=jans\",\n        \"inum=1800.45F1D7,ou=scopes,o=jans\",\n        \"inum=1800.B78FA5,ou=scopes,o=jans\",\n        \"inum=1800.E3D7E0,ou=scopes,o=jans\",\n        \"inum=1800.E212DC,ou=scopes,o=jans\",\n        \"inum=1800.94F80F,ou=scopes,o=jans\",\n        \"inum=1800.9F96F3,ou=scopes,o=jans\",\n        \"inum=1800.CB50EC,ou=scopes,o=jans\",\n        \"inum=1800.1CA946,ou=scopes,o=jans\",\n        \"inum=1800.18231E,ou=scopes,o=jans\",\n        \"inum=1800.C25D78,ou=scopes,o=jans\",\n        \"inum=1800.12B340,ou=scopes,o=jans\",\n        \"inum=1800.7A78C3,ou=scopes,o=jans\",\n        \"inum=1800.ECB839,ou=scopes,o=jans\",\n        \"inum=1800.62579C,ou=scopes,o=jans\",\n        \"inum=1800.29B156,ou=scopes,o=jans\",\n        \"inum=1800.9DC774,ou=scopes,o=jans\",\n        \"inum=1800.71BA21,ou=scopes,o=jans\",\n        \"inum=1800.FC35D2,ou=scopes,o=jans\",\n        \"inum=1800.F8CA5F,ou=scopes,o=jans\",\n        \"inum=1800.D92553,ou=scopes,o=jans\",\n        \"inum=1800.08CB80,ou=scopes,o=jans\",\n        \"inum=1800.DF434B,ou=scopes,o=jans\",\n        \"inum=1800.127954,ou=scopes,o=jans\",\n        \"inum=1800.E7CB8C,ou=scopes,o=jans\"\n    ],\n    \"trustedClient\": false,\n    \"persistClientAuthorizations\": true,\n    \"includeClaimsInIdToken\": false,\n    \"customAttributes\": [\n        {\n            \"name\": \"displayName\",\n            \"multiValued\": false,\n            \"values\": [\n                \"Jans Config Api Client\"\n            ],\n            \"value\": \"Jans Config Api Client\",\n            \"displayValue\": \"Jans Config Api Client\"\n        }\n    ],\n    \"customObjectClasses\": [\n        \"top\"\n    ],\n    \"rptAsJwt\": false,\n    \"accessTokenAsJwt\": false,\n    \"accessTokenSigningAlg\": \"RS256\",\n    \"disabled\": false,\n    \"attributes\": {\n        \"runIntrospectionScriptBeforeJwtCreation\": false,\n        \"keepClientAuthorizationAfterExpiration\": false,\n        \"allowSpontaneousScopes\": false,\n        \"backchannelLogoutSessionRequired\": false,\n        \"parLifetime\": 600,\n        \"requirePar\": false,\n        \"jansDefaultPromptLogin\": false\n    },\n    \"tokenBindingSupported\": false,\n    \"authenticationMethod\": \"client_secret_basic\",\n    \"displayName\": \"Jans Config Api Client\",\n    \"baseDn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"inum\": \"1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6\"\n}\n"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.write
      - oauth2:
        - https://jans.io/oauth/config/openid/openid.write
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.admin
      - oauth2:
        - https://jans.io/oauth/config/write-all
  /api/v1/openid/clients/{inum}:
    get:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Get OpenId Connect Client by Inum
      operationId: get-oauth-openid-clients-by-inum
      parameters:
      - name: inum
        in: path
        description: Client identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"deletable\": false,\n    \"clientSecret\": \"WZMK8thDpvw1xtE0N+SbXA==\",\n    \"frontChannelLogoutSessionRequired\": false,\n    \"redirectUris\": [\n        \"https://jans.server2/admin-ui\",\n        \"http://localhost:4100\"\n    ],\n    \"responseTypes\": [\n        \"code\"\n    ],\n    \"grantTypes\": [\n        \"authorization_code\",\n        \"refresh_token\",\n        \"client_credentials\"\n    ],\n    \"applicationType\": \"web\",\n    \"clientName\": \"Jans Config Api Client\",\n    \"logoUri\": \"\",\n    \"clientUri\": \"\",\n    \"policyUri\": \"\",\n    \"tosUri\": \"\",\n    \"subjectType\": \"pairwise\",\n    \"idTokenSignedResponseAlg\": \"RS256\",\n    \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n    \"scopes\": [\n        \"inum=C4F7,ou=scopes,o=jans\",\n        \"inum=1200.487800,ou=scopes,o=jans\",\n        \"inum=1200.9CEE5C,ou=scopes,o=jans\",\n        \"inum=1800.FFE5C0,ou=scopes,o=jans\",\n        \"inum=1800.472951,ou=scopes,o=jans\",\n        \"inum=1800.556F45,ou=scopes,o=jans\",\n        \"inum=1800.77FB4F,ou=scopes,o=jans\",\n        \"inum=1800.AA8DFE,ou=scopes,o=jans\",\n        \"inum=1800.CD5B72,ou=scopes,o=jans\",\n        \"inum=1800.CBCF52,ou=scopes,o=jans\",\n        \"inum=1800.12284F,ou=scopes,o=jans\",\n        \"inum=1800.141B26,ou=scopes,o=jans\",\n        \"inum=1800.A018AC,ou=scopes,o=jans\",\n        \"inum=1800.6E4456,ou=scopes,o=jans\",\n        \"inum=1800.55499D,ou=scopes,o=jans\",\n        \"inum=1800.E730AA,ou=scopes,o=jans\",\n        \"inum=1800.097318,ou=scopes,o=jans\",\n        \"inum=1800.04CF24,ou=scopes,o=jans\",\n        \"inum=1800.F963F9,ou=scopes,o=jans\",\n        \"inum=1800.31F580,ou=scopes,o=jans\",\n        \"inum=1800.E512E3,ou=scopes,o=jans\",\n        \"inum=1800.E65DC6,ou=scopes,o=jans\",\n        \"inum=1800.3C1F46,ou=scopes,o=jans\",\n        \"inum=1800.20D48C,ou=scopes,o=jans\",\n        \"inum=1800.4601AA,ou=scopes,o=jans\",\n        \"inum=1800.A9B842,ou=scopes,o=jans\",\n        \"inum=1800.864485,ou=scopes,o=jans\",\n        \"inum=1800.F0B654,ou=scopes,o=jans\",\n        \"inum=1800.45F1D7,ou=scopes,o=jans\",\n        \"inum=1800.B78FA5,ou=scopes,o=jans\",\n        \"inum=1800.E3D7E0,ou=scopes,o=jans\",\n        \"inum=1800.E212DC,ou=scopes,o=jans\",\n        \"inum=1800.94F80F,ou=scopes,o=jans\",\n        \"inum=1800.9F96F3,ou=scopes,o=jans\",\n        \"inum=1800.CB50EC,ou=scopes,o=jans\",\n        \"inum=1800.1CA946,ou=scopes,o=jans\",\n        \"inum=1800.18231E,ou=scopes,o=jans\",\n        \"inum=1800.C25D78,ou=scopes,o=jans\",\n        \"inum=1800.12B340,ou=scopes,o=jans\",\n        \"inum=1800.7A78C3,ou=scopes,o=jans\",\n        \"inum=1800.ECB839,ou=scopes,o=jans\",\n        \"inum=1800.62579C,ou=scopes,o=jans\",\n        \"inum=1800.29B156,ou=scopes,o=jans\",\n        \"inum=1800.9DC774,ou=scopes,o=jans\",\n        \"inum=1800.71BA21,ou=scopes,o=jans\",\n        \"inum=1800.FC35D2,ou=scopes,o=jans\",\n        \"inum=1800.F8CA5F,ou=scopes,o=jans\",\n        \"inum=1800.D92553,ou=scopes,o=jans\",\n        \"inum=1800.08CB80,ou=scopes,o=jans\",\n        \"inum=1800.DF434B,ou=scopes,o=jans\",\n        \"inum=1800.127954,ou=scopes,o=jans\",\n        \"inum=1800.E7CB8C,ou=scopes,o=jans\"\n    ],\n    \"trustedClient\": false,\n    \"persistClientAuthorizations\": true,\n    \"includeClaimsInIdToken\": false,\n    \"customAttributes\": [\n        {\n            \"name\": \"displayName\",\n            \"multiValued\": false,\n            \"values\": [\n                \"Jans Config Api Client\"\n            ],\n            \"value\": \"Jans Config Api Client\",\n            \"displayValue\": \"Jans Config Api Client\"\n        }\n    ],\n    \"customObjectClasses\": [\n        \"top\"\n    ],\n    \"rptAsJwt\": false,\n    \"accessTokenAsJwt\": false,\n    \"accessTokenSigningAlg\": \"RS256\",\n    \"disabled\": false,\n    \"attributes\": {\n        \"runIntrospectionScriptBeforeJwtCreation\": false,\n        \"keepClientAuthorizationAfterExpiration\": false,\n        \"allowSpontaneousScopes\": false,\n        \"backchannelLogoutSessionRequired\": false,\n        \"parLifetime\": 600,\n        \"requirePar\": false,\n        \"jansDefaultPromptLogin\": false\n    },\n    \"tokenBindingSupported\": false,\n    \"authenticationMethod\": \"client_secret_basic\",\n    \"displayName\": \"Jans Config Api Client\",\n    \"baseDn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"inum\": \"1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6\"\n}\n"
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.readonly
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.write
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    delete:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Delete OpenId Connect client
      operationId: delete-oauth-openid-client-by-inum
      parameters:
      - name: inum
        in: path
        description: Client identifier
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.delete
      - oauth2:
        - https://jans.io/oauth/config/openid/openid.delete
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.admin
      - oauth2:
        - https://jans.io/oauth/config/delete-all
    patch:
      tags:
      - OAuth - OpenID Connect - Clients
      summary: Patch OpenId Connect client
      operationId: patch-oauth-openid-client-by-inum
      parameters:
      - name: inum
        in: path
        description: Client identifier
        required: true
        schema:
          type: string
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: "[{ \"op\": \"replace\", \"path\": \"/responseTypes\", \"value\":[\"code\",\"token\"]}] \n"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"deletable\": false,\n    \"clientSecret\": \"WZMK8thDpvw1xtE0N+SbXA==\",\n    \"frontChannelLogoutSessionRequired\": false,\n    \"redirectUris\": [\n        \"https://jans.server2/admin-ui\",\n        \"http://localhost:4100\"\n    ],\n    \"responseTypes\": [\n        \"code\"\n    ],\n    \"grantTypes\": [\n        \"authorization_code\",\n        \"refresh_token\",\n        \"client_credentials\"\n    ],\n    \"applicationType\": \"web\",\n    \"clientName\": \"Jans Config Api Client\",\n    \"logoUri\": \"\",\n    \"clientUri\": \"\",\n    \"policyUri\": \"\",\n    \"tosUri\": \"\",\n    \"subjectType\": \"pairwise\",\n    \"idTokenSignedResponseAlg\": \"RS256\",\n    \"tokenEndpointAuthMethod\": \"client_secret_basic\",\n    \"scopes\": [\n        \"inum=C4F7,ou=scopes,o=jans\",\n        \"inum=1200.487800,ou=scopes,o=jans\",\n        \"inum=1200.9CEE5C,ou=scopes,o=jans\",\n        \"inum=1800.FFE5C0,ou=scopes,o=jans\",\n        \"inum=1800.472951,ou=scopes,o=jans\",\n        \"inum=1800.556F45,ou=scopes,o=jans\",\n        \"inum=1800.77FB4F,ou=scopes,o=jans\",\n        \"inum=1800.AA8DFE,ou=scopes,o=jans\",\n        \"inum=1800.CD5B72,ou=scopes,o=jans\",\n        \"inum=1800.CBCF52,ou=scopes,o=jans\",\n        \"inum=1800.12284F,ou=scopes,o=jans\",\n        \"inum=1800.141B26,ou=scopes,o=jans\",\n        \"inum=1800.A018AC,ou=scopes,o=jans\",\n        \"inum=1800.6E4456,ou=scopes,o=jans\",\n        \"inum=1800.55499D,ou=scopes,o=jans\",\n        \"inum=1800.E730AA,ou=scopes,o=jans\",\n        \"inum=1800.097318,ou=scopes,o=jans\",\n        \"inum=1800.04CF24,ou=scopes,o=jans\",\n        \"inum=1800.F963F9,ou=scopes,o=jans\",\n        \"inum=1800.31F580,ou=scopes,o=jans\",\n        \"inum=1800.E512E3,ou=scopes,o=jans\",\n        \"inum=1800.E65DC6,ou=scopes,o=jans\",\n        \"inum=1800.3C1F46,ou=scopes,o=jans\",\n        \"inum=1800.20D48C,ou=scopes,o=jans\",\n        \"inum=1800.4601AA,ou=scopes,o=jans\",\n        \"inum=1800.A9B842,ou=scopes,o=jans\",\n        \"inum=1800.864485,ou=scopes,o=jans\",\n        \"inum=1800.F0B654,ou=scopes,o=jans\",\n        \"inum=1800.45F1D7,ou=scopes,o=jans\",\n        \"inum=1800.B78FA5,ou=scopes,o=jans\",\n        \"inum=1800.E3D7E0,ou=scopes,o=jans\",\n        \"inum=1800.E212DC,ou=scopes,o=jans\",\n        \"inum=1800.94F80F,ou=scopes,o=jans\",\n        \"inum=1800.9F96F3,ou=scopes,o=jans\",\n        \"inum=1800.CB50EC,ou=scopes,o=jans\",\n        \"inum=1800.1CA946,ou=scopes,o=jans\",\n        \"inum=1800.18231E,ou=scopes,o=jans\",\n        \"inum=1800.C25D78,ou=scopes,o=jans\",\n        \"inum=1800.12B340,ou=scopes,o=jans\",\n        \"inum=1800.7A78C3,ou=scopes,o=jans\",\n        \"inum=1800.ECB839,ou=scopes,o=jans\",\n        \"inum=1800.62579C,ou=scopes,o=jans\",\n        \"inum=1800.29B156,ou=scopes,o=jans\",\n        \"inum=1800.9DC774,ou=scopes,o=jans\",\n        \"inum=1800.71BA21,ou=scopes,o=jans\",\n        \"inum=1800.FC35D2,ou=scopes,o=jans\",\n        \"inum=1800.F8CA5F,ou=scopes,o=jans\",\n        \"inum=1800.D92553,ou=scopes,o=jans\",\n        \"inum=1800.08CB80,ou=scopes,o=jans\",\n        \"inum=1800.DF434B,ou=scopes,o=jans\",\n        \"inum=1800.127954,ou=scopes,o=jans\",\n        \"inum=1800.E7CB8C,ou=scopes,o=jans\"\n    ],\n    \"trustedClient\": false,\n    \"persistClientAuthorizations\": true,\n    \"includeClaimsInIdToken\": false,\n    \"customAttributes\": [\n        {\n            \"name\": \"displayName\",\n            \"multiValued\": false,\n            \"values\": [\n                \"Jans Config Api Client\"\n            ],\n            \"value\": \"Jans Config Api Client\",\n            \"displayValue\": \"Jans Config Api Client\"\n        }\n    ],\n    \"customObjectClasses\": [\n        \"top\"\n    ],\n    \"rptAsJwt\": false,\n    \"accessTokenAsJwt\": false,\n    \"accessTokenSigningAlg\": \"RS256\",\n    \"disabled\": false,\n    \"attributes\": {\n        \"runIntrospectionScriptBeforeJwtCreation\": false,\n        \"keepClientAuthorizationAfterExpiration\": false,\n        \"allowSpontaneousScopes\": false,\n        \"backchannelLogoutSessionRequired\": false,\n        \"parLifetime\": 600,\n        \"requirePar\": false,\n        \"jansDefaultPromptLogin\": false\n    },\n    \"tokenBindingSupported\": false,\n    \"authenticationMethod\": \"client_secret_basic\",\n    \"displayName\": \"Jans Config Api Client\",\n    \"baseDn\": \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n    \"inum\": \"1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6\"\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.write
      - oauth2:
        - https://jans.io/oauth/config/openid/openid.write
      - oauth2:
        - https://jans.io/oauth/config/openid/clients.admin
      - oauth2:
        - https://jans.io/oauth/config/write-all
components:
  schemas:
    ClientAttributes:
      type: object
      properties:
        cimdExpired:
          type: boolean
        tlsClientAuthSubjectDn:
          type: string
        runIntrospectionScriptBeforeJwtCreation:
          type: boolean
        keepClientAuthorizationAfterExpiration:
          type: boolean
        allowSpontaneousScopes:
          type: boolean
        spontaneousScopes:
          type: array
          items:
            type: string
        spontaneousScopeScriptDns:
          type: array
          items:
            type: string
        updateTokenScriptDns:
          type: array
          items:
            type: string
        logoutStatusJwtScriptDns:
          type: array
          items:
            type: string
        parScriptDns:
          type: array
          items:
            type: string
        txTokenScriptDns:
          type: array
          items:
            type: string
        backchannelLogoutUri:
          type: array
          items:
            type: string
        backchannelLogoutSessionRequired:
          type: boolean
        additionalAudience:
          type: array
          items:
            type: string
        postAuthnScripts:
          type: array
          items:
            type: string
        tokenExchangeScripts:
          type: array
          items:
            type: string
        idJagScripts:
          type: array
          items:
            type: string
        consentGatheringScripts:
          type: array
          items:
            type: string
        introspectionScripts:
          type: array
          items:
            type: string
        rptClaimsScripts:
          type: array
          items:
            type: string
        ropcScripts:
          type: array
          items:
            type: string
        parLifetime:
          type: integer
          format: int32
        requirePar:
          type: boolean
        dpopBoundAccessToken:
          type: boolean
        jansAuthSignedRespAlg:
          type: string
        jansAuthEncRespAlg:
          type: string
        jansAuthEncRespEnc:
          type: string
        jansSubAttr:
          type: string
        redirectUrisRegex:
          type: string
        jansAuthorizedAcr:
          type: array
          items:
            type: string
        jansDefaultPromptLogin:
          type: boolean
        txTokenLifetime:
          type: integer
          format: int32
        idTokenLifetime:
          type: integer
          format: int32
        allowOfflineAccessWithoutConsent:
          type: boolean
        requirePkce:
          type: boolean
        minimumAcrLevel:
          type: integer
          format: int32
        minimumAcrLevelAutoresolve:
          type: boolean
        additionalTokenEndpointAuthMethods:
          type: array
          items:
            type: string
        minimumAcrPriorityList:
          type: array
          items:
            type: string
        requestedLifetime:
          type: integer
          format: int32
        evidence:
          type: string
        introspectionSignedResponseAlg:
          type: string
        introspectionEncryptedResponseAlg:
          type: string
        introspectionEncryptedResponseEnc:
          type: string
        txTokenSignedResponseAlg:
          type: string
        txTokenEncryptedResponseAlg:
          type: string
        txTokenEncryptedResponseEnc:
          type: string
        logoutStatusJwtSignedResponseAlg:
          type: string
        authorizationDetailsTypes:
          type: array
          items:
            type: string
        cimdClient:
          type: boolean
        cimdOriginalClientId:
          type: string
        cimdExpiresAt:
          type: integer
          format: int64
        spiffeId:
          type: string
        spiffeBundleEndpoint:
          type: string
    PagedResult:
      type: object
      properties:
        start:
          type: integer
          format: int32
        totalEntriesCount:
          type: integer
          format: int32
        entriesCount:
          type: integer
          format: int32
        entries:
          type: array
          items:
            type: object
    Client:
      type: object
      properties:
        dn:
          type: string
        expirationDate:
          type: string
          format: date-time
        deletable:
          type: boolean
        clientSecret:
          type: string
        frontChannelLogoutUri:
          type: string
        frontChannelLogoutSessionRequired:
          type: boolean
        registrationAccessToken:
          type: string
        clientIdIssuedAt:
          type: string
          format: date-time
        clientSecretExpiresAt:
          type: string
          format: date-time
        redirectUris:
          type: array
          items:
            type: string
        claimRedirectUris:
          type: array
          items:
            type: string
        responseTypes:
          type: array
          items:
            type: string
            enum:
            - code
            - token
            - id_token
        grantTypes:
          type: array
          items:
            type: string
            enum:
            - none
            - authorization_code
            - implicit
            - password
            - client_credentials
            - refresh_token
            - urn:ietf:params:oauth:grant-type:uma-ticket
            - urn:ietf:params:oauth:grant-type:token-exchange
            - urn:openid:params:grant-type:ciba
            - urn:ietf:params:oauth:grant-type:device_code
            - urn:ietf:params:oauth:grant-type:jwt-bearer
        applicationType:
          type: string
          enum:
          - native
          - web
        contacts:
          type: array
          items:
            type: string
        idTokenTokenBindingCnf:
          type: string
        clientName:
          type: string
        logoUri:
          type: string
        clientUri:
          type: string
        policyUri:
          type: string
        tosUri:
          type: string
        clientNameLocalized:
          $ref: '#/components/schemas/LocalizedString'
        logoUriLocalized:
          $ref: '#/components/schemas/LocalizedString'
        clientUriLocalized:
          $ref: '#/components/schemas/LocalizedString'
        policyUriLocalized:
          $ref: '#/components/schemas/LocalizedString'
        tosUriLocalized:
          $ref: '#/components/schemas/LocalizedString'
        jwksUri:
          type: string
        jwks:
          type: string
        sectorIdentifierUri:
          type: string
        subjectType:
          type: string
          enum:
          - pairwise
          - public
        idTokenSignedResponseAlg:
          type: string
        idTokenEncryptedResponseAlg:
          type: string
        idTokenEncryptedResponseEnc:
          type: string
        userInfoSignedResponseAlg:
          type: string
        userInfoEncryptedResponseAlg:
          type: string
        userInfoEncryptedResponseEnc:
          type: string
        requestObjectSigningAlg:
          type: string
        requestObjectEncryptionAlg:
          type: string
        requestObjectEncryptionEnc:
          type: string
        tokenEndpointAuthMethod:
          type: string
          format: enum
          enum:
          - client_secret_basic
          - client_secret_post
          - client_secret_jwt
          - private_key_jwt
          - access_token
          - tls_client_auth
          - self_signed_tls_client_auth
          - spiffe_jwt
          - none
        tokenEndpointAuthSigningAlg:
          type: string
        defaultMaxAge:
          type: integer
          format: int32
        defaultAcrValues:
          type: array
          items:
            type: string
        initiateLoginUri:
          type: string
        postLogoutRedirectUris:
          type: array
          items:
            type: string
        requestUris:
          type: array
          items:
            type: string
        scopes:
          type: array
          items:
            type: string
        claims:
          type: array
          items:
            type: string
        trustedClient:
          type: boolean
        lastAccessTime:
          type: string
          format: date-time
        lastLogonTime:
          type: string
          format: date-time
        persistClientAuthorizations:
          type: boolean
        includeClaimsInIdToken:
          type: boolean
        refreshTokenLifetime:
          type: integer
          format: int32
        accessTokenLifetime:
          type: integer
          format: int32
        customAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CustomObjectAttribute'
        customObjectClasses:
          type: array
          items:
            type: string
        rptAsJwt:
          type: boolean
        accessTokenAsJwt:
          type: boolean
        accessTokenSigningAlg:
          type: string
        disabled:
          type: boolean
        authorizedOrigins:
          type: array
          items:
            type: string
        softwareId:
          type: string
        softwareVersion:
          type: string
        softwareStatement:
          type: string
        attributes:
          $ref: '#/components/schemas/ClientAttributes'
        backchannelTokenDeliveryMode:
          type: string
          enum:
          - poll
          - ping
          - push
        backchannelClientNotificationEndpoint:
          type: string
        backchannelAuthenticationRequestSigningAlg:
          type: string
          enum:
          - RS256
          - RS384
          - RS512
          - ES256
          - ES384
          - ES512
          - PS256
          - PS384
          - PS512
        backchannelUserCodeParameter:
          type: boolean
        description:
          type: string
        organization:
          type: string
        groups:
          type: array
          items:
            type: string
        ttl:
          type: integer
          format: int32
        displayName:
          type: string
        baseDn:
          type: string
        inum:
          type: string
    LocalizedString:
      type: object
      properties:
        values:
          type: object
          additionalProperties:
            type: string
    JsonPatch:
      type: object
    CustomObjectAttribute:
      type: object
      properties:
        name:
          type: string
        multiValued:
          type: boolean
        values:
          type: array
          items:
            type: object
        value:
          type: object
        displayValue:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/properties.readonly: View Auth Server properties related information
            https://jans.io/oauth/jans-auth-server/config/properties.write: Manage Auth Server properties related information
            https://jans.io/oauth/config/attributes.readonly: View attribute related information
            https://jans.io/oauth/config/attributes.write: Manage attribute related information
            https://jans.io/oauth/config/attributes.delete: Delete attribute related information
            https://jans.io/oauth/config/acrs.readonly: View ACRS related information
            https://jans.io/oauth/config/acrs.write: Manage ACRS related information
            https://jans.io/oauth/config/database/ldap.readonly: View LDAP database related information
            https://jans.io/oauth/config/database/ldap.write: Manage LDAP database related information
            https://jans.io/oauth/config/database/ldap.delete: Delete LDAP database related information
            https://jans.io/oauth/config/scripts.readonly: View cache scripts information
            https://jans.io/oauth/config/scripts.write: Manage scripts related information
            https://jans.io/oauth/config/scripts.delete: Delete scripts related information
            https://jans.io/oauth/config/cache.readonly: View cache related information
            https://jans.io/oauth/config/cache.write: Manage cache related information
            https://jans.io/oauth/config/smtp.readonly: View SMTP related information
            https://jans.io/oauth/config/smtp.write: Manage SMTP related information
            https://jans.io/oauth/config/smtp.delete: Delete SMTP related information
            https://jans.io/oauth/config/logging.readonly: View logging related information
            https://jans.io/oauth/config/logging.write: Manage logging related information
            https://jans.io/oauth/config/jwks.readonly: View JWKS related information
            https://jans.io/oauth/config/jwks.write: Manage JWKS related information
            https://jans.io/oauth/config/jwks.delete: Delete JWKS related information
            https://jans.io/oauth/config/openid/clients.readonly: View clients related information
            https://jans.io/oauth/config/openid/clients.write: Manage clients related information
            https://jans.io/oauth/config/openid/clients.delete: Delete clients related information
            https://jans.io/oauth/config/scopes.readonly: View scope related information
            https://jans.io/oauth/config/scopes.write: Manage scope related information
            https://jans.io/oauth/config/scopes.delete: Delete scope related information
            https://jans.io/oauth/config/stats.readonly: View server with basic statistic
            https://jans.io/oauth/config/organization.readonly: View organization configuration information
            https://jans.io/oauth/config/organization.write: Manage organization configuration information
            https://jans.io/oauth/config/agama.readonly: View Agama Flow related information
            https://jans.io/oauth/config/agama.write: Manage Agama Flow related information
            https://jans.io/oauth/config/agama.delete: Delete Agama Flow related information
            https://jans.io/oauth/jans-auth-server/session.readonly: View Session related information
            https://jans.io/oauth/jans-auth-server/session.delete: Delete Session information
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
            https://jans.io/oauth/config/openid/openid.readonly: View OpenID functionality
            https://jans.io/oauth/config/openid/openid.write: Manage OpenID functionality
            https://jans.io/oauth/config/openid/openid.delete: Delete OpenID functionality
            https://jans.io/oauth/config/uma.readonly: View UMA functionality
            https://jans.io/oauth/config/uma.write: Manage UMA functionality
            https://jans.io/oauth/config/uma.delete: Delete UMA functionality
            https://jans.io/oauth/config/plugin.readonly: View Plugin information
            https://jans.io/oauth/config/properties.readonly: View Config-API related configuration properties
            https://jans.io/oauth/config/properties.write: Manage Config-API related configuration properties
            https://jans.io/oauth/client/authorizations.readonly: View ClientAuthorizations
            https://jans.io/oauth/client/authorizations.delete: Revoke ClientAuthorizations
            https://jans.io/oauth/config/asset.readonly: View Jans Assets
            https://jans.io/oauth/config/asset.write: Manage Jans Assets
            https://jans.io/oauth/config/asset.delete: Delete Jans Assets
            https://jans.io/oauth/config/token.readonly: View Token details
            https://jans.io/oauth/config/token.write: Manage Token details
            https://jans.io/oauth/config/token.delete: Delete Token details
            https://jans.io/oauth/config/data.readonly: View Config-API related data
            https://jans.io/oauth/config/ssa.readonly: View SSA details
            https://jans.io/oauth/config/ssa.write: Manage SSA details
            https://jans.io/oauth/config/ssa.delete: Delete SSA details
            https://jans.io/oauth/jans-auth-server/config/properties.admin: Admin scope for Auth Server properties
            https://jans.io/oauth/config/attributes.admin: Admin for Attribute management
            https://jans.io/oauth/config/acrs.admin: Admin for ACRS management
            https://jans.io/oauth/config/database.admin: Admin for Database config management
            https://jans.io/oauth/config/scripts.admin: Admin for Scripts management
            https://jans.io/oauth/config/cache.admin: Admin for Cache management
            https://jans.io/oauth/config/message.admin: Admin for Message management
            https://jans.io/oauth/config/smtp.admin: Admin for SMTP management
            https://jans.io/oauth/config/logging.admin: Admin for Logging management
            https://jans.io/oauth/config/jwks.admin: Admin for JWKS management
            https://jans.io/oauth/config/openid/clients.admin: Admin for clients management
            https://jans.io/oauth/config/token.admin: Admin for Token management
            https://jans.io/oauth/config/scopes.admin: Admin for scope management
            https://jans.io/oauth/config/stats.admin: Admin for statistic management
            https://jans.io/oauth/config/organization.admin: Admin for organization configuration management
            https://jans.io/oauth/config/agama.admin: Admin for Agama flow management
            https://jans.io/oauth/jans-auth-server/session.admin: Admin for Session management
            https://jans.io/oauth/config/uma.admin: Admin for UMA management
            https://jans.io/oauth/config/plugin.admin: Admin for Plugin management
            https://jans.io/oauth/config/properties.admin: Admin for Config-API management
            https://jans.io/oauth/client/authorizations.admin: Admin for Client Authorizations management
            https://jans.io/oauth/config/asset.admin: Admin for Jans Assets management
            https://jans.io/auth/ssa.admin: Admin for SSA management
            https://jans.io/oauth/config/health.admin: Admin for Health API management
