openapi: 3.2.0
info:
  title: Jans Config Client Authorization API
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io
  description: The Jans server
tags:
- name: Client Authorization
paths:
  /api/v1/clients/authorizations/{userId}/{clientId}/{username}:
    delete:
      tags:
      - Client Authorization
      summary: Revoke client authorization
      description: Revoke client authorizations
      operationId: delete-client-authorization
      parameters:
      - name: userId
        in: path
        description: User identifier
        required: true
        schema:
          type: string
      - name: clientId
        in: path
        description: Client identifier
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/client/authorizations.delete
      - oauth2:
        - https://jans.io/oauth/client/authorizations.admin
      - oauth2:
        - https://jans.io/oauth/config/delete-all
  /api/v1/clients/authorizations/{userId}:
    get:
      tags:
      - Client Authorization
      summary: Gets list of client authorization
      description: Gets list of client authorizations
      operationId: get-client-authorization
      parameters:
      - name: userId
        in: path
        description: User identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAuth'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"DeletableEntity{expirationDate=null, deletable=false} BaseEntry [dn=inum=3000.1e5c4db0-e01e-4e8c-9360-28cb6f0a8026,ou=clients,o=jans]\": [\n        {\n            \"dn\": \"inum=10B2,ou=scopes,o=jans\",\n            \"inum\": \"10B2\",\n            \"displayName\": \"view_username\",\n            \"id\": \"user_name\",\n            \"description\": \"View your local username in the Janssen Server.\",\n            \"scopeType\": \"openid\",\n            \"claims\": [\n                \"inum=42E0,ou=attributes,o=jans\"\n            ],\n            \"defaultScope\": false,\n            \"attributes\": {\n                \"showInConfigurationEndpoint\": true\n            },\n            \"creationDate\": \"2023-03-31T12:03:39\",\n            \"umaType\": false,\n            \"baseDn\": \"inum=10B2,ou=scopes,o=jans\"\n        },\n        {\n            \"dn\": \"inum=43F1,ou=scopes,o=jans\",\n            \"inum\": \"43F1\",\n            \"displayName\": \"view_profile\",\n            \"id\": \"profile\",\n            \"description\": \"View your basic profile info.\",\n            \"scopeType\": \"openid\",\n            \"claims\": [\n                \"inum=2B29,ou=attributes,o=jans\",\n                \"inum=0C85,ou=attributes,o=jans\",\n                \"inum=B4B0,ou=attributes,o=jans\",\n                \"inum=A0E8,ou=attributes,o=jans\",\n                \"inum=5EC6,ou=attributes,o=jans\",\n                \"inum=B52A,ou=attributes,o=jans\",\n                \"inum=64A0,ou=attributes,o=jans\",\n                \"inum=EC3A,ou=attributes,o=jans\",\n                \"inum=3B47,ou=attributes,o=jans\",\n                \"inum=3692,ou=attributes,o=jans\",\n                \"inum=98FC,ou=attributes,o=jans\",\n                \"inum=A901,ou=attributes,o=jans\",\n                \"inum=36D9,ou=attributes,o=jans\",\n                \"inum=BE64,ou=attributes,o=jans\",\n                \"inum=6493,ou=attributes,o=jans\",\n                \"inum=4CF1,ou=attributes,o=jans\",\n                \"inum=29DA,ou=attributes,o=jans\"\n            ],\n            \"defaultScope\": false,\n            \"attributes\": {\n                \"showInConfigurationEndpoint\": true\n            },\n            \"creationDate\": \"2023-03-31T12:03:39\",\n            \"umaType\": false,\n            \"baseDn\": \"inum=43F1,ou=scopes,o=jans\"\n        },\n        {\n            \"dn\": \"inum=F0C4,ou=scopes,o=jans\",\n            \"inum\": \"F0C4\",\n            \"displayName\": \"authenticate_openid_connect\",\n            \"id\": \"openid\",\n            \"description\": \"Authenticate using OpenID Connect.\",\n            \"scopeType\": \"openid\",\n            \"defaultScope\": true,\n            \"attributes\": {\n                \"showInConfigurationEndpoint\": true\n            },\n            \"creationDate\": \"2023-03-31T12:03:39\",\n            \"umaType\": false,\n            \"baseDn\": \"inum=F0C4,ou=scopes,o=jans\"\n        },\n        {\n            \"dn\": \"inum=341A,ou=scopes,o=jans\",\n            \"inum\": \"341A\",\n            \"displayName\": \"view_client\",\n            \"id\": \"clientinfo\",\n            \"description\": \"View the client info.\",\n            \"scopeType\": \"openid\",\n            \"claims\": [\n                \"inum=2B29,ou=attributes,o=jans\",\n                \"inum=29DA,ou=attributes,o=jans\"\n            ],\n            \"defaultScope\": false,\n            \"attributes\": {\n                \"showInConfigurationEndpoint\": true\n            },\n            \"creationDate\": \"2023-03-31T12:03:39\",\n            \"umaType\": false,\n            \"baseDn\": \"inum=341A,ou=scopes,o=jans\"\n        }\n    ]\n}\n"
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/client/authorizations.readonly
      - oauth2:
        - https://jans.io/oauth/client/authorizations.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
components:
  schemas:
    ClientAuth:
      type: object
      properties:
        clientAuths:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              $ref: '#/components/schemas/Scope'
    Scope:
      type: object
      properties:
        dn:
          type: string
        expirationDate:
          type: string
          format: date-time
        deletable:
          type: boolean
        inum:
          type: string
        displayName:
          type: string
        id:
          type: string
        iconUrl:
          type: string
        description:
          type: string
        scopeType:
          type: string
          enum:
          - openid
          - dynamic
          - uma
          - spontaneous
          - oauth
        claims:
          type: array
          items:
            type: string
        defaultScope:
          type: boolean
        groupClaims:
          type: boolean
        dynamicScopeScripts:
          type: array
          items:
            type: string
        umaAuthorizationPolicies:
          type: array
          items:
            type: string
        attributes:
          $ref: '#/components/schemas/ScopeAttributes'
        creatorId:
          type: string
        creatorType:
          type: string
          enum:
          - none
          - client
          - user
          - auto
        creationDate:
          type: string
          format: date-time
        creatorAttributes:
          type: object
          additionalProperties:
            type: string
        umaType:
          type: boolean
        baseDn:
          type: string
    ScopeAttributes:
      type: object
      properties:
        spontaneousClientScopes:
          type: array
          items:
            type: string
        showInConfigurationEndpoint:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/properties.readonly: View Auth Server properties related information
            https://jans.io/oauth/jans-auth-server/config/properties.write: Manage Auth Server properties related information
            https://jans.io/oauth/config/attributes.readonly: View attribute related information
            https://jans.io/oauth/config/attributes.write: Manage attribute related information
            https://jans.io/oauth/config/attributes.delete: Delete attribute related information
            https://jans.io/oauth/config/acrs.readonly: View ACRS related information
            https://jans.io/oauth/config/acrs.write: Manage ACRS related information
            https://jans.io/oauth/config/database/ldap.readonly: View LDAP database related information
            https://jans.io/oauth/config/database/ldap.write: Manage LDAP database related information
            https://jans.io/oauth/config/database/ldap.delete: Delete LDAP database related information
            https://jans.io/oauth/config/scripts.readonly: View cache scripts information
            https://jans.io/oauth/config/scripts.write: Manage scripts related information
            https://jans.io/oauth/config/scripts.delete: Delete scripts related information
            https://jans.io/oauth/config/cache.readonly: View cache related information
            https://jans.io/oauth/config/cache.write: Manage cache related information
            https://jans.io/oauth/config/smtp.readonly: View SMTP related information
            https://jans.io/oauth/config/smtp.write: Manage SMTP related information
            https://jans.io/oauth/config/smtp.delete: Delete SMTP related information
            https://jans.io/oauth/config/logging.readonly: View logging related information
            https://jans.io/oauth/config/logging.write: Manage logging related information
            https://jans.io/oauth/config/jwks.readonly: View JWKS related information
            https://jans.io/oauth/config/jwks.write: Manage JWKS related information
            https://jans.io/oauth/config/jwks.delete: Delete JWKS related information
            https://jans.io/oauth/config/openid/clients.readonly: View clients related information
            https://jans.io/oauth/config/openid/clients.write: Manage clients related information
            https://jans.io/oauth/config/openid/clients.delete: Delete clients related information
            https://jans.io/oauth/config/scopes.readonly: View scope related information
            https://jans.io/oauth/config/scopes.write: Manage scope related information
            https://jans.io/oauth/config/scopes.delete: Delete scope related information
            https://jans.io/oauth/config/stats.readonly: View server with basic statistic
            https://jans.io/oauth/config/organization.readonly: View organization configuration information
            https://jans.io/oauth/config/organization.write: Manage organization configuration information
            https://jans.io/oauth/config/agama.readonly: View Agama Flow related information
            https://jans.io/oauth/config/agama.write: Manage Agama Flow related information
            https://jans.io/oauth/config/agama.delete: Delete Agama Flow related information
            https://jans.io/oauth/jans-auth-server/session.readonly: View Session related information
            https://jans.io/oauth/jans-auth-server/session.delete: Delete Session information
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
            https://jans.io/oauth/config/openid/openid.readonly: View OpenID functionality
            https://jans.io/oauth/config/openid/openid.write: Manage OpenID functionality
            https://jans.io/oauth/config/openid/openid.delete: Delete OpenID functionality
            https://jans.io/oauth/config/uma.readonly: View UMA functionality
            https://jans.io/oauth/config/uma.write: Manage UMA functionality
            https://jans.io/oauth/config/uma.delete: Delete UMA functionality
            https://jans.io/oauth/config/plugin.readonly: View Plugin information
            https://jans.io/oauth/config/properties.readonly: View Config-API related configuration properties
            https://jans.io/oauth/config/properties.write: Manage Config-API related configuration properties
            https://jans.io/oauth/client/authorizations.readonly: View ClientAuthorizations
            https://jans.io/oauth/client/authorizations.delete: Revoke ClientAuthorizations
            https://jans.io/oauth/config/asset.readonly: View Jans Assets
            https://jans.io/oauth/config/asset.write: Manage Jans Assets
            https://jans.io/oauth/config/asset.delete: Delete Jans Assets
            https://jans.io/oauth/config/token.readonly: View Token details
            https://jans.io/oauth/config/token.write: Manage Token details
            https://jans.io/oauth/config/token.delete: Delete Token details
            https://jans.io/oauth/config/data.readonly: View Config-API related data
            https://jans.io/oauth/config/ssa.readonly: View SSA details
            https://jans.io/oauth/config/ssa.write: Manage SSA details
            https://jans.io/oauth/config/ssa.delete: Delete SSA details
            https://jans.io/oauth/jans-auth-server/config/properties.admin: Admin scope for Auth Server properties
            https://jans.io/oauth/config/attributes.admin: Admin for Attribute management
            https://jans.io/oauth/config/acrs.admin: Admin for ACRS management
            https://jans.io/oauth/config/database.admin: Admin for Database config management
            https://jans.io/oauth/config/scripts.admin: Admin for Scripts management
            https://jans.io/oauth/config/cache.admin: Admin for Cache management
            https://jans.io/oauth/config/message.admin: Admin for Message management
            https://jans.io/oauth/config/smtp.admin: Admin for SMTP management
            https://jans.io/oauth/config/logging.admin: Admin for Logging management
            https://jans.io/oauth/config/jwks.admin: Admin for JWKS management
            https://jans.io/oauth/config/openid/clients.admin: Admin for clients management
            https://jans.io/oauth/config/token.admin: Admin for Token management
            https://jans.io/oauth/config/scopes.admin: Admin for scope management
            https://jans.io/oauth/config/stats.admin: Admin for statistic management
            https://jans.io/oauth/config/organization.admin: Admin for organization configuration management
            https://jans.io/oauth/config/agama.admin: Admin for Agama flow management
            https://jans.io/oauth/jans-auth-server/session.admin: Admin for Session management
            https://jans.io/oauth/config/uma.admin: Admin for UMA management
            https://jans.io/oauth/config/plugin.admin: Admin for Plugin management
            https://jans.io/oauth/config/properties.admin: Admin for Config-API management
            https://jans.io/oauth/client/authorizations.admin: Admin for Client Authorizations management
            https://jans.io/oauth/config/asset.admin: Admin for Jans Assets management
            https://jans.io/auth/ssa.admin: Admin for SSA management
            https://jans.io/oauth/config/health.admin: Admin for Health API management
