openapi: 3.2.0
info:
  title: Jans Config API - Admin-UI Admin UI - Role API
  contact:
    name: Gluu Support
    url: https://support.gluu.org
    email: xxx@gluu.org
  license:
    name: Apache 2.0
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: 1.0.0
servers:
- url: https://jans.io/
  description: The Jans server
tags:
- name: Admin UI - Role
paths:
  /admin-ui/adminUIRoles:
    get:
      tags:
      - Admin UI - Role
      summary: Get all admin ui roles
      operationId: get-all-adminui-roles
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/read-all
    put:
      tags:
      - Admin UI - Role
      summary: Edit admin ui role
      operationId: edit-adminui-role
      requestBody:
        description: AdminRole object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRole'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/write-all
    post:
      tags:
      - Admin UI - Role
      summary: Add admin ui role
      operationId: add-adminui-role
      requestBody:
        description: AdminRole object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminRole'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/write-all
  /admin-ui/adminUIRoles/{adminUIRole}:
    get:
      tags:
      - Admin UI - Role
      summary: Get admin ui role details by role-name
      operationId: get-adminui-role
      parameters:
      - name: adminUIRole
        in: path
        description: Admin UI role
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/read-all
    delete:
      tags:
      - Admin UI - Role
      summary: Delete admin ui role by role-name
      operationId: delete-adminui-role
      parameters:
      - name: adminUIRole
        in: path
        description: Admin UI role
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminRole'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
      security:
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin
      - oauth2:
        - https://jans.io/oauth/jans-auth-server/config/adminui/delete-all
components:
  schemas:
    JsonNode:
      type: object
    GenericResponse:
      type: object
      properties:
        success:
          type: boolean
        responseMessage:
          type: string
        responseCode:
          type: integer
          format: int32
        responseObject:
          $ref: '#/components/schemas/JsonNode'
        responseBytes:
          type: string
          format: byte
    AdminRole:
      type: object
      properties:
        role:
          type: string
        description:
          type: string
        deletable:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.readonly: View admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.write: Manage admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.delete: Delete admin user role related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.readonly: View admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.write: Manage admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.delete: Delete admin permission related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.readonly: View role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.write: Manage role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.delete: Delete role-permission mapping related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.readonly: View admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.write: Manage admin-ui license related information
            https://jans.io/oauth/jans-auth-server/config/adminui/license.admin: Full administrative access to license related information (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/security.readonly: View Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.write: Edit Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/security.delete: Delete Admin UI security related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.readonly: View Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/properties.write: Manage Admin UI configuration properties related information
            https://jans.io/oauth/jans-auth-server/config/adminui/user/role.admin: Full administrative access to admin user roles (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/permission.admin: Full administrative access to admin permissions (super-user level)
            https://jans.io/oauth/jans-auth-server/config/adminui/user/rolePermissionMapping.admin: Full administrative access to role-permission mappings (super-user level)
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
