openapi: 3.2.0
info:
  title: Janssen Authorization Server User Info API
  description: Janssen Authorization Server - OAuth 2.0 server; OpenID Connect Provider (OP) & UMA Authorization Server (AS)
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io/jans-auth
tags:
- name: User Info
paths:
  /restv1/userinfo:
    get:
      tags:
      - User Info
      summary: Returns Claims about the authenticated End-User
      description: Returns Claims about the authenticated End-User.
      operationId: get-userinfo
      parameters:
      - name: access_token
        in: query
        required: true
        description: OAuth 2.0 Access Token.
        schema:
          type: string
      - name: Authorization
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/jwt:
              schema:
                title: User Claims details
                properties:
                  sub:
                    type: integer
                    example: 248289761001
                  name:
                    type: string
                    example: Jane Doe
                  given_name:
                    type: string
                    example: Jane
                  family_name:
                    type: string
                    example: Doe
                  preferred_username:
                    type: string
                    example: j.doe
                  email:
                    type: string
                    example: janedoe@example.com
                  picture:
                    type: string
                    example: http://example.com/janedoe/me.jpg
        400:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_request
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_token
                  error_description:
                    type: string
                  details:
                    type: string
        403:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - insufficient_scope
                  error_description:
                    type: string
                  details:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
      - User Info
      summary: Returns Claims about the authenticated End-User
      description: Returns Claims about the authenticated End-User.
      operationId: post-userinfo
      parameters:
      - name: Authorization
        in: header
        description: Client Authorization details that contains the access token along with other details.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - access_token
              properties:
                access_token:
                  type: string
                  description: OAuth 2.0 Access Token.
      responses:
        200:
          description: OK
          content:
            application/jwt:
              schema:
                title: User Claims details
                properties:
                  sub:
                    type: integer
                    example: 248289761001
                  name:
                    type: string
                    example: Jane Doe
                  given_name:
                    type: string
                    example: Jane
                  family_name:
                    type: string
                    example: Doe
                  preferred_username:
                    type: string
                    example: j.doe
                  email:
                    type: string
                    example: janedoe@example.com
                  picture:
                    type: string
                    example: http://example.com/janedoe/me.jpg
        400:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_request
                  error_description:
                    type: string
                  details:
                    type: string
        401:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - invalid_token
                  error_description:
                    type: string
                  details:
                    type: string
        403:
          description: Invalid parameters provided to endpoint.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                - error_description
                properties:
                  error:
                    type: string
                    format: enum
                    example:
                    - insufficient_scope
                  error_description:
                    type: string
                  details:
                    type: string
        500:
          $ref: '#/components/responses/InternalServerError'
components:
  responses:
    InternalServerError:
      description: Internal error occured. Please check log file for details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      required:
      - error
      - error_description
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        details:
          type: string
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
