openapi: 3.2.0
info:
  title: Jans Config OAuth - UMA Resources API
  contact:
    name: Contact
    url: https://github.com/JanssenProject/jans/discussions
  license:
    name: License
    url: https://github.com/JanssenProject/jans/blob/main/LICENSE
  version: OAS Version
servers:
- url: https://jans.local.io
  description: The Jans server
tags:
- name: OAuth - UMA Resources
paths:
  /api/v1/uma/resources:
    get:
      tags:
      - OAuth - UMA Resources
      summary: Gets list of UMA resources
      operationId: get-oauth-uma-resources
      parameters:
      - name: limit
        in: query
        description: Search size - max size of the results to return
        schema:
          type: integer
          format: int32
          default: 50
      - name: pattern
        in: query
        description: Search pattern
        schema:
          type: string
          default: ''
      - name: startIndex
        in: query
        description: The 1-based index of the first query result
        schema:
          type: integer
          format: int32
          default: 0
      - name: sortBy
        in: query
        description: Attribute whose value will be used to order the returned response
        schema:
          type: string
          default: inum
      - name: sortOrder
        in: query
        description: Order in which the sortBy param is applied. Allowed values are "ascending" and "descending"
        schema:
          type: string
          default: ascending
      - name: fieldValuePair
        in: query
        description: Field and value pair for seraching
        schema:
          type: string
          default: ''
        examples:
          Field value example:
            description: Field value example
            value: deletable=true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResult'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"start\": 0,\n    \"totalEntriesCount\": 3,\n    \"entriesCount\": 3,\n    \"entries\": [\n        {\n            \"dn\": \"jansId=55d70ecd-8572-43dd-895f-ecfaf09bf513,ou=resources,ou=uma,o=jans\",\n            \"id\": \"55d70ecd-8572-43dd-895f-ecfaf09bf513\",\n            \"name\": \"config-api-resource\",\n            \"iconUri\": \"https://config-api.com\",\n            \"scopes\": [\n                \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n            ],\n            \"clients\": [\n                \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n            ],\n            \"description\": \"Uma resource config api\",\n            \"deletable\": false\n        },\n        {\n            \"dn\": \"jansId=4754f784-e80f-4a36-a014-173bd3e6fb6f,ou=resources,ou=uma,o=jans\",\n            \"id\": \"4754f784-e80f-4a36-a014-173bd3e6fb6f\",\n            \"name\": \"uma-resource-1\",\n            \"iconUri\": \"https://config-api.com\",\n            \"scopes\": [\n                \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n            ],\n            \"clients\": [\n                \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n                \"inum=1201.1d010784-b5bf-4813-8f49-cfea00f50498,ou=clients,o=jans\"\n            ],\n            \"description\": \"Uma resource one\",\n            \"deletable\": false\n        },\n        {\n            \"dn\": \"jansId=b0e7e1d7-ab67-45ec-be16-4466da70e63b,ou=resources,ou=uma,o=jans\",\n            \"id\": \"b0e7e1d7-ab67-45ec-be16-4466da70e63b\",\n            \"name\": \"uma-resource-2\",\n            \"iconUri\": \"https://config-api.com\",\n            \"scopes\": [\n                \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n            ],\n            \"clients\": [\n                \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n                \"inum=1201.1d010784-b5bf-4813-8f49-cfea00f50498,ou=clients,o=jans\"\n            ],\n            \"description\": \"Uma resource two\",\n            \"deletable\": false\n        }\n    ]\n}\n"
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.readonly
      - oauth2:
        - https://jans.io/oauth/config/uma.write
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    put:
      tags:
      - OAuth - UMA Resources
      summary: Updates an UMA resource
      operationId: put-oauth-uma-resources
      requestBody:
        description: UmaResource object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmaResource'
            examples:
              Request json example:
                description: Request json example
                value: "{\n    \"dn\": \"jansId=55d70ecd-8572-43dd-895f-ecfaf09bf513,ou=resources,ou=uma,o=jans\",\n    \"id\": \"55d70ecd-8572-43dd-895f-ecfaf09bf513\",\n    \"name\": \"config-api-resource\",\n    \"iconUri\": \"https://config-api.com\",\n    \"scopes\": [\n        \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n    ],\n    \"clients\": [\n        \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n    ],\n    \"description\": \"Uma resource config api\",\n    \"deletable\": false\n}\n"
      responses:
        '200':
          description: UmaResource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaResource'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"jansId=55d70ecd-8572-43dd-895f-ecfaf09bf513,ou=resources,ou=uma,o=jans\",\n    \"id\": \"55d70ecd-8572-43dd-895f-ecfaf09bf513\",\n    \"name\": \"config-api-resource\",\n    \"iconUri\": \"https://config-api.com\",\n    \"scopes\": [\n        \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n    ],\n    \"clients\": [\n        \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n    ],\n    \"description\": \"Uma resource config api\",\n    \"deletable\": false\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.write
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/write-all
    post:
      tags:
      - OAuth - UMA Resources
      summary: Creates an UMA resource
      operationId: post-oauth-uma-resources
      requestBody:
        description: UmaResource object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmaResource'
            examples:
              Request json example:
                description: Request json example
                value: " {\n        \"name\": \"config-api-resource\",\n        \"iconUri\": \"https://config-api.com\",\n        \"clients\": [\n            \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n        ],\n        \"scopes\":[\n            \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n        ],\n        \"description\": \"Uma resource config api\",\n        \"deletable\": false\n    }\n"
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaResource'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"jansId=55d70ecd-8572-43dd-895f-ecfaf09bf513,ou=resources,ou=uma,o=jans\",\n    \"id\": \"55d70ecd-8572-43dd-895f-ecfaf09bf513\",\n    \"name\": \"config-api-resource\",\n    \"iconUri\": \"https://config-api.com\",\n    \"scopes\": [\n        \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n    ],\n    \"clients\": [\n        \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n    ],\n    \"description\": \"Uma resource config api\",\n    \"deletable\": false\n}\n"
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.write
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/write-all
  /api/v1/uma/resources/{id}:
    get:
      tags:
      - OAuth - UMA Resources
      summary: Gets an UMA resource by ID
      operationId: get-oauth-uma-resources-by-id
      parameters:
      - name: id
        in: path
        description: Resource description ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaResource'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"jansId=55d70ecd-8572-43dd-895f-ecfaf09bf513,ou=resources,ou=uma,o=jans\",\n    \"id\": \"55d70ecd-8572-43dd-895f-ecfaf09bf513\",\n    \"name\": \"config-api-resource\",\n    \"iconUri\": \"https://config-api.com\",\n    \"scopes\": [\n        \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n    ],\n    \"clients\": [\n        \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n    ],\n    \"description\": \"Uma resource config api\",\n    \"deletable\": false\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.readonly
      - oauth2:
        - https://jans.io/oauth/config/uma.write
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
    delete:
      tags:
      - OAuth - UMA Resources
      summary: Deletes an UMA resource
      operationId: delete-oauth-uma-resources-by-id
      parameters:
      - name: id
        in: path
        description: Resource description ID
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.delete
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/delete-all
    patch:
      tags:
      - OAuth - UMA Resources
      summary: Patch UMA resource
      operationId: patch-oauth-uma-resources-by-id
      parameters:
      - name: id
        in: path
        description: Resource description ID
        required: true
        schema:
          type: string
      requestBody:
        description: String representing patch-document.
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/JsonPatch'
            examples:
              Request json example:
                description: Request json example
                value: example/uma/resources/uma-resources-patch
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UmaResource'
              examples:
                Response json example:
                  description: Response json example
                  value: "{\n    \"dn\": \"jansId=55d70ecd-8572-43dd-895f-ecfaf09bf513,ou=resources,ou=uma,o=jans\",\n    \"id\": \"55d70ecd-8572-43dd-895f-ecfaf09bf513\",\n    \"name\": \"config-api-resource\",\n    \"iconUri\": \"https://config-api.com\",\n    \"scopes\": [\n        \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n    ],\n    \"clients\": [\n        \"inum=1800.e9131b86-f39f-421c-9dde-b7f90c21a2fe,ou=clients,o=jans\"\n    ],\n    \"description\": \"Uma resource config api\",\n    \"deletable\": false\n}\n"
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.write
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/write-all
  /api/v1/uma/resources/clientId/{clientId}:
    get:
      tags:
      - OAuth - UMA Resources
      summary: Fetch uma resources by client id
      operationId: get-oauth-uma-resources-by-clientid
      parameters:
      - name: clientId
        in: path
        description: Client ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UmaResource'
              examples:
                Response json example:
                  description: Response json example
                  value: "[\n    {\n        \"dn\": \"jansId=b0e7e1d7-ab67-45ec-be16-4466da70e63b,ou=resources,ou=uma,o=jans\",\n        \"id\": \"b0e7e1d7-ab67-45ec-be16-4466da70e63b\",\n        \"name\": \"uma-resource-2\",\n        \"iconUri\": \"https://config-api.com\",\n        \"scopes\": [\n            \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n        ],\n        \"clients\": [\n            \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n            \"inum=1201.1d010784-b5bf-4813-8f49-cfea00f50498,ou=clients,o=jans\"\n        ],\n        \"description\": \"Uma resource two\",\n        \"deletable\": false\n    },\n    {\n        \"dn\": \"jansId=4754f784-e80f-4a36-a014-173bd3e6fb6f,ou=resources,ou=uma,o=jans\",\n        \"id\": \"4754f784-e80f-4a36-a014-173bd3e6fb6f\",\n        \"name\": \"uma-resource-1\",\n        \"iconUri\": \"https://config-api.com\",\n        \"scopes\": [\n            \"inum=ab47c599-d188-44b6-a32a-91e6b173856a,ou=scopes,o=jans\"\n        ],\n        \"clients\": [\n            \"inum=1800.768b3d38-a6e8-4be4-93d1-72df33d34fd6,ou=clients,o=jans\",\n            \"inum=1201.1d010784-b5bf-4813-8f49-cfea00f50498,ou=clients,o=jans\"\n        ],\n        \"description\": \"Uma resource one\",\n        \"deletable\": false\n    }\n]\n"
        '401':
          description: Unauthorized
        '500':
          description: InternalServerError
      security:
      - oauth2:
        - https://jans.io/oauth/config/uma.readonly
      - oauth2:
        - https://jans.io/oauth/config/uma.write
      - oauth2:
        - https://jans.io/oauth/config/uma.admin
      - oauth2:
        - https://jans.io/oauth/config/read-all
      - oauth2:
        - https://jans.io/oauth/config/write-all
components:
  schemas:
    JsonPatch:
      type: object
    UmaResource:
      required:
      - name
      type: object
      properties:
        dn:
          type: string
        inum:
          type: string
        id:
          type: string
        name:
          type: string
        iconUri:
          type: string
        scopes:
          type: array
          items:
            type: string
        scopeExpression:
          type: string
        clients:
          type: array
          items:
            type: string
        resources:
          type: array
          items:
            type: string
        creator:
          type: string
        description:
          type: string
        type:
          type: string
        creationDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        deletable:
          type: boolean
        ttl:
          type: integer
          format: int32
    PagedResult:
      type: object
      properties:
        start:
          type: integer
          format: int32
        totalEntriesCount:
          type: integer
          format: int32
        entriesCount:
          type: integer
          format: int32
        entries:
          type: array
          items:
            type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://{op-hostname}/.../token
          scopes:
            https://jans.io/oauth/jans-auth-server/config/properties.readonly: View Auth Server properties related information
            https://jans.io/oauth/jans-auth-server/config/properties.write: Manage Auth Server properties related information
            https://jans.io/oauth/config/attributes.readonly: View attribute related information
            https://jans.io/oauth/config/attributes.write: Manage attribute related information
            https://jans.io/oauth/config/attributes.delete: Delete attribute related information
            https://jans.io/oauth/config/acrs.readonly: View ACRS related information
            https://jans.io/oauth/config/acrs.write: Manage ACRS related information
            https://jans.io/oauth/config/database/ldap.readonly: View LDAP database related information
            https://jans.io/oauth/config/database/ldap.write: Manage LDAP database related information
            https://jans.io/oauth/config/database/ldap.delete: Delete LDAP database related information
            https://jans.io/oauth/config/scripts.readonly: View cache scripts information
            https://jans.io/oauth/config/scripts.write: Manage scripts related information
            https://jans.io/oauth/config/scripts.delete: Delete scripts related information
            https://jans.io/oauth/config/cache.readonly: View cache related information
            https://jans.io/oauth/config/cache.write: Manage cache related information
            https://jans.io/oauth/config/smtp.readonly: View SMTP related information
            https://jans.io/oauth/config/smtp.write: Manage SMTP related information
            https://jans.io/oauth/config/smtp.delete: Delete SMTP related information
            https://jans.io/oauth/config/logging.readonly: View logging related information
            https://jans.io/oauth/config/logging.write: Manage logging related information
            https://jans.io/oauth/config/jwks.readonly: View JWKS related information
            https://jans.io/oauth/config/jwks.write: Manage JWKS related information
            https://jans.io/oauth/config/jwks.delete: Delete JWKS related information
            https://jans.io/oauth/config/openid/clients.readonly: View clients related information
            https://jans.io/oauth/config/openid/clients.write: Manage clients related information
            https://jans.io/oauth/config/openid/clients.delete: Delete clients related information
            https://jans.io/oauth/config/scopes.readonly: View scope related information
            https://jans.io/oauth/config/scopes.write: Manage scope related information
            https://jans.io/oauth/config/scopes.delete: Delete scope related information
            https://jans.io/oauth/config/stats.readonly: View server with basic statistic
            https://jans.io/oauth/config/organization.readonly: View organization configuration information
            https://jans.io/oauth/config/organization.write: Manage organization configuration information
            https://jans.io/oauth/config/agama.readonly: View Agama Flow related information
            https://jans.io/oauth/config/agama.write: Manage Agama Flow related information
            https://jans.io/oauth/config/agama.delete: Delete Agama Flow related information
            https://jans.io/oauth/jans-auth-server/session.readonly: View Session related information
            https://jans.io/oauth/jans-auth-server/session.delete: Delete Session information
            https://jans.io/oauth/config/read-all: Super admin read access to all configuration resources
            https://jans.io/oauth/config/write-all: Super admin write access to all configuration resources
            https://jans.io/oauth/config/delete-all: Super admin delete access to all configuration resources
            https://jans.io/oauth/config/openid/openid.readonly: View OpenID functionality
            https://jans.io/oauth/config/openid/openid.write: Manage OpenID functionality
            https://jans.io/oauth/config/openid/openid.delete: Delete OpenID functionality
            https://jans.io/oauth/config/uma.readonly: View UMA functionality
            https://jans.io/oauth/config/uma.write: Manage UMA functionality
            https://jans.io/oauth/config/uma.delete: Delete UMA functionality
            https://jans.io/oauth/config/plugin.readonly: View Plugin information
            https://jans.io/oauth/config/properties.readonly: View Config-API related configuration properties
            https://jans.io/oauth/config/properties.write: Manage Config-API related configuration properties
            https://jans.io/oauth/client/authorizations.readonly: View ClientAuthorizations
            https://jans.io/oauth/client/authorizations.delete: Revoke ClientAuthorizations
            https://jans.io/oauth/config/asset.readonly: View Jans Assets
            https://jans.io/oauth/config/asset.write: Manage Jans Assets
            https://jans.io/oauth/config/asset.delete: Delete Jans Assets
            https://jans.io/oauth/config/token.readonly: View Token details
            https://jans.io/oauth/config/token.write: Manage Token details
            https://jans.io/oauth/config/token.delete: Delete Token details
            https://jans.io/oauth/config/data.readonly: View Config-API related data
            https://jans.io/oauth/config/ssa.readonly: View SSA details
            https://jans.io/oauth/config/ssa.write: Manage SSA details
            https://jans.io/oauth/config/ssa.delete: Delete SSA details
            https://jans.io/oauth/jans-auth-server/config/properties.admin: Admin scope for Auth Server properties
            https://jans.io/oauth/config/attributes.admin: Admin for Attribute management
            https://jans.io/oauth/config/acrs.admin: Admin for ACRS management
            https://jans.io/oauth/config/database.admin: Admin for Database config management
            https://jans.io/oauth/config/scripts.admin: Admin for Scripts management
            https://jans.io/oauth/config/cache.admin: Admin for Cache management
            https://jans.io/oauth/config/message.admin: Admin for Message management
            https://jans.io/oauth/config/smtp.admin: Admin for SMTP management
            https://jans.io/oauth/config/logging.admin: Admin for Logging management
            https://jans.io/oauth/config/jwks.admin: Admin for JWKS management
            https://jans.io/oauth/config/openid/clients.admin: Admin for clients management
            https://jans.io/oauth/config/token.admin: Admin for Token management
            https://jans.io/oauth/config/scopes.admin: Admin for scope management
            https://jans.io/oauth/config/stats.admin: Admin for statistic management
            https://jans.io/oauth/config/organization.admin: Admin for organization configuration management
            https://jans.io/oauth/config/agama.admin: Admin for Agama flow management
            https://jans.io/oauth/jans-auth-server/session.admin: Admin for Session management
            https://jans.io/oauth/config/uma.admin: Admin for UMA management
            https://jans.io/oauth/config/plugin.admin: Admin for Plugin management
            https://jans.io/oauth/config/properties.admin: Admin for Config-API management
            https://jans.io/oauth/client/authorizations.admin: Admin for Client Authorizations management
            https://jans.io/oauth/config/asset.admin: Admin for Jans Assets management
            https://jans.io/auth/ssa.admin: Admin for SSA management
            https://jans.io/oauth/config/health.admin: Admin for Health API management
